:root {
  --branco: #f8f8ff;
  --azul: #2a55c2;
  --preto: #121212;
  --azul-claro: rgba(42, 85, 194, 0.5);
  --laranja: #f89701;
  --verde-escuro: #499136;
  --verde: #7ad761;
  --cinza-claro: rgba(217, 217, 217, 0.5);
}
