@import url(../css/font.css);
@import url(../css/cores.css);

.campo-titulo {
  margin: 110px 50px 40px 50px;
}

.titulo-inicial {
  font-family: "Blinker-semibold";
  color: #2a55c2;
}

.campo-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.subtitulo {
  font-family: "Blinker-semibold";
  color: #121212;
}

.grupos {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grafico-coluna {
  background-color: #fff;
  width: 800px;
  height: 500px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

#columnchart_material {
  padding: 15px;
}

.notificacoes {
  display: flex;
  flex-direction: column;
}

.titulo-notificacoes {
  font-family: "Blinker-semibold";
  color: #121212;
  position: relative;
  bottom: 1em;
}

.fundo-notificacoes {
  background-color: #fff;
  width: 35em;
  height: 20em;
  border-radius: 15px;
  margin-top: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.grupo-mensagem {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.coluna-mensagem {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.titulo-mensagem,
.mensagem,
.horario {
  font-family: "Blinker-regular";
  color: #121212;
}

.mensagem {
  width: 90%;
  margin-top: 5px;
}

.span-mensagem {
  color: rgba(0, 0, 0, 0.67);
}

.horario {
  position: relative;
  top: 17px;
  left: 1em;
}

.doacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-doacoes {
  display: flex;
  flex-direction: row;
}

.titulo-doadores {
  font-family: "Blinker-semibold";
  color: #121212;
  position: relative;
  top: 2em;
  right: 9.5em;
}

.link-doacoes {
  font-family: "Poppins-regular";
  color: #2a55c2;
  font-size: 14px;
  position: relative;
  top: 2.8em;
  left: 12em;
}

.link-doacoes:hover {
  cursor: pointer;
}

.fundo-doacoes {
  background-color: #fff;
  width: 35em;
  height: 20em;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

.fundo-doacoes ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}

.fundo-doacoes li {
  font-family: "Poppins-regular";
  color: #808080;
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style: none;
}

.titulo-tabela {
  font-family: "Poppins-regular";
  font-size: 15px;
  margin: 15px;
}