:root {
  /* paleta principal */
  --branco: #f8f8ff;
  --verde: #7ad761;
  --verde-claro: #ecfdf3;
  --azul: #2a55c2;
  --cinza-claro: #d9d9d9;
  --cinza: #cdcdcd;
  --preto: #121212;
  --vermelho: #d40000;
  --vermelho-claro: #ffeeee;
}

@font-face {
  font-family: "Batangas";
  src: url(font/batangas-font-family-fontmirror/Batangas\ Bold\ 700.otf);
}

@font-face {
  font-family: "Blinker-regular";
  src: url(font/Blinker/Blinker-Regular.ttf);
}

@font-face {
  font-family: "Blinker-semibold";
  src: url(../font/Blinker/Blinker-SemiBold.ttf);
}

@font-face {
  font-family: "Blinker-extrabold";
  src: url(../font/Blinker/Blinker-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins-extralight";
  src: url(../font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../font/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-medium";
  src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-light";
  src: url(../font/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-semibold";
  src: url(../font/Poppins/Poppins-SemiBold.tff);
}

@font-face {
  font-family: "Poppins-extrabold";
  src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins-black";
  src: url(../font/Poppins/Poppins-Black.ttf);
}

*{
  margin: 0;
  padding: 0;

}

.ram {
  font-family: "Batangas";
  color: #3dd715;
  margin-left: 12px;
}

.point {
  font-family: "Batangas";
  color: var(--preto);
}

body {
  background-color: var(--branco);
}

.imagem-fundo {
  width: 100%;
  height: auto;
}

/* .titulo {
  font-family: "Blinker-regular", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 65px;
  color: var(--preto);
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  text-align: center;
  line-height: 65px;
}

.texto {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 20%;
  right: 15%;
  transform: translate(-50%, -50%);
  max-width: 35%;
  text-align: center;
} 

.texto span {
  color: #499136;
}

span {
  color: var(--azul);
}

.seta-branca {
  background-color: var(--azul);
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translate(50%, 50%);
  border-radius: 50%;
}

.seta-branca img {
  width: 10px;
  height: auto;
}
*/



.info-box {
  font-family: "Poppins-medium", sans-serif;
  font-size: 20px;
  margin: auto;
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.h1-info {
  font-family: "Blinker-extrabold", sans-serif;
  color: #7AD761;
  font-size: 40px;
  margin-bottom: 20px;
}

.p-info {
  font-family: "Poppins-light";
  font-size: 20px;
  color: #121212;
}


  

/* colocando endereco começo */

.form-conteiner {
  background-color: var(--cinza-claro);
  border-radius: 35px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 5%);
  margin: auto;
  display: flex;
  padding: 20px;
}

.form-conteiner form{
 display: flex;
 flex-direction: column;
}

#cep{
  grid-area: 'cep';
  
}

#rua{
  grid-area: 'rua';
  margin-bottom: 30px;
  padding-right: 100px;
}

#bairro{
  grid-area: 'bairro';
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #121212;
}
.form-conteiner ::-webkit-input-placeholder{
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}

input {
  background-color: var(--branco);
  border-radius: 30px;
  border: none;
  outline: none;
  height: 30px;
  width: 200px;
  margin-top: 5px;
}

.btn-lupa {
  background-color: var(--azul);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%); 
  cursor: pointer;
  grid-area: 'botao';
}

/* colocar endereco final */

.card p {
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 10px 0px;
}

.telefone, .endereco {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-left: 300px;
}

.card {
  max-width: 750px;
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.card h1 {
  color: #121212;
}

.card p {
  color: #121212;
}

.imagem-ecoponto {
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%);
}

.card-content {
  flex: 1;
}

.info-ecoponto {
  font-family: "Blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;  
}

.nome-ecoponto{
  font-family: "Blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
}

.card-content p {
  margin: 5px 0;
  max-width: 90%;
  margin-top: 15px;
}

.numero {
  text-decoration: underline;
  margin-top: 10px;
}

.descartes {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: auto;
  text-align: center;
}

.descartes p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.descarte img {
  width: 90px;
  height: 80px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.card-wrapper {
  width: 140px;
  height: 150px;
  text-align: center;
  margin: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 5px -3px 7px 2px inset;
  border-radius: 20px;
}

.card-wrapper p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-top: 15px;
  margin: bottom 10px;
}

.area-madeira {
  background-color: #c67dff;
}

.area-madeira p {
  color: #7b2bbe;
}

.area-pneu {
  background-color: #46c4ff;
}

.area-pneu p {
  color: #0076ac;
}

.area-reciclavel {
  background-color: var(--verde);
}

.area-reciclavel p {
  color: #499136;
}

.area-metal {
  background-color: #fee333;
}

.area-metal p {
  color: #f89701;
}

.area-eletronico {
  background-color: #e10531;
}

.area-eletronico p {
  color: #6b0015;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .local-resposta{
    display: flex;
    width: fit-content;
  }

  .informacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
