@import url(../css/font.css);

@import url(../css/cores.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--branco);
}

/* começo imagem inicial */

.imagem-fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

/* final imagem inicial */

/* começo textos */

#titulo1 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  font-size: 1.7em;
  margin: 1em 0 0.5em 8em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin: 1em 0 0.9em 15em;
  font-size: 0.9em;
  width: 70%;
}

.perifericos {
  margin-top: 3em;
}

/* final textos */

/* começo campo de duvida */

.duvida {
  margin: 1em 0 2em 16em;
  display: flex;
  align-items: center;
}

#pesquisa {
  background-color: var(--cinza-claro);
  padding: 10px;
  border: none;
  border-radius: 30px;
  width: 50em;
  height: 20px;
  max-width: 80%;
  margin-right: 10px;
  font-family: "Poppins-bold";
  color: var(--cinza);
}

#btn {
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: var(--azul);
  cursor: pointer;
}

/* começo campo de duvida */

.campo2 {
  margin-top: 3em;
}

/* começo das 'perguntas' */

.perguntas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

#titulo2 {
  font-size: 1em;
  color: var(--preto);
  margin-bottom: 1.2em;
}

#titulo-accordion {
  font-family: "Poppins-bold";
  color: var(--azul);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#titulo-pergunta {
  font-family: "Poppins-semibold";
  color: var(--preto);
  font-size: 0.9em;
}

#texto-pergunta {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 95%;
}

.faq-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.faq-sidebar {
  width: 25%;
  padding: 20px;
}

.faq-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.faq-sidebar li {
  margin: 10px 0;
}

.faq-sidebar a {
  font-family: "Poppins-medium";
  text-decoration: none;
  color: var(--preto);
  cursor: pointer;
  transition: none;
  font-size: 0.9em;
}

.faq-sidebar a.active {
  font-family: "Poppins-bold";
  color: var(--azul);
  transition: none;
}

.faq-content {
  width: 50%;
  padding: 20px;
}

.accordion {
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 1em 0;
  cursor: pointer;
  /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
}

.arrow-icon {
  transition: transform 0.3s ease;
  color: #2a55c2;
  margin-right: 2em;
}

.accordion-body {
  display: none;
  padding: 0.2em 0 0.5em 0.9em;
}

.accordion-header.active .arrow-icon {
  transform: rotate(180deg);
}

.accordion-header.active {
  color: var(--preto);
}

.accordion-header.active #titulo-pergunta {
  color: var(--azul);
}

.accordion-header.active .arrow-icon {
  color: var(--azul);
}

/* final das 'perguntas' */

/* começo do forms de feedback */

.campo3 {
  margin-bottom: 7em;
}

#ram-sentado {
  z-index: 1;
  position: relative;
  right: 42em;
  top: 12em;
}

.container-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.formulario-feedback {
  display: flex;
  flex-direction: column;
  background-color: var(--cinza-claro);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
  width: 35em;
  height: 25em;
  margin-top: 1em;
  padding: 1.5em;
  border-radius: 30px;
}

.container-email,
#bg-feedback {
  display: flex;
  flex-direction: column;
}

#campo-email,
#campo-feedback {
  font-family: "Poppins-medium";
  font-size: 0.9em;
  margin-top: 1em;
}

#email {
  background-color: var(--branco);
  border: none;
  outline: none;
  border-radius: 15px;
  width: 40em;
  padding: 0.5em;
  margin-top: 1em;
}

#feedback {
  background-color: var(--branco);
  border: none;
  outline: none;
  border-radius: 15px;
  max-width: 40em;
  min-width: 40em;
  max-height: 20em;
  min-height: 20em;
  padding: 0.5em;
  margin-top: 1em;
  resize: none;
}

#email::placeholder {
  font-family: "Poppins-semibold";
  color: var(--cinza);
  font-size: 0.9em;
}

#feedback::placeholder {
  font-family: "Poppins-semibold";
  color: var(--cinza);
  font-size: 0.9em;
}

#btn-feedback {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 1em 1em 0.5em 0;
}

#btn-enviar {
  background-color: var(--azul);
  border: none;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  right: 1em;
  bottom: 5em;
}

/* final do forms de feedback */

/* começo suporte */

.lista-suporte {
  margin-left: 15em;
}

#span-azul {
  font-family: "Poppins-extrabold";
  color: var(--azul);
}

.contato-suporte {
  font-family: "Poppins-medium";
  color: var(--preto);
  width: 80%;
  margin: 2em 0;
  list-style-type: none;
}

/* final suporte */