* {
    margin: 0px;
    padding: 0px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

body {
    background-color: #F8F8FF;
}


/* Header começo */
header {
    display: flex;
    width: 79%;
    font-family: 'Batangas';
    margin: auto;
    margin-top: 30px;
}

nav {
    color: black;
    font-family: "Blinker";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

/* Header final */