@import url(../css/font.css);

@import url(../css/cores.css);

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--branco);
}

h2 {
  padding-bottom: 10px;
}

/* começo da imagem inicial */

.imagem-fundo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 75%;
}

.inicio {
  flex-direction: column;
}

#titulo-inicial {
  font-family: "Blinker-extrabold";
  color: var(--preto);
  font-size: 4.5em;
  width: 25%;
  line-height: 0.8em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#texto-inicial {
  font-family: "Poppins-regular";
  color: var(--preto);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: 75%;
  font-size: 1em;
}

.botao {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}

#cadastro {
  font-family: "Poppins-bold";
  font-size: 1em;
  background-color: var(--verde);
  color: var(--branco);
  width: 200px;
  height: 40px;
  border: none;
  border-bottom: 5px solid #499136;
  border-radius: 30px;
  cursor: pointer;
}

#login {
  font-family: "Poppins-bold";
  font-size: 1em;
  background-color: var(--azul-claro);
  color: var(--branco);
  width: 200px;
  height: 40px;
  border: none;
  border-bottom: 5px solid #0076AC;
  border-radius: 30px;
  cursor: pointer;
}

/* final da imagem inicial */

/* começo dos textos */
#texto1,
#texto2 {
  margin-left: 150px;
  color: var(--preto);
  font-family: "Poppins-regular";
}

#titulo1 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  margin: 150px 0 15px 150px;
}

#titulo2 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  margin: 50px 0 0 150px;
}

#texto1 {
  max-width: 55%;
}

#texto2 {
  max-width: 50%;
}

span {
  font-family: "Poppins-semibold";
  color: var(--preto);
}

.parent {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(3, 0);
  grid-template-rows: 1fr 0fr 0 repeat(2, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.container-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0fr;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "texto texto imagem"
    "ram texto-ram texto-ram";
}

.texto {
  grid-area: texto;
}

.imagem-medalha {
  grid-area: imagem;
}

.medalhas {
  width: 450px;
}

.ramEmpe {
  width: 350px;
}

.imagem-ram {
  grid-area: ram;
  margin-left: 190px;
}

.texto-ram {
  grid-area: texto-ram;
}

/* final dos textos */

/* form sem meme */
.info-box {
  font-family: "Poppins-medium";
  margin: auto;
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#h1-info {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  margin-bottom: 20px;
}

#p-info {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin-bottom: 20px;
}

.conteiner-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  width: 730px;
  height: auto;
  border-radius: 30px;
  margin-top: 30px;
}

.box-codigo,
.box-pontos {
  display: flex;
  flex-direction: column;
}

#codigo,
#pontos {
  width: 340px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: var(--branco);
  outline: none;
  margin-left: 40px;
}

.qrCode {
  width: 160px;
  height: auto;
}

::placeholder {
  font-family: "Poppins-bold";
  color: rgba(42, 85, 194, 0.5);
  padding-left: 5px;
}

.btn-download,
.btn-salvar {
  font-family: "Poppins-bold";
  background-color: var(--azul);
  color: var(--branco);
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 30px;
}

/* .dropdown {
  position: relative;
  margin-top: 10px;
  width: 340px;
  height: 40px;
}

.dropdown::before {
  content: "";
  position: absolute;
  right: -70px;
  top: 8px;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 2px solid var(--azul);
  border-top: 1px solid var(--cinza-claro);
  border-right: 1px solid var(--cinza-claro);
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown.active::before {
  top: 25px;
  transform: rotate(-225deg);
}

.dropdown input {
  position: absolute;
  top: 0;
  left: 40px;
  width: 340px;
  height: 30px;
  cursor: pointer;
  background-color: var(--branco);
  border: none;
  outline: none;
  border-radius: 20px;
}

.dropdown .option {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 340px;
  background-color: var(--branco);
  border-radius: 15px;
  overflow: hidden;
  display: none;
}

.dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .option div:hover {
  background-color: var(--cinza-claro);
  color: var(--preto);
} */

/* colocando endereco começo */

.form-conteiner {
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 35px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-conteiner form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
}

.cep-rua {
  display: flex;
  margin-left: 15px;
}

.bairro-form {
  margin-left: 15px;
}

#cep {
  grid-area: "cep";
  padding-right: 100px;
}

#rua {
  grid-area: "rua";
  margin-bottom: 30px;
  padding-right: 180px;
}

.rua-form {
  margin-left: 60px;
}

#bairro {
  grid-area: "bairro";
  padding-right: 550px;
}

label {
  font-family: "Poppins-semibold";
  color: #121212;
  margin: 0;
}

.form-conteiner ::-webkit-input-placeholder {
  font-family: "Poppins-regular";
  padding-left: 20px;
  color: #121212;
}

input {
  background-color: var(--branco);
  border-radius: 30px;
  border: none;
  outline: none;
  height: 35px;
  width: 200px;
}

.btn-lupa {
  background-color: var(--azul);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%);
  cursor: pointer;
  position: relative;
  margin-left: 30px;
}

/* colocar endereco final */

.card p {
  font-family: "Poppins-black";
  margin: 0px 0px 10px 0px;
}

#telefone,
#endereco {
  font-family: "Poppins-bold";
  font-weight: 800;
}

h3 {
  font-family: "Poppins-bold";
  color: var(--preto);
  font-weight: 700;
  margin-left: 300px;
}

.card {
  max-width: 750px;
  width: 100%;
  margin: 35px auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card h1 {
  color: #121212;
}

.card p {
  color: #121212;
}

.imagem-ecoponto {
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%);
}

.card-content {
  flex: 1;
}

#info-ecoponto {
  font-family: "Blinker-extrabold";
  margin: 0;
}

#nome-ecoponto {
  font-family: "Blinker-extrabold";
  margin: 0;
}

.card-content p {
  margin: 5px 0;
  max-width: 90%;
  margin-top: 15px;
}

.numero {
  text-decoration: underline;
  margin-top: 10px;
}

.descartes {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: auto;
  text-align: center;
}

.descartes p {
  font-family: "Poppins-black";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.descarte img {
  width: 90px;
  height: 80px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 140px;
  height: 150px;
  text-align: center;
  margin: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 5px -3px 7px 2px inset;
  border-radius: 20px;
}

.card-wrapper p {
  font-family: "Poppins-black";
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 10px;
}

.area-madeira {
  background-color: #c67dff;
}

.area-madeira p {
  color: #7b2bbe;
}

.area-pneu {
  background-color: #46c4ff;
}

.area-pneu p {
  color: #0076ac;
}

.area-reciclavel {
  background-color: var(--verde);
}

.area-reciclavel p {
  color: #499136;
}

.area-metal {
  background-color: #fee333;
}

.area-metal p {
  color: #f89701;
}

.area-eletronico {
  background-color: #e10531;
}

.area-eletronico p {
  color: #6b0015;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.local-resposta {
  display: flex;
  width: fit-content;
}

.informacoes {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
