@font-face {
  font-family: "Blinker-extrabold";
  src: url(../font/Blinker/Blinker-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins-regular";
  src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-semibold";
  src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../font/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Batangas";
  src: url(font/batangas-font-family-fontmirror/Batangas\ Bold\ 700.otf);
}

@font-face {
  font-family: "Blinker-regular";
  src: url(font/Blinker/Blinker-Regular.ttf);
}

@font-face {
  font-family: "Blinker-semibold";
  src: url(../font/Blinker/Blinker-SemiBold.ttf);
}

@font-face {
  font-family: "Blinker-extrabold";
  src: url(../font/Blinker/Blinker-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins-extralight";
  src: url(../font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../font/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-medium";
  src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-light";
  src: url(../font/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-semibold";
  src: url(../font/Poppins/Poppins-SemiBold.tff);
}

@font-face {
  font-family: "Poppins-extrabold";
  src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins-black";
  src: url(../font/Poppins/Poppins-Black.ttf);
}

:root {
  --branco: #f8f8ff;
  --azul: #2a55c2;
  --preto: #121212;
  --azul-claro: rgba(42, 85, 194, 0.5);
  --laranja: #f89701;
  --verde-escuro: #499136;
  --verde: #7ad761;
  --cinza-claro: rgba(217, 217, 217, 0.5);
}

*{
  margin: 0;
  padding: 0;

}


body {
  color: var(--branco);
}

.imagem-fundo {
  display: flex;
  justify-content: center;
}

.card-header {
  text-align: center;
  padding: 30px 60px 0;
}

h2 {
  padding-bottom: 10px;
}


h1 {
  font-family: "Blinker-extrabold", sans-serif;
  color: var(--verde);
}

.titulo1,
.texto1,
.titulo2,
.texto2,
.titulo3,
.texto3 {
  margin-left: 150px;
}

.titulo3 {
  margin-top: 50px;
}

.texto1 {
  max-width: 55%;
}

.texto2 {
  max-width: 50%;
}

p {
  font-family: "Poppins-regular";
  color: var(--preto);
}

span {
  font-family: "Poppins-semibold";
  color: var(--preto);
}

.parent {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(3, 0);
  grid-template-rows: 1fr 0fr 0 repeat(2, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0fr;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "texto texto imagem"
    "ram texto-ram texto-ram";
    margin-bottom: 90px;
}

.texto {
  grid-area: texto;
}

.imagem-medalha {
  grid-area: imagem;
}

.medalhas {
  width: 450px;
}

.ramEmpe {
  width: 350px;
}

.imagem-ram {
  grid-area: ram;
  margin-left: 190px;
}

.texto-ram {
  grid-area: texto-ram;
}



/* form sem meme */
.info-box {
  font-family: "Poppins-medium", sans-serif;
  font-size: 20px;
  margin: auto;
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.h1-info {
  font-family: "Blinker-extrabold", sans-serif;
  color: #7AD761;
  font-size: 40px;
  margin-bottom: 20px;
}

.p-info {
  font-family: "Poppins-light";
  font-size: 20px;
  color: #121212;
}
.conteiner-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  background-color: var(--cinza-claro);
  width: 730px;
  height: auto;
  border-radius: 30px;
  margin-top: 30px;
} 

label {
  font-family: "Poppins-semibold", sans-serif;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.box-codigo,
.box-pontos {
  display: flex;
  flex-direction: column;
}

#codigo,
#pontos {
  width: 340px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: var(--branco);
  outline: none;
  margin-left: 40px;
}

.qrCode {
  width: 160px;
  height: auto;
}

.btn-concluido {
  font-family: "Poppins-bold";
  background-color: var(--verde);
  color: var(--branco);
  width: 160px;
  height: 30px;
  border: none;
  border-radius: 30px;
}

::placeholder {
  font-family: "Poppins-bold";
  color: var(--azul-claro);
  padding-left: 5px;
}

.btn-download,
.btn-salvar {
  font-family: "Poppins-bold";
  background-color: var(--azul);
  color: var(--branco);
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 30px;
}

.dropdown {
    position: relative;
    margin-top: 10px;
    width: 340px;
    height: 40px;
}

.dropdown::before {
    content: '';
    position: absolute;
    right: -70px;
    top: 8px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid var(--azul);
    border-top: 1px solid var(--cinza-claro);
    border-right: 1px solid var(--cinza-claro);
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
} 

.dropdown.active::before {
    top: 25px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 40px;
    width: 340px;
    height: 30px;
    cursor: pointer;
    background-color: var(--branco);
    border: none;
    outline: none;
    border-radius: 20px;
}

.dropdown .option {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 340px;
    background-color: var(--branco);
    border-radius: 15px;
    overflow: hidden;
    /* display: none; */
} 

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    background-color: var(--cinza-claro);
    color: var(--preto);
}

/* colocando endereco começo */

.form-conteiner {
  background-color:rgba(217, 217, 217, 0.5);
  border-radius: 35px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
 
.form-conteiner form{
 display: flex;
 flex-direction: column;
 margin-bottom: 20px;
 background-color:rgba(217, 217, 217, 0.5);
 width:100%;
} 

.cep-rua{
  display: flex;
  margin-left: 15px;
}

.bairro-form{
  margin-left: 15px;
}


#cep{
  grid-area: 'cep';
  padding-right: 100px;
}

#rua{
  grid-area: 'rua';
  margin-bottom: 30px;
  padding-right: 180px;
}

.rua-form{
  margin-left: 60px;
}

#bairro{
  grid-area: 'bairro';
  padding-right: 550px;
}


label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #121212;
  margin: 0;
}
.form-conteiner ::-webkit-input-placeholder{
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  color: #121212;
}

input {
  background-color: var(--branco);
  border-radius: 30px;
  border: none;
  outline: none;
  height: 35px;
  width: 200px;
  
}

.btn-lupa {
  background-color: var(--azul);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%); 
  cursor: pointer;
  position: relative;
  margin-left: 30px;
}

/* colocar endereco final */

.card p {
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 10px 0px;
}

.telefone, .endereco {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-left: 300px;
}

.card {
  max-width: 750px;
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card h1 {
  color: #121212;
}

.card p {
  color: #121212;
}

.imagem-ecoponto {
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%);
}

.card-content {
  flex: 1;
}

.info-ecoponto {
  font-family: "Blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;  
}

.nome-ecoponto{
  font-family: "Blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
}

.card-content p {
  margin: 5px 0;
  max-width: 90%;
  margin-top: 15px;
}

.numero {
  text-decoration: underline;
  margin-top: 10px;
}

.descartes {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: auto;
  text-align: center;
}

.descartes p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.descarte img {
  width: 90px;
  height: 80px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 140px;
  height: 150px;
  text-align: center;
  margin: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 5px -3px 7px 2px inset;
  border-radius: 20px;
}

.card-wrapper p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 10px;
  
}

.area-madeira {
  background-color: #c67dff;
}

.area-madeira p {
  color: #7b2bbe;
}

.area-pneu {
  background-color: #46c4ff;
}

.area-pneu p {
  color: #0076ac;
}

.area-reciclavel {
  background-color: var(--verde);
}

.area-reciclavel p {
  color: #499136;
}

.area-metal {
  background-color: #fee333;
}

.area-metal p {
  color: #f89701;
}

.area-eletronico {
  background-color: #e10531;
}

.area-eletronico p {
  color: #6b0015;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .local-resposta{
    display: flex;
    width: fit-content;
  }

  .informacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }