@media (max-width: 320px) {
    .container {
      width: 320px;
      height: auto;
      position: none;
    }
  
    .flor img {
      visibility: hidden;
    }
  
    h2 {
      margin: 0;
    }
  
    h3 {
      margin-top: 15px;
    }
  
    .email {
      width: 200px;
      height: auto;
      display: flex;
      flex-direction: row;
      margin-left: 30px;
    }
  
    .logoBranca-small {
      width: 150px;
    }
  
    .container .logo {
      width: 80px;
    }
  }
  
  @media (max-width: 375px) {
    .flor img {
      visibility: hidden;
    }
  }
  
  @media (max-width: 425px) {
    .flor img {
      visibility: hidden;
    }
  
    .email {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
    }
  
    .container .descricao-footer {
      margin-top: 0;
      display: block;
    }
  
    .descricao-footer {
      flex-direction: column;
      justify-content: center;
      margin-top: 40px;
      max-width: 100%;
    }
  
    .geral, .contato {
      margin: 70px;
    }
  
    .endereco {
      max-width: 100%;
    }
  
    .container button {
      margin-right: 10px;
    }
  
    .logoBranca-small {
      width: 150px;
    }
  
    h3 {
      margin-top: 15px;
    }
  }
  
  
  @media (max-width: 500px) {
    .container .logo {
      margin: 0;
      bottom: 20px;
      flex-direction: column;
    }
  
    .flor img {
      visibility: hidden;
    }
  }
  
  @media (max-width: 540px) {
    .flor img {
      visibility: hidden;
    }
  }
  
  @media (max-width: 800px) {
    .flor img {
      visibility: hidden;
    }
    
    .logoBranca {
      display: none;
    }
  
    .logoBranca-small {
      display: block;
      width: 150px;
    }
  
    p {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 1000px) {
    .descricao-footer {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 40px;
      max-width: 100%;
    }
  
  
    .copyright {
      margin-left: 80px;
    }
  
  }