/* Dispositivos móveis pequenos (em pé) */
@media (min-width: 320px) and (max-width: 421px) {
  /* Estilos aqui */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* imagem inicial */

  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 35em;
  }

  .internos-inicial {
    position: relative;
    right: 8em;
    top: 5em;
  }

  .brilho-inicial {
    position: relative;
    right: 8em;
    top: 15em;
    z-index: -1;
  }

  .monitor-inicial {
    position: relative;
    right: 8em;
    top: 25em;
  }

  .roxo-inicial {
    position: relative;
    left: 8em;
    top: 15em;
  }

  .brilho-inicial2 {
    position: relative;
    left: 8em;
    top: 29em;
    z-index: -1;
  }

  .teclado-inicial {
    position: relative;
    left: 8em;
    top: 35em;
  }

  .imagem-inicial {
    width: 350px;
    margin: 0 0 30px 0;
    z-index: -1;
  }

  #titulo-inicial {
    font-size: 4em;
    width: 90%;
    margin: 0 0 30px 0;
    text-align: center;
  }

  #texto-inicial {
    width: 95%;
    margin: 0;
    text-align: center;
    font-size: 1em;
  }

  .botao {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
    margin-left: 4em;
  }
  /* imagem inicial */

  /* grid */

  .container-grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  #texto1 {
    margin: 20px 70px -40px 70px;
    text-align: center;
  }

  #texto2 {
    margin: 20px 70px;
    text-align: center;
  }

  #titulo1 {
    text-align: center;
    font-size: 1.7em;
    margin: 280px 0 10px 0px;
  }

  #titulo2 {
    text-align: center;
    font-size: 1.5em;
    margin: 0px 0 0 0px;
  }

  .imagem-medalha {
    width: 50%;
    height: 50%;
  }

  #medalhas {
    width: 350px;
    margin-left: 60px;
  }

  .imagem-ram {
    margin-left: 65px;
  }

  .ramEmpe {
    width: 290px;
    margin: 0;
  }

  /* grid */

  /* forms */

  #ecopontos {
    max-width: 50%;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  #h1-info {
    text-align: center;
    width: 15em;
  }

  #p-info {
    text-align: center;
    width: 15em;
    margin-bottom: 30px;
  }

  .form-conteiner {
    padding: 10px;
    flex-direction: row;
    width: 300px;
  }

  input {
    width: 150px;
    height: 35px;
    max-width: 100%;
    margin-right: 0px;
  }

  .cep-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    max-width: 100%;
  }

  .cep-rua {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .rua-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 0 20px;
  }

  #rua {
    padding-right: 100px;
  }

  #bairro {
    padding-right: 100px;
  }

  .bairro-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .btn-lupa {
    margin: 30px 0 0 50px;
  }
  /* forms */

  /* ecoponto */

  #titulo-descarte {
    margin-left: 30px;
  }

  .card {
    max-width: 750px;
    width: 100%;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-content p {
    margin-left: 50px;
    max-width: 80%;
    margin-top: 15px;
  }

  #info-ecoponto,
  #nome-ecoponto {
    margin-left: 50px;
  }

  .imagem-ecoponto {
    margin: 15px 0;
  }
  /* ecoponto */

  /* footer */

  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-left: 55px;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 55px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 85px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }
  /* footer */
}

/* Dispositivos móveis grandes (em pé) */
@media (max-width: 425px) {
  /* Estilos aqui */
  .footer-container .logo {
    margin: 0;
    bottom: 20px;
    flex-direction: column;
  }

  .footer-container .descricao-footer {
    /* margin-top: 0; */
    display: block;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    max-width: 100%;
  }

  .endereco {
    max-width: 100%;
  }

  .footer-container button {
    margin-right: 10px;
  }
}

/* quebrando a linha da imagem */

@media (max-width: 670px) {
  .flor img {
    visibility: hidden;
  }
}
/* Dispositivos móveis em modo paisagem (tela horizontal) */
@media (max-width: 767px) {
  /* Estilos aqui */
}

/* Tablets em modo retrato (tela vertical) */
@media (max-width: 768px) {
  /* Estilos aqui */
}

/* Tablets em modo paisagem (tela horizontal) */
@media (min-width: 1024px) {
  /* Estilos aqui */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  nav ul {
    width: 95%;
    margin-left: 40px;
  }

  /* começo da imagem inicial */

  .inicio {
    margin-left: 5em;
  }

  .imagem-inicial {
    margin-left: 15em;
  }

  #titulo1 {
    margin: 80px 0 35px 100px;
  }

  #texto1 {
    margin-left: 100px;
    max-width: 85%;
  }

  #titulo2 {
    margin: 80px 0 35px 100px;
  }

  #texto2 {
    margin-left: 100px;
    max-width: 85%;
  }

  #medalhas {
    width: 380px;
    margin-left: 0px;
  }

  .imagem-medalha {
    grid-area: imagem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  #perfil {
    float: left;
    display: none;
  }

  #drop {
    display: block;
  }

  .container-grid {
    grid-template-areas:
      "texto texto imagem"
      "texto-ram texto-ram ram";
  }

  .bairro-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .btn-lupa {
    margin: 30px 0 0 30px;
  }

  #titulo-descarte {
    margin-left: 0px;
    margin-right: 570px;
  }
}

/* Laptops pequenos */
@media (max-width: 1280px) {
  /* Estilos aqui */
  .logoBranca {
    display: none;
  }
}

/* Laptops e desktops */
@media (max-width: 1440px) {
  /* Estilos aqui */
}

/* Telas grandes */
@media (max-width: 1920px) {
  /* Estilos aqui */
}

/* header layout */
@media (max-width: 895px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }

  nav ul {
    background-color: var(--branco);
    width: 415px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }
  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }
}
