/* Estilos gerais para dispositivos móveis */
@media only screen and (max-width: 768px) {
  nav ul {
    flex-direction: row
    align-items: flex-start;
    height: auto;
  }

  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .inicio {
    margin-left: 1em;
  }

  .imagem-inicial {
    width: 100%;
    margin-left: 0;
  }

  .internos-inicial,
  .brilho-inicial,
  .monitor-inicial,
  .roxo-inicial,
  .brilho-inicial2,
  .teclado-inicial {
    position: static;
    margin: 10px auto;
    width: 80%;
  }

  .container-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto,
  .imagem-medalha,
  .imagem-ram,
  .texto-ram {
    width: 90%;
    margin: 10px auto;
  }

  .info-box {
    text-align: center;
  }

  .form-conteiner form {
    flex-direction: column;
    align-items: center;
  }

  .cep-rua,
  .bairro-form {
    width: 100%;
  }

  .card-content {
    text-align: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card-wrapper {
    width: 90%;
    margin: 10px 0;
  }

  .footer-container {
    padding: 20px;
    text-align: center;
  }

  .descricao-footer {
    flex-direction: column;
    align-items: center;
  }

  .logo,
  .geral,
  .redes-sociais,
  .contato {
    width: 100%;
    margin: 10px 0;
  }
}

/* Estilos gerais para telas maiores */
@media only screen and (min-width: 769px) {
  .menu-button {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .hideOnMobile {
    display: flex;
  }
}
