:root {
  --branco: #f8f8ff;
  --azul: #2a55c2;
  --preto: #121212;
  --azul-claro: rgba(42, 85, 194, 0.5);
  --laranja: #f89701;
  --verde-escuro: #499136;
  --verde: #7ad761;
  --cinza-claro: rgba(217, 217, 217, 0.5);
}

/* Batangas */

@font-face {
  font-family: "Batangas";
  src: url(../font/batangas-font-family-fontmirror/Batangas\ Bold\ 700.otf);
}

/* Blinker */

@font-face {
  font-family: "Blinker-black";
  src: url(../font/Blinker/Blinker-Black.ttf);
}

@font-face {
  font-family: "Blinker-bold";
  src: url(../font/Blinker/Blinker-Bold.ttf);
}

@font-face {
  font-family: "Blinker-semibold";
  src: url(../font/Blinker/Blinker-SemiBold.ttf);
}

@font-face {
  font-family: "Blinker-extrabold";
  src: url(../font/Blinker/Blinker-ExtraBold.ttf);
}

@font-face {
  font-family: "Blinker-regular";
  src: url(../font/Blinker/Blinker-Regular.ttf);
}

/* Poppins */

@font-face {
  font-family: "Poppins-black";
  src: url(../font/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../font/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-extrabold";
  src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins-medium";
  src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-regular";
  src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-semibold";
  src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--branco);
}

/* Header começo */
header {
  display: flex;
  width: 79%;
  font-family: "Batangas";
  margin: auto;
}

a,
a:visited {
  color: var(--preto);
  text-decoration: none;
}

nav {
  color: var(--preto);
  font-family: "Blinker-semibold";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
/* Header final */


.imagem-fundo {
  display: flex;
  justify-content: center;
}

.imagem-inicial {
  margin-top: 70px;
}

/* .titulo-inicial {
  font-family: "Blinker-extrabold";
  font-size: 65px;
  color: var(--preto);
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 20%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  text-align: center;
} */

.texto {
  font-family: "Poppins-regular";
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 20%);
  position: absolute;
  bottom: 15%;
  right: 10%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  text-align: center;
}

span {
  font-family: "Blinker-extrabold";
  color: var(--azul);
  text-transform: uppercase;
  font-size: 18px;
}

.titulo {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  margin-left: 250px;
}

.titulo-principal {
  margin-top: 150px;
}

.titulo-secundario {
  margin-top: 65px;
}

.textos {
  font-family: "Poppins-regular";
  margin-left: 250px;
  max-width: 70%;
  margin-top: 10px;
  color: var(--preto);
}

/* accordion  */

.materiais {
  font-family: "Poppins-semibold";
  list-style: none;
  margin: 10px auto;
  cursor: pointer;
}

hr {
  border: 1px solid rgba(42, 85, 194, 0.2);
}

.accordion {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.accordion-item {
  border: 1px solid var(--azul);
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--branco);
  cursor: pointer;
}

.accordion-header img.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.internos {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.accordion-header .arrow-icon {
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.accordion-button {
  font-family: "Blinker-extrabold";
  color: var(--azul);
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
}

.accordion-collapse {
  display: none;
  padding: 10px;
  background-color: var(--branco);
}

.accordion-body {
  padding: 10px;
  color: var(--preto);
}

.accordion-header.active .arrow-icon {
  transform: rotate(180deg);
}
