@import url(../css/font.css);

@import url(../css/cores.css);




body {
  background-color: #f8f8ff;
}

.qrcode {
  width: 90em;
  height: 60em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* começo textos */

#titulo1 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  font-size: 1.7em;
  margin: 1em 0 0.2em 8em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin: 0.5em 0 1.2em 15em;
  font-size: 0.9em;
  width: 70%;
}

#titulo2 {
  font-family: "Poppins-semibold";
  color: var(--preto);
  font-size: 0.9em;
  margin: 2em 0 0.2em 2em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin: 0.5em 0 1.2em 15em;
  font-size: 0.9em;
  width: 70%;
}

/* final textos */

.conteiner {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
}

#imagem-apresentação {
  width: 90%;
  margin-left: 15%;
  margin-right: 15%;
}

.info-box {
  font-family: "Poppins-medium", sans-serif;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.h1-info {
  font-family: "Blinker-extrabold", sans-serif;
  color: var(--verde);
  margin-bottom: 20px;
}

.p-info {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin-bottom: 20px;
}




/* qr code começo  */
.qrcode-box {
  display: flex;
  background-color: #D9D9D9;
  text-align: center;
  border-radius: 30px;
  filter: drop-shadow(5px 5px 4px #e7e3e3);
  margin-top: 20px;
  flex-direction: column;
  padding-top: 20px;
  width: 42%;
  max-width: 800px;
  min-width: 500px;
  align-items: center;
}

.qrcode-box p {
  color: black;
  font-family: "Poppins-semibold";
  text-align: left;
}

.codigo-l1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.colocar,
.inserir {
  white-space: nowrap;
  width: fit-content;

}

.codigo-l1 p {
  margin-bottom: 5px;
  margin-left: 5px;
}


.codigo-aqui button {
  margin-left: 60px;
}

.qrcode-salvar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.qrcode-box div {
  margin: 10px 10px 10px 10px;
}

.qrcode-box button {
  border-radius: 30px;
  box-shadow: 1px;
  font-size: medium;
  padding: 5px 20px 5px 20px;
  color: white;
  background-color: #2A55C2;
  border: solid #2A55C2;
}

.qrcode-salvar button {
  font-family: "Poppins-semibold"
}



.qrcode-box input {
  border-radius: 30px;
  box-shadow: 4px;
  border: solid #F8F8FF;
  padding: 5px 45px 5px 19px;
}

#inserir-total::-webkit-input-placeholder {
  color: #2A55C2;
  font-family: "Poppins-semibold";

}


.codigo-l2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}
.codigo-l2 p{
  margin-bottom: 5px;
  margin-left: 5px;
}

#gerar-button {
  background-color: #7AD761;
  border: solid #7AD761;
  font-family: "Poppins-semibold";
  margin-top: 25px;
  margin-right: 65px;
  padding: 3px 30px 3px 30px;
}


.codigo-l2 select {
  border-radius: 30px;
  box-shadow: 4px;
  border: solid #F8F8FF;
  padding: 10px 45px 7px 110px;
  width: 217px;
  -webkit-appearance: none;
  font-family: "Poppins-bold";
  
}

#seta-form{
  position: relative;
  left: -28px;
  top:4px;
  pointer-events: none;
}
.select{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
#download{
  padding: 3px 25px 3px 25px;
}
#salvar{
  padding: 3px 40px 3px 40px;
}

/* qr code final */