.conteiner {
    flex-direction: column;
    display: flex;    
  }

  * {
    margin: 0 ;
  }

  #imagem-apresentação{
    width: 90%;
    margin-left:15%;
    margin-right: 15%;
  }

  .info-box {
    font-family: "Poppins-medium", sans-serif;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .h1-info {
    font-family: "Blinker-extrabold", sans-serif;
    color: var(--verde);
    margin-bottom: 20px;
  }
  
  .p-info {
    font-family: "Poppins-regular";
    color: var(--preto);
    margin-bottom: 20px;
  }

  

  