@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .img-fundo {
    margin-left: 45em;
  }

  .lado-esquerdo {
    left: 12em;
  }

  .lado-direito {
    left: 35em;
  }

  .faq-container {
    margin-left: 13em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .img-fundo {
    margin-left: 45em;
  }

  .lado-esquerdo {
    left: 12em;
  }

  .lado-direito {
    left: 35em;
  }

  .faq-container {
    margin-left: 13em;
  }
}

@media (max-width: 1410px) {
  #titulo-inicial {
    width: 29%;
  }

  .imagem-inicial {
    width: 70em;
  }
}

@media (max-width: 1367px) {
  #titulo-inicial {
    width: 30%;
    right: 856px;
  }

  .faq-container {
    margin-left: 5em;
  }
}

@media (max-width: 1325px) {
  #titulo-inicial {
    width: 32%;
    right: 776px;
  }

  #texto-inicial {
    right: 51em;
  }

  .img-fundo {
    margin-left: 37em;
  }

  .lado-esquerdo {
    left: 9em;
  }

  .lado-direito {
    left: 28em;
    bottom: 26em;
  }

  .faq-container {
    margin-left: 5em;
  }
}

@media (max-width: 1338px) {
  #titulo-inicial {
    width: 33%;
    right: 743px;
  }

  #texto-inicial {
    width: 30%;
    top: 22em;
    right: 48em;
  }

  .faq-sidebar {
    margin: 0 0em 0 -1em;
  }
}

@media (max-width: 1200px) {
  #titulo-inicial {
    width: 34%;
    right: 693px;
  }

  #texto-inicial {
    right: 46em;
  }

  .faq-container {
    margin-left: 4em;
  }
}

@media (max-width: 1195px) {
  nav ul {
    width: 97%;
  }

  .imagem-inicial {
    width: 70em;
  }

  .lado-direito {
    bottom: 23em;
  }

  #titulo-inicial {
    width: 34%;
    right: 663px;
  }

  #texto-inicial {
    right: 44em;
  }

  .container-feedback {
    margin-left: 13em;
  }
}

@media (max-width: 1166px) {
  #titulo-inicial {
    width: 35%;
  }

  #texto1 {
    width: 75%;
  }
}

@media (max-width: 1133px) {
  #titulo-inicial {
    width: 36%;
    right: 633px;
  }

  #texto-inicial {
    right: 43em;
  }
}

@media (max-width: 1100px) {
  #titulo-inicial {
    width: 37%;
    right: 610px;
  }

  #texto-inicial {
    right: 42em;
  }
}

@media (max-width: 1080px) {
  .imagem-inicial {
    width: 63em;
  }

  #titulo-inicial {
    width: 38%;
    right: 560px;
  }

  #texto-inicial {
    right: 40em;
  }
}

@media (max-width: 1045px) {
  #titulo-inicial {
    width: 39%;
  }
}

@media (max-width: 1035px) {
  #titulo-inicial {
    width: 40%;
    right: 530px;
  }

  #texto-inicial {
    right: 39em;
  }

  .lado-esquerdo {
    left: 7em;
  }

  .lado-direito {
    left: 26em;
  }

  #pesquisa {
    width: 45em;
  }
}

@media (max-width: 995px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo,
  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .sidebar {
    height: 75vh;
  }

  #titulo-inicial {
    width: 41%;
  }

  #titulo1 {
    margin: 1em 0 0.5em 4em;
  }

  #texto1 {
    margin: 1em 0 0.9em 7.2em;
  }

  .container-feedback {
    margin-left: 6em;
  }

  .lista-suporte {
    margin-left: 7.5em;
  }

  .footer-logo {
    margin-top: 40%;
  }
}

@media (min-width: 320px) and (max-width: 421px) {
  .img-fundo {
    width: 73em;
    position: relative;
    right: 17em;
    margin-bottom: 12em;
    z-index: -1;
  }

  #titulo-inicial {
    font-size: 1em;
    width: 2%;
    line-height: 0.9em;
    position: absolute;
    top: 1em;
    left: 0.5em;
    z-index: 1;
  }

  #texto-inicial {
    font-family: "Poppins-semibold";
    color: var(--preto);
    width: 28%;
    line-height: 1.5em;
    text-align: start;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 24em;
    right: 55em;
  }

  .campo1 {
    margin-top: 25em;
  }

  /* footer */
  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .logoBranca {
    display: none;
  }

  .geral {
    margin-left: 55px;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 55px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 55px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }

  /* footer */
}