/* Dispositivos móveis pequenos (em pé) */
@media (max-width: 320px) {
  /* Estilos aqui */
  .footer-container {
    width: 320px;
    height: auto;
  }

  .flor img {
    visibility: hidden;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin-top: 15px;
  }

  .email {
    width: 200px;
    display: flex;
    margin-left: 30px;
  }

  .logoBranca-small {
    width: 150px;
  }

  .footer-container .logo {
    width: 80px;
  }
}

/* Dispositivos móveis médios (em pé) */
@media (max-width: 375px) {
  .flor img {
    visibility: hidden;
  }

  .email {
    flex-wrap: wrap;
  }
}

/* Dispositivos móveis grandes (em pé) */
@media (max-width: 425px) {
  .footer-container .logo {
    margin: 0;
    bottom: 20px;
    flex-direction: column;
  }

  .flor img {
    visibility: hidden;
  }

  .email {
    margin-left: 10px;
  }

  .footer-container .descricao-footer {
    margin-top: 0;
  }

  .descricao-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    max-width: 100%;
  }

  .endereco {
    max-width: 100%;
  }

  .footer-container button {
    margin-right: 10px;
  }

  .logoBranca-small {
    width: 150px;
  }

  h3 {
    margin-top: 15px;
  }
}

/* Tablets e dispositivos móveis em modo paisagem */
@media(max-width: 768px) {
  .flor img {
    visibility: hidden;
  }

  .logoBranca-small {
    display: block;
    width: 150px;
  }

  p {
    margin-bottom: 10px;
  }

  .campo1 {
    border: black solid;
     
  }

  .faq-container{
    border: black solid;
    flex-direction: column;
    text-align: center;
    
  }
.faq-sidebar{
  border: solid black;
  margin: 100px;
}

.perguntas{
  text-align: center;
  align-items: center;
}

}

/* Telas maiores (768px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  #perfil {
    display: none;
  }

  #drop {
    display: block;
  }

  .info-box {
    text-align: center;
    width: 50%;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }
}

/* Dispositivos médios a grandes */
@media (min-width: 1025px) and (max-width: 1280px) {
  .logoBranca {
    display: none;
  }
}

/* Laptops e desktops maiores */
@media (min-width: 1281px) and (max-width: 1440px) {
  /* Estilos aqui */
}

/* Telas grandes */
@media (min-width: 1441px) and (max-width: 1920px) {
  /* Estilos aqui */
}

/* Ocultar elementos em dispositivos móveis */
@media (max-width: 895px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo, #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }
}