@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 5em;
  }

  .img-fundo {
    margin-left: 45em;
  }

  .lado-esquerdo {
    left: 12em;
  }

  .lado-direito {
    left: 35em;
  }

  .faq-container {
    margin-left: 13em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 5em;
  }

  .img-fundo {
    margin-left: 45em;
  }

  .lado-esquerdo {
    left: 12em;
  }

  .lado-direito {
    left: 35em;
  }

  .faq-container {
    margin-left: 13em;
  }
}

@media (max-width: 1425px) {
  #titulo1 {
    margin: 1em 0 0.5em 5em;
  }

  #texto1 {
    margin: 1em 0 0.9em 8.5em;
  }

  .lista-suporte {
    margin-left: 9em;
  }

  #titulo-inicial {
    width: 29%;
  }
}

@media (max-width: 1385px) {
  .faq-container {
    margin-left: 7em;
  }

  .faq-sidebar {
    margin: 0 2em 0 -8em;
  }

  .container-feedback {
    margin-left: 8em;
  }
}

@media (max-width: 1370px) {
  #titulo-inicial {
    width: 30%;
    right: 856px;
  }

  .faq-container {
    margin-left: 5em;
  }
}

@media (max-width: 1325px) {
  #titulo-inicial {
    width: 32%;
    right: 776px;
  }

  #texto-inicial {
    right: 51em;
  }

  .img-fundo {
    margin-left: 37em;
  }

  .lado-esquerdo {
    left: 9em;
  }

  .lado-direito {
    left: 28em;
    bottom: 26em;
  }

  .faq-container {
    margin-left: 5em;
  }
}

@media (max-width: 1340px) {
  #titulo-inicial {
    width: 33%;
    right: 743px;
  }

  #texto-inicial {
    width: 30%;
    top: 22em;
    right: 48em;
  }

  .faq-sidebar {
    margin: 0 0em 0 -1em;
  }

  .campo3 {
    margin-top: 9em;
  }
}

@media (max-width: 1280px) {
  .imagem-inicial {
    width: auto;
  }
}

@media (max-width: 1200px) {
  #titulo-inicial {
    width: 34%;
    right: 693px;
  }

  #texto-inicial {
    right: 46em;
  }

  #titulo1 {
    margin: 1em 0 0.5em 4em;
  }

  #texto1 {
    margin: 1em 0 0.9em 6.7em;
  }

  .faq-container {
    margin-left: 4em;
  }
}

@media (max-width: 1195px) {
  .lado-direito {
    bottom: 23em;
  }

  #titulo-inicial {
    width: 34%;
    right: 663px;
  }

  #texto-inicial {
    right: 44em;
  }

  .container-feedback {
    margin-top: 35px;
    margin-left: 8em;
  }
}

@media (max-width: 1170px) {
  #titulo-inicial {
    width: 35%;
  }

  #texto1 {
    width: 75%;
  }
}

@media (max-width: 1140px) {
  #titulo-inicial {
    width: 36%;
    right: 633px;
  }

  #texto-inicial {
    right: 43em;
  }
}

@media (max-width: 1100px) {
  #titulo-inicial {
    width: 37%;
    right: 610px;
  }

  #texto-inicial {
    right: 42em;
  }
}

@media (max-width: 1025px) {
  .campo3 {
    margin-top: 12em;
  }
}

@media (max-width: 1055px) {
  .campo3 {
    margin-top: 16em;
  }
}

@media (max-width: 1080px) {
  #titulo-inicial {
    width: 38%;
    right: 560px;
  }

  #texto-inicial {
    right: 40em;
  }
}

@media (max-width: 1045px) {
  #titulo-inicial {
    width: 39%;
  }
}

@media (max-width: 1035px) {
  #titulo-inicial {
    width: 40%;
    right: 530px;
  }

  #texto-inicial {
    right: 39em;
  }

  .lado-esquerdo {
    left: 7em;
  }

  .lado-direito {
    left: 26em;
  }

  #pesquisa {
    width: 45em;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: fixed;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar {
    height: 65vh;
    right: 0;
    z-index: 100000;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  #titulo-inicial {
    width: 41%;
  }

  #titulo1 {
    margin: 1em 0 0.5em 4em;
  }

  #texto1 {
    margin: 1em 0 0.9em 7.2em;
  }

  .faq-container {
    margin-left: 2em;
  }

  .container-feedback {
    margin-left: 6em;
  }

  .lista-suporte {
    margin-left: 7.5em;
  }

  .footer-logo {
    margin-top: 40%;
  }
}

@media (max-width: 975px) {
  #texto-inicial {
    width: 40%;
    right: 33em;
  }

  .img-fundo {
    margin-left: 29em;
  }

  .lado-direito {
    left: 23em;
  }
}

@media (max-width: 970px) {
  #titulo-inicial {
    width: 44%;
    right: 490px;
  }

  #texto-inicial {
    right: 32em;
  }
}

@media (max-width: 950px) {
  .arrow-icon {
    margin-right: 1em;
  }
}

@media (max-width: 925px) {
  #titulo-inicial {
    width: 43%;
    font-size: 75px;
    right: 470px;
  }

  #texto-inicial {
    right: 31em;
  }

  #titulo1 {
    margin: 1em 0 0.5em 3em;
  }

  #texto1 {
    margin: 1em 0 0.9em 5.2em;
  }

  .faq-sidebar {
    margin: 0 3em 0 -1em;
  }

  .container-feedback {
    margin-left: 9em;
  }

  .lista-suporte {
    margin-left: 5.5em;
  }
}

@media (max-width: 905px) {
  #texto-inicial {
    right: 30em;
  }

  .lado-direito {
    bottom: 21em;
  }
}

@media (max-width: 900px) {
  #titulo-inicial {
    right: 450px;
  }

  #texto-inicial {
    width: 41%;
    right: 29em;
  }
}

@media (max-width: 880px) {
  #titulo-inicial {
    width: 42%;
    font-size: 70px;
    right: 440px;
    bottom: 250px;
  }

  #texto-inicial {
    top: 21em;
    right: 28em;
  }
}

@media (max-width: 865px) {
  .lado-direito {
    left: 22em;
  }

  #pesquisa {
    width: 40em;
  }
}

@media (max-width: 835px) {
  .img-fundo {
    margin-left: 26em;
  }

  .lado-direito {
    left: 20em;
  }

  .container-feedback {
    margin-left: 7em;
  }

  #ram-sentado {
    width: 110px;
    right: 40em;
  }
}

@media (max-width: 825px) {
  #titulo-inicial {
    width: 45%;
    right: 410px;
  }

  #texto-inicial {
    right: 27em;
  }
}

@media (max-width: 785px) {
  #titulo-inicial {
    right: 380px;
  }

  #texto-inicial {
    right: 25em;
  }

  .lado-esquerdo {
    bottom: 10em;
  }

  .lado-direito {
    bottom: 20em;
  }
}

@media (max-width: 775px) {
  #titulo-inicial {
    width: 44%;
    font-size: 65px;
    right: 380px;
  }

  .img-fundo {
    margin-left: 25em;
  }

  .lado-direito {
    left: 19em;
  }

  #pesquisa {
    width: 35em;
  }

  .perguntas {
    height: 33em;
  }

  .faq-container {
    flex-direction: column;
    margin: 20px auto;
  }

  .faq-sidebar {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .faq-sidebar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .faq-content {
    width: 80%;
  }
}

@media (max-width: 745px) {
  #ram-sentado {
    width: 100px;
  }
}

@media (max-width: 735px) {
  #titulo-inicial {
    width: 47%;
    right: 340px;
  }

  #texto-inicial {
    right: 23.5em;
  }

  .lado-direito {
    left: 18em;
  }
}

@media (max-width: 710px) {
  #titulo-inicial {
    width: 44%;
    font-size: 60px;
    right: 350px;
  }

  #texto-inicial {
    right: 23em;
  }

  .img-fundo {
    margin-left: 23em;
  }

  .lado-esquerdo {
    left: 5em;
  }

  .lado-direito {
    left: 17em;
  }

  #ram-sentado {
    right: 39em;
  }
}

@media (max-width: 680px) {
  #titulo-inicial {
    width: 47%;
    right: 325px;
    bottom: 280px;
  }

  #texto-inicial {
    top: 20em;
    right: 22.5em;
  }

  #pesquisa {
    width: 30em;
  }

  .formulario-feedback {
    width: 30em;
  }

  #email-feedback {
    width: 34em;
  }

  #feedback {
    max-width: 35em;
    min-width: 35em;
  }

  #ram-sentado {
    right: 36em;
  }

  .campo4 #texto1 {
    width: 85%;
  }
}

@media (max-width: 670px) {
  .lado-direito {
    bottom: 18em;
  }

  .interrogacao-azul,
  .interrogacao-vermelha2 {
    width: 50px;
  }

  .campo3 #texto1 {
    width: 80%;
  }
}

@media (max-width: 660px) {
  .lado-direito {
    left: 16em;
  }
}

@media (max-width: 655px) {
  .campo1 {
    margin-top: 2em;
  }

  .campo1,
  .campo2,
  .campo3,
  .campo4 {
    text-align: center;
  }

  #titulo1 {
    margin: 1em 0 0.5em 0;
  }

  #texto1 {
    width: 100%;
    margin: 1em 0 0.9em 0;
  }

  .campo3 #texto1,
  .campo4 #texto1 {
    margin: 15px auto;
  }

  .perguntas {
    height: 31em;
  }

  .faq-content {
    width: 90%;
  }

  #campo-email,
  #campo-feedback,
  .lista-suporte {
    text-align: start;
  }

  .lista-suporte {
    margin-left: 4em;
  }
}

@media (max-width: 640px) {
  #titulo-inicial {
    width: 46%;
    font-size: 55px;
    right: 310px;
  }

  #texto-inicial {
    right: 20.5em;
  }
}

@media (max-width: 630px) {
  .img-fundo {
    margin-top: 5em;
  }

  .interrogacao-azul,
  .interrogacao-vermelha2 {
    width: 45px;
  }

  .lado-direito {
    bottom: 17em;
  }
}

@media (max-width: 620px) {
  .formulario-feedback {
    width: 25em;
  }

  #email-feedback {
    width: 28em;
  }

  #feedback {
    max-width: 28em;
    min-width: 28em;
  }

  #ram-sentado {
    right: 32em;
  }
}

@media (max-width: 615px) {
  .imagem-fundo {
    height: 48em;
    top: 0;
    position: none;
  }

  .img-fundo {
    width: 65%;
    margin: 0;
    position: relative;
    bottom: 25px;
  }

  .interrogacao-azul,
  .interrogacao-vermelha2 {
    width: 50px;
  }

  .lado-esquerdo {
    left: -8em;
    bottom: 12em;
  }

  .lado-direito {
    left: 10em;
    bottom: 23em;
  }

  #titulo-inicial {
    width: 66%;
    text-align: center;
    right: 100px;
    bottom: 150px;
  }

  #texto-inicial {
    width: 70%;
    text-align: center;
    top: 40em;
    right: 90px;
  }
}

@media (max-width: 610px) {
  .perguntas {
    height: 34em;
  }

  .contato-suporte {
    width: 100%;
  }
}

@media (max-width: 595px) {
  .perguntas {
    height: 37em;
  }

  .faq-content {
    width: 85%;
  }

  #titulo-pergunta {
    width: 90%;
    text-align: start;
  }

  #ram-sentado {
    right: 30em;
  }
}

@media (max-width: 585px) {
  .perguntas {
    height: 39em;
  }
}

@media (max-width: 575px) {
  #titulo-inicial {
    width: 77%;
    right: 70px;
  }

  #pesquisa {
    width: 25em;
  }
}

@media (max-width: 545px) {
  #titulo-inicial {
    right: 60px;
  }

  #texto-inicial {
    right: 75px;
  }

  .lista-suporte {
    margin-left: 3em;
  }
}

@media (max-width: 525px) {
  #ram-sentado {
    right: 28em;
  }
}

@media (max-width: 515px) {
  #texto-inicial {
    width: 80%;
    right: 50px;
  }

  .lista-suporte {
    margin-left: 2em;
  }
}

@media (max-width: 510px) {
  .sidebar {
    height: 70vh;
  }

  .footer-logo {
    margin-bottom: 2em;
  }
}

@media (max-width: 495px) {
  #pesquisa {
    width: 22em;
  }

  .lista-suporte {
    width: 80%;
  }
}

@media (max-width: 490px) {
  #titulo-inicial {
    width: 80%;
    right: 50px;
  }

  .formulario-feedback {
    width: 21em;
  }

  #email-feedback {
    width: 24em;
  }

  #feedback {
    max-width: 24em;
    min-width: 24em;
  }

  #ram-sentado {
    right: 26em;
  }
}

@media (max-width: 475px) {
  #titulo-inicial {
    width: 93%;
    right: 15px;
  }

  #texto-inicial {
    right: 45px;
  }
}

@media (max-width: 455px) {
  .campo2 #texto1 {
    width: 80%;
    margin: 25px auto 0 auto;
  }

  #ram-sentado {
    right: 25em;
  }
}

@media (max-width: 435px) {
  .lado-direito {
    left: 9em;
    bottom: 21em;
  }

  #pesquisa {
    width: 19em;
  }

  .campo3 {
    margin-top: 18em;
  }
}

@media (max-width: 425px) {
  .formulario-feedback {
    width: 19em;
  }

  #email-feedback {
    width: 21em;
  }

  #feedback {
    max-width: 21em;
    min-width: 21em;
  }

  #ram-sentado {
    right: 23em;
  }
}

@media (max-width: 415px) {
  .lado-direito {
    left: 8em;
  }

  #titulo-inicial {
    font-size: 50px;
    bottom: 190px;
  }

  #texto-inicial {
    top: 38em;
  }

  .campo1 {
    margin-top: 1em;
  }

  .faq-sidebar {
    width: 85%;
  }

  #ram-sentado {
    right: 22em;
  }
}

@media (max-width: 385px) {
  .campo3 {
    margin-top: 21em;
  }
}

@media (max-width: 375px) {
  .lado-esquerdo {
    left: -7em;
  }

  .lado-direito {
    left: 7em;
  }

  #pesquisa {
    width: 17em;
  }

  #titulo-pergunta {
    width: 89%;
  }

  .campo3 {
    margin-top: 24em;
  }
}

@media (max-width: 370px) {
  #titulo-inicial {
    font-size: 45px;
    bottom: 220px;
  }

  #texto-inicial {
    top: 36em;
    right: 35px;
  }

  #titulo-pergunta {
    width: 80%;
  }

  .campo3 {
    margin-top: 27em;
  }

  .formulario-feedback {
    width: 16em;
  }

  #email-feedback {
    width: 18em;
  }

  #feedback {
    max-width: 18em;
    min-width: 18em;
  }

  #ram-sentado {
    right: 20em;
  }
}

@media (max-width: 340px) {
  .lado-esquerdo {
    left: -6em;
  }

  .lado-direito {
    left: 6em;
  }

  #pesquisa {
    width: 15em;
  }

  #ram-sentado {
    right: 19em;
  }
}

@media (max-width: 330px) {
  .lado-direito {
    bottom: 19em;
  }

  .campo3 {
    margin-top: 28em;
  }
}