@font-face {
    font-family: "Batangas";
    src: url(font/batangas-font-family-fontmirror/Batangas\ Bold\ 700.otf);

}

@font-face{
    font-family: "Blinker";
    src: url(font/Blinker/Blinker-SemiBold.ttf);
}

@font-face{
    font-family: "Blinker-extrabold" ;
    src: url(font/Blinker/Blinker-ExtraBold.ttf);
}

@font-face{
    font-family: "Poppins-extralight" ;
    src: url(font/Poppins/Poppins-ExtraLight.ttf);
}




/*caso queira deixar a header sem margem ctrl c e k  */
/* *{
    margin: 0px;
    padding: 0px;
} */



/* Header começo */
header{
    display: flex;
    width: 79%;
    font-family:'Batangas';
    margin: auto;
}

nav{
    color: black;
    font-family: "Blinker";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

/* Header final */
/* Carrosel começo */

.carrosel{
    background-color: aqua;    
    font-size: xx-large;
}

#h1-carrosel{
    font-family: 'Blinker-extrabold';
}
#p-carrosel{
    font-family: 'Poppins-extralight';
}

