@font-face {
    font-family: "Batangas";
    src: url(font/batangas-font-family-fontmirror/Batangas\ Bold\ 700.otf);

}


@font-face {
    font-family: "Blinker";
    src: url(font/Blinker/Blinker-SemiBold.ttf);
}

@font-face {
    font-family: "Blinker-extrabold";
    src: url(font/Blinker/Blinker-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins-extralight";
    src: url(font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins-bold";
    src: url(font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-medium";
    src: url(font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-light";
    src: url(font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins-semibold";
    src: url(font/Poppins/Poppins-SemiBold.ttf);
}



/*caso queira deixar a header sem margem ctrl c e k  */
     *{
    margin: 0px;
    padding: 0px;
} 

.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
body {
    background-color: #F8F8FF;
}

/* Header começo */
header {
    display: flex;
    width: 79%;
    font-family: 'Batangas';
    margin: auto;
    margin-top: 30px;
}

nav {
    color: black;
    font-family: "Blinker";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

/* Header final */

/* CSS IMAGEM COMEÇO */
#h1-play {
    font-family: 'Blinker-extrabold';
}

#h1-play-image-comecar {
    font-family: 'Blinker-extrabold';
   
    top: 34%;
    left: 42%;
    font-size: 115px;
    transform: translate(-20%, -50%);


}

#h1-play-image {
    font-family: 'Blinker-extrabold';
    font-size: 115px;
    

}
#p-play-image-descricao {
    font-family: 'Poppins-bold';
    
    font-size: 18px;

}
.img-home-apresentacao img {
    width: 1500px;
}
.img-home-apresentacao {
    display: flex;    
    text-align: center;
    position: relative;
    justify-content: center;

}
.mensagem-apresentacao{
    display: flex;
    position: absolute;
    top: 20%;
    left: 35%;
    flex-wrap: wrap;
    flex-direction: column  ;
    
}

/* CSS IMAGEM FINAL */

#p-informacoes {
    font-family: "blinker-extrabold";
    color: #7AD761;
    font-size: 40px;
}

#info-box {
    font-family: "Poppins-light";
    font-size: 20px;
}


.info-box1 {
    font-family: "Poppins-medium";
    font-size: 20px;
    margin-right: 400px;
    margin-left: 170px;

}

/* nossos cupons começo */

.background-wave {
    width: 100%;
    height: 100%;
}

#ra-dourada {
    background-color: #2A55C2;
    width: 230px;
    height: 260px;
    border-radius: 30px;
    font-family: "Blinker-extrabold";
    font-size: small;
    text-align: center;
}

#ra-dourada img {
    height: 255px;
    width: 263px;
    border: solid 1px green;
}




/* nossos cupons final */

/* empresas parceiras começo */

.empresas {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Poppins-light";
    justify-content: center;
    flex-wrap: wrap;
}

#empresa {
    margin-left: 100px;
}


/* empresas parceiras final */


/* qr code começo */
.qrcode-box {
    display: flex;
    font-family: "Poppins-semibold";
    background-color: #D9D9D9;
    text-align: center;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 4px #8e8e8e);
    margin: auto;
    justify-content: center;
    align-items: center;
}

.qrcode-box button {
    font-family: "Poppins-bold";
    border-radius: 30px;
    box-shadow: 1px;
    font-size: medium;
    padding: 5px 20px 5px 20px;
    color: white;
    background-color: #2A55C2;
    border: solid #2A55C2;
}

#gerar-button {
    background-color: #7AD761;
    border: solid #7AD761;
}

.qrcode-box input{
    border-radius: 30px;
    box-shadow:4px;
    border: solid  #F8F8FF;
    filter: drop-shadow(5px 5px 4px #8e8e8e);
}



/* qr code final */