@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  #texto-inicial {
    width: 25%;
  }

  .menu {
    width: 45em;
    margin: auto;
    padding: 20px;
    background-color: rgba(234, 236, 240, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .ramcoin {
    position: absolute;
    bottom: 3em;
    left: 42em;
    margin-top: 25px;
  }

  .p-gabinete,
  .p-baias,
  .p-slots,
  .p-organizador,
  .p-painel,
  .p-hdd,
  .p-cpu {
    font-size: 15px;
    width: 50%;
    position: relative;
    top: 1em;
    left: 13em;
  }

  .titulo-estrutura,
  .titulo-internos,
  .titulo-perifericos,
  .titulo-resfriamento {
    font-size: 16px;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 43em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  #texto-inicial {
    width: 25%;
  }

  .menu {
    width: 45em;
    margin: auto;
    padding: 20px;
    background-color: rgba(234, 236, 240, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .ramcoin {
    position: absolute;
    bottom: 3em;
    left: 42em;
    margin-top: 25px;
  }

  .p-gabinete,
  .p-baias,
  .p-slots,
  .p-organizador,
  .p-painel,
  .p-hdd,
  .p-cpu {
    font-size: 15px;
    width: 50%;
    position: relative;
    top: 1em;
    left: 13em;
  }

  .titulo-estrutura,
  .titulo-internos,
  .titulo-perifericos,
  .titulo-resfriamento {
    font-size: 16px;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 43em;
  }
}

@media (max-width: 1800px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 42em;
  }
}

@media (max-width: 1735px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 41em;
  }
}

@media (max-width: 1670px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 40em;
  }
}

@media (max-width: 1600px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 39em;
  }
}

@media (max-width: 1560px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 38em;
  }
}

@media (max-width: 1475px) {
  #texto-inicial {
    width: 26%;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 37em;
  }
}

@media (max-width: 1425px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 36em;
  }
}

@media (max-width: 1395px) {
  #texto-inicial {
    width: 27%;
  }
}

@media (max-width: 1365px) {
  #texto-inicial {
    width: 28%;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 35em;
  }
}

@media (max-width: 1305px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 34em;
  }
}

@media (max-width: 1295px) {
  #texto-inicial {
    width: 29%;
  }

  .imagem-inicial {
    width: auto;
  }
}

@media (max-width: 1250px) {
  #texto-inicial {
    width: 30%;
  }
}

@media (max-width: 1235px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 33em;
  }
}

@media (max-width: 1200px) {
  .imagem-fundo {
    width: 90%;
  }

  #titulo-inicial {
    width: 50%;
    left: 55%;
  }

  #texto-inicial {
    width: 35%;
    left: 55%;
  }

  .interno-inicial {
    right: 16em;
  }

  .monitor {
    right: 17em;
  }

  .brilho-verde {
    right: 12em;
  }

  .brilho-azul {
    right: 9em;
  }

  .teclado {
    left: 25em;
  }

  .brilho-vermelho {
    left: 20em;
  }

  .brilho-amarelo2 {
    left: 11em;
  }

  .botao {
    left: 4em;
  }

  #titulo1 {
    margin: 1em 0 0.5em 7em;
  }

  #texto1 {
    margin-left: 13.3em;
  }
}

@media (max-width: 1175px) {
  .imagem-fundo {
    width: 95%;
  }

  #texto-inicial {
    width: 40%;
  }

  .img-fundo {
    top: 16em;
    left: 9em;
  }

  #titulo-inicial,
  #texto-inicial {
    left: 52%;
  }

  .interno-inicial,
  .monitor {
    right: 19em;
  }

  .brilho-verde {
    right: 14em;
  }

  .brilho-azul {
    bottom: 4em;
  }

  .brilho-vermelho {
    bottom: 18em;
    left: 17em;
  }
}

@media (max-width: 1155px) {
  #texto1 {
    width: 72%;
  }
}

@media (max-width: 1140px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 32em;
  }
}

@media (max-width: 1105px) {

  #titulo-inicial,
  #texto-inicial {
    left: 54%;
  }

  .botao {
    left: 2em;
  }

  #texto1 {
    width: 70%;
  }
}

@media (max-width: 1095px) {

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 31em;
  }
}

@media (max-width: 1065px) {
  #texto-inicial {
    width: 45%;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 30em;
  }
}

@media (max-width: 1025px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  #drop {
    display: block;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar {
    height: 65vh;
    right: 0;
    z-index: 100000;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .botao {
    width: 0;
    display: none;
  }

  .imagem-fundo {
    top: 0em;
  }

  #scrollTarget {
    padding-top: 2em;
  }

  #titulo1 {
    margin: 1em 0 0.5em 5em;
  }

  #texto1 {
    margin-left: 9.5em;
    width: 75%;
  }

  #titulo-inicial,
  #texto-inicial {
    left: 53%;
  }

  .teclado {
    left: 23em;
  }

  .icone-roxo {
    left: 23em;
  }
}

@media (max-width: 990px) {
  .imagem-fundo {
    width: 70%;
  }

  .img-fundo {
    left: 15em;
  }

  #titulo-inicial {
    width: 70%;
    left: 70%;
  }

  #texto-inicial {
    width: 60%;
    top: 61%;
    left: 70%;
  }

  .interno-inicial {
    right: 10em;
  }

  .brilho-amarelo {
    right: 1em;
    bottom: 13em;
  }

  .monitor {
    right: 10em;
  }

  .brilho-verde {
    right: 5em;
  }

  .brilho-azul {
    right: 3em;
  }

  .brilho-roxo {
    left: 17em;
  }

  .teclado {
    left: 29em;
  }

  .brilho-vermelho {
    left: 23em;
    bottom: 20em;
  }

  .brilho-amarelo2 {
    left: 18em;
  }

  .icone-roxo {
    left: 28em;
  }

  .botao {
    display: none;
  }

  #scrollTarget {
    margin: auto 75px;
  }

  #titulo1 {
    margin: 1em 0 0.5em 1em;
  }

  #texto1 {
    margin-left: 2em;
    width: 100%;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 28em;
  }
}

@media (max-width: 895px) {
  #titulo-inicial {
    width: 75%;
  }

  #scrollTarget {
    margin: auto 55px;
  }

  #texto1 {
    width: 94%;
  }
}

@media (max-width: 865px) {
  #titulo-inicial {
    width: 80%;
  }

  #texto-inicial {
    width: 70%;
  }

  .interno-inicial,
  .monitor {
    right: 11em;
  }

  .brilho-verde {
    right: 6em;
  }

  .teclado {
    left: 27em;
  }

  .brilho-amarelo2 {
    left: 16em;
  }

  .icone-roxo {
    left: 27em;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 27em;
  }
}

@media (max-width: 790px) {
  #titulo-inicial {
    width: 90%;
  }

  .img-fundo {
    left: 11em;
  }

  .brilho-amarelo2 {
    bottom: 15em;
    left: 13em;
  }

  .brilho-roxo {
    left: 15em;
  }

  .brilho-vermelho {
    left: 22em;
    bottom: 22em;
  }

  .teclado,
  .icone-roxo {
    left: 25em;
  }

  .fundo-gabinete,
  .fundo-baias,
  .fundo-slots,
  .fundo-organizador,
  .fundo-painel,
  .fundo-gpu,
  .fundo-placa-mae,
  .fundo-memoria-ram,
  .fundo-hdd,
  .fundo-psu,
  .fundo-cpu,
  .fundo-monitor,
  .fundo-teclado,
  .fundo-mouse,
  .fundo-alto-falante,
  .fundo-ventoinhas,
  .fundo-dissipadores,
  .fundo-filtro,
  .fundo-cooler {
    width: 38em;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 25em;
  }
}

@media (max-width: 725px) {
  #texto-inicial {
    width: 85%;
  }

  .brilho-verde {
    right: 7em;
  }

  .teclado,
  .icone-roxo {
    left: 24em;
  }

  .fundo-gabinete,
  .fundo-baias,
  .fundo-slots,
  .fundo-organizador,
  .fundo-painel,
  .fundo-gpu,
  .fundo-placa-mae,
  .fundo-memoria-ram,
  .fundo-hdd,
  .fundo-psu,
  .fundo-cpu,
  .fundo-monitor,
  .fundo-teclado,
  .fundo-mouse,
  .fundo-alto-falante,
  .fundo-ventoinhas,
  .fundo-dissipadores,
  .fundo-filtro,
  .fundo-cooler {
    width: 38em;
    height: 25em;
  }

  .content {
    padding: 0;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 23em;
  }

  .circulo-estrutura,
  .circulo-internos,
  .circulo-perifericos,
  .circulo-resfriamento {
    top: 60%;
  }

  .img-estrutura,
  .img-monitor,
  .img-ventoinhas {
    bottom: 4em;
  }

  .img-slots,
  .img-painel,
  .img-alto-falante {
    bottom: 3em;
  }

  .img-gpu,
  .img-memoria-ram,
  .img-hdd,
  .img-cpu,
  .img-mouse,
  .img-dissipadores,
  .img-filtro,
  .img-cooler {
    bottom: 2em;
  }
}

@media (max-width: 695px) {
  #titulo-inicial {
    width: 100%;
    font-size: 70px;
  }

  #texto-inicial {
    top: 58%;
  }

  .interno-inicial,
  .monitor,
  .teclado,
  .icone-roxo {
    width: 80px;
  }

  .interno-inicial,
  .monitor {
    right: 10em;
  }

  .brilho-amarelo {
    bottom: 14em;
  }

  .brilho-vermelho {
    left: 20em;
    bottom: 21em;
  }

  .icone-roxo {
    bottom: 17em;
    left: 22em;
  }

  #texto1 {
    width: 95%;
  }

  .fundo-gabinete,
  .fundo-baias,
  .fundo-slots,
  .fundo-organizador,
  .fundo-painel,
  .fundo-gpu,
  .fundo-placa-mae,
  .fundo-memoria-ram,
  .fundo-hdd,
  .fundo-psu,
  .fundo-cpu,
  .fundo-monitor,
  .fundo-teclado,
  .fundo-mouse,
  .fundo-alto-falante,
  .fundo-ventoinhas,
  .fundo-dissipadores,
  .fundo-filtro,
  .fundo-cooler {
    width: 34em;
  }

  .titulo-gabinete,
  .titulo-baias,
  .titulo-slots,
  .titulo-organizador,
  .titulo-painel,
  .titulo-gpu,
  .titulo-placa-mae,
  .titulo-cpu,
  .titulo-hdd,
  .titulo-psu,
  .titulo-monitor,
  .titulo-teclado,
  .titulo-mouse,
  .titulo-alto-falante,
  .titulo-ventoinhas,
  .titulo-dissipadores,
  .titulo-filtro,
  .titulo-cooler {
    margin: 0;
    bottom: 0;
  }

  .titulo-gabinete {
    top: 85px;
    left: 10px;
  }

  .titulo-baias {
    top: 80px;
    left: 157px;
  }

  .titulo-hdd {
    width: 50%;
    top: 40px;
    left: 155px;
  }

  .titulo-slots {
    width: 50%;
    top: 95px;
    left: 155px;
  }

  .titulo-organizador {
    width: 50%;
    top: 85px;
    left: 155px;
  }

  .titulo-painel {
    width: 50%;
    top: 75px;
    left: 155px;
  }

  .titulo-gpu {
    top: 60px;
    left: 157px;
  }

  .titulo-placa-mae {
    top: 50px;
    left: 143px;
  }

  .titulo-psu {
    width: 50%;
    top: 60px;
    left: 150px;
  }

  .titulo-cpu {
    top: 60px;
    left: 150px;
  }

  .titulo-monitor,
  .titulo-teclado,
  .titulo-mouse,
  .titulo-alto-falante {
    top: 80px;
    left: 160px;
  }

  .titulo-ventoinhas,
  .titulo-dissipadores,
  .titulo-filtro {
    top: 40px;
    left: 160px;
  }

  .titulo-cooler {
    top: 60px;
    left: 160px;
  }

  .p-gabinete {
    top: 8em;
    left: 10.5em;
    line-height: 26px;
  }

  .p-baias {
    width: 51%;
    top: 6.5em;
    left: 10.5em;
    line-height: 26px;
  }

  .p-slots {
    width: 51%;
    top: 7.5em;
    left: 10.5em;
    line-height: 26px;
  }

  .p-organizador {
    width: 52%;
    top: 6.5em;
    left: 10.5em;
    line-height: 26px;
  }

  .p-painel {
    width: 49%;
    top: 5.5em;
    left: 10.5em;
    line-height: 26px;
  }

  .p-gpu {
    width: 49%;
    top: 5.5em;
    left: 10em;
    line-height: 26px;
  }

  .p-placa-mae {
    top: 75px;
    left: 9.5em;
  }

  .p-memoria-ram {
    top: 65px;
    left: 9em;
  }

  .p-hdd {
    top: 3.5em;
    left: 10.5em;
    line-height: 26px;
  }

  .p-psu {
    top: 5em;
    left: 9.5em;
    line-height: 26px;
  }

  .p-cpu {
    top: 5em;
    left: 10em;
    line-height: 26px;
  }

  .p-monitor,
  .p-teclado,
  .p-mouse,
  .p-alto-falante {
    top: 7em;
    left: 10em;
    line-height: 26px;
  }

  .p-ventoinhas,
  .p-dissipadores,
  .p-filtro {
    top: 3em;
    left: 10em;
    line-height: 26px;
  }

  .p-cooler {
    top: 5em;
    left: 10em;
    line-height: 26px;
  }

  .img-estrutura {
    bottom: 3em;
    left: 1em;
    width: 236px;
    height: 240px;
  }

  .img-baias {
    width: 220px;
  }

  .img-painel,
  .img-gpu {
    width: 216px;
    height: 240px;
  }

  .img-placa-mae {
    left: 1.5em;
    width: 230px;
    height: 240px;
  }

  .img-memoria-ram {
    left: 1em;
    width: 240px;
    height: 240px;
  }

  .img-hdd,
  .img-psu,
  .img-cpu,
  .img-teclado,
  .img-mouse,
  .img-alto-falante {
    width: 220px;
    height: 240px;
  }

  .img-ventoinhas {
    width: 240px;
    height: 240px;
    bottom: 2em;
  }

  .img-dissipadores {
    width: 220px;
    height: 240px;
    bottom: 2em;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 20em;
    bottom: 22.5em;
    flex-direction: row-reverse;
    margin-top: 0;
  }

  .qtd-ramcoin {
    margin-left: 5px;
    margin-right: 0;
  }
}

@media (max-width: 655px) {
  .img-fundo {
    width: 25em;
  }

  .brilho-roxo {
    bottom: 21em;
  }

  .teclado {
    left: 22em;
    bottom: 25em;
  }

  .icone-roxo {
    bottom: 15em;
    left: 22em;
  }

  .brilho-amarelo2 {
    bottom: 13em;
  }
}

@media (max-width: 625px) {
  #titulo1 {
    margin: 1em 0 0.5em 0;
  }

  #texto1 {
    margin-left: 0;
  }

  .teclado {
    left: 21em;
  }

  .icone-roxo {
    left: 20em;
  }

  .fundo-gabinete,
  .fundo-baias,
  .fundo-slots,
  .fundo-organizador,
  .fundo-painel,
  .fundo-gpu,
  .fundo-placa-mae,
  .fundo-memoria-ram,
  .fundo-hdd,
  .fundo-psu,
  .fundo-cpu,
  .fundo-monitor,
  .fundo-teclado,
  .fundo-mouse,
  .fundo-alto-falante,
  .fundo-ventoinhas,
  .fundo-dissipadores,
  .fundo-filtro,
  .fundo-cooler {
    width: 32em;
    height: 27em;
  }

  #content1 .ramcoin,
  #content2 .ramcoin,
  #content3 .ramcoin,
  #content4 .ramcoin,
  #content5 .ramcoin,
  #content6 .ramcoin,
  #content7 .ramcoin,
  #content8 .ramcoin,
  #content9 .ramcoin,
  #content10 .ramcoin,
  #content11 .ramcoin,
  #content12 .ramcoin,
  #content13 .ramcoin,
  #content14 .ramcoin,
  #content15 .ramcoin,
  #content16 .ramcoin,
  #content17 .ramcoin,
  #content18 .ramcoin,
  #content19 .ramcoin {
    left: 19em;
    bottom: 24.5em;
  }

  .titulo-baias {
    left: 145px;
  }

  .titulo-slots {
    top: 80px;
    left: 145px;
  }

  .titulo-organizador {
    top: 70px;
    left: 140px;
  }

  .titulo-painel {
    top: 75px;
    left: 145px;
  }

  .titulo-gpu {
    top: 80px;
    left: 145px;
  }

  .titulo-placa-mae {
    top: 70px;
  }

  .titulo-placa-mae {
    top: 55px;
  }

  .titulo-monitor,
  .titulo-teclado,
  .titulo-mouse,
  .titulo-alto-falante {
    left: 144px;
  }

  .titulo-ventoinhas,
  .titulo-dissipadores,
  .titulo-filtro {
    left: 143px;
  }

  .titulo-filtro {
    top: 60px;
  }

  .p-gabinete,
  .p-baias,
  .p-painel {
    left: 9.5em;
  }

  .p-organizador {
    left: 9.5em;
    top: 5.5em;
  }

  .p-slots {
    top: 6.5em;
    left: 9.5em;
  }

  .p-gpu {
    top: 7.5em;
    left: 9em;
  }

  .p-placa-mae {
    width: 52%;
    top: 95px;
  }

  .p-memoria-ram {
    top: 70px;
  }

  .p-monitor,
  .p-teclado,
  .p-mouse,
  .p-alto-falante,
  .p-ventoinhas,
  .p-dissipadores,
  .p-filtro {
    left: 9em;
  }

  .p-filtro {
    top: 6em;
  }

  .circulo-estrutura,
  .circulo-internos,
  .circulo-perifericos,
  .circulo-resfriamento {
    transform: translate(-10%, -10%);
  }
}

@media (max-width: 610px) {
  #titulo-inicial {
    width: 6em;
  }

  #texto-inicial {
    width: 90%;
  }

  .interno-inicial,
  .monitor {
    right: 9em;
  }

  .brilho-roxo {
    left: 10em;
  }

  .teclado {
    left: 20em;
  }

  .brilho-amarelo2 {
    left: 9em;
  }

  .icone-roxo {
    left: 19em;
  }
}

@media (max-width: 580px) {
  .img-fundo {
    left: 8em;
  }
}

@media (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Imagem inicial */
  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    margin: 0;
  }

  .img-fundo,
  .botao,
  .brilho-amarelo2 {
    display: none;
  }

  #titulo-inicial {
    font-size: 3em;
    width: 85%;
    margin-bottom: 50px;
    text-align: center;
  }

  #texto-inicial {
    width: 75%;
    text-align: center;
    margin-top: 3em;
  }

  .interno-inicial {
    bottom: 3em;
    right: 9em;
  }

  .monitor {
    top: 11em;
    right: 9em;
  }

  .teclado {
    bottom: 13em;
    left: 9em;
  }

  .icone-roxo {
    top: 2em;
    left: 9em;
  }

  .brilho-amarelo {
    bottom: 2em;
    right: 1em;
  }

  .brilho-verde {
    top: 3em;
    right: 11em;
  }

  .brilho-azul,
  .brilho-roxo {
    top: 5em;
    right: 10em;
  }

  .brilho-vermelho {
    bottom: 5em;
    left: 11em;
  }

  #scrollTarget {
    text-align: center;
    margin-top: 5em;
  }

  #texto1 {
    width: 80%;
    margin: 0 3em;
  }

  .carrossel-container {
    width: 45%;
    margin: 50px auto 100px;
  }

  .menu {
    width: 20em;
  }

  .sub-buttons-container {
    width: 30em;
    flex-wrap: wrap;
  }

  .sub-buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

  .text-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
    width: 300px;
    z-index: 1;
    text-align: center;
  }

  .ramcoin:hover .text-block {
    display: block;
  }

  .texto-ramcoin {
    font-size: 13px;
    margin-left: 5px;
  }

  .circulo-estrutura,
  .circulo-internos,
  .circulo-perifericos,
  .circulo-resfriamento {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-10%, -15%);
    border-radius: 50%;
    width: 15em;
    height: 15em;
    z-index: 1;
  }

  .circulo-estrutura {
    background: #9d4edd;
  }

  .circulo-internos {
    background: #f89701;
  }

  .circulo-perifericos {
    background: #2a55c2;
  }

  .circulo-resfriamento {
    background: #61d243;
  }
}

@media (max-width: 421px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Imagem inicial */
  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    margin: 0;
  }

  .img-fundo,
  .botao,
  .brilho-amarelo2 {
    display: none;
  }

  #titulo-inicial {
    font-size: 3em;
    width: 85%;
    margin-bottom: 50px;
    text-align: center;
  }

  #texto-inicial {
    width: 75%;
    text-align: center;
    margin-top: 3em;
  }

  .interno-inicial {
    bottom: 3em;
    right: 9em;
  }

  .monitor {
    top: 11em;
    right: 9em;
  }

  .teclado {
    bottom: 13em;
    left: 9em;
  }

  .icone-roxo {
    top: 2em;
    left: 9em;
  }

  .brilho-amarelo {
    bottom: 2em;
    right: 1em;
  }

  .brilho-verde {
    top: 3em;
    right: 11em;
  }

  .brilho-azul,
  .brilho-roxo {
    top: 5em;
    right: 10em;
  }

  .brilho-vermelho {
    bottom: 5em;
    left: 11em;
  }

  #scrollTarget {
    text-align: center;
    margin-top: 5em;
  }

  #texto1 {
    width: 80%;
    margin: 0 3em;
  }

  .carrossel-container {
    width: 45%;
    margin: 50px auto 100px;
  }

  .menu {
    width: 20em;
  }

  .sub-buttons-container {
    width: 30em;
    flex-wrap: wrap;
  }

  .sub-buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

  .text-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
    width: 300px;
    z-index: 1;
    text-align: center;
  }

  .ramcoin:hover .text-block {
    display: block;
  }

  .texto-ramcoin {
    font-size: 13px;
    margin-left: 5px;
  }

  .circulo-estrutura,
  .circulo-internos,
  .circulo-perifericos,
  .circulo-resfriamento {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-10%, -15%);
    border-radius: 50%;
    width: 15em;
    height: 15em;
    z-index: 1;
  }

  .circulo-estrutura {
    background: #9d4edd;
  }

  .circulo-internos {
    background: #f89701;
  }

  .circulo-perifericos {
    background: #2a55c2;
  }

  .circulo-resfriamento {
    background: #61d243;
  }
}