@media (max-width: 421px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Imagem inicial */
  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    margin: 0;
  }

  .img-fundo,
  .botao,
  .brilho-amarelo2 {
    display: none;
  }

  #titulo-inicial {
    font-size: 3em;
    width: 85%;
    margin-bottom: 50px;
    text-align: center;
  }

  #texto-inicial {
    width: 75%;
    text-align: center;
    margin-top: 3em;
  }

  .interno-inicial,
  .monitor,
  .teclado,
  .icone-roxo {
    width: 5%;
    position: relative;
  }

  .interno-inicial {
    bottom: 3em;
    right: 9em;
  }

  .monitor {
    top: 11em;
    right: 9em;
  }

  .teclado {
    bottom: 13em;
    left: 9em;
  }

  .icone-roxo {
    top: 2em;
    left: 9em;
  }

  .brilho-amarelo,
  .brilho-verde,
  .brilho-azul,
  .brilho-roxo,
  .brilho-vermelho {
    width: 1%;
    position: relative;
  }

  .brilho-amarelo {
    bottom: 2em;
    right: 1em;
  }

  .brilho-verde {
    top: 3em;
    right: 11em;
  }

  .brilho-azul,
  .brilho-roxo {
    top: 5em;
    right: 10em;
  }

  .brilho-vermelho {
    bottom: 5em;
    left: 11em;
  }

  #scrollTarget {
    text-align: center;
    margin-top: 5em;
  }

  #texto1 {
    width: 80%;
    margin: 0 3em;
  }

  .carrossel-container {
    width: 45%;
    margin: 50px auto 100px;
  }

  .menu {
    width: 20em;
  }

  .sub-buttons-container {
    width: 30em;
    flex-wrap: wrap;
  }

  .sub-buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

  .text-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
    width: 300px;
    z-index: 1;
    text-align: center;
  }

  .ramcoin:hover .text-block {
    display: block;
  }

  .texto-ramcoin {
    font-size: 13px;
    margin-left: 5px;
  }

  .circulo-estrutura,
  .circulo-internos,
  .circulo-perifericos,
  .circulo-resfriamento {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-10%, -15%);
    border-radius: 50%;
    width: 15em;
    height: 15em;
    z-index: 1;
  }

  .circulo-estrutura {
    background: #9d4edd;
  }
  .circulo-internos {
    background: #f89701;
  }
  .circulo-perifericos {
    background: #2a55c2;
  }
  .circulo-resfriamento {
    background: #61d243;
  }

  /* Footer */
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .geral,
  .redes-sociais,
  .contato {
    margin-left: 55px;
    margin-top: 30px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .email {
    width: 200px;
    margin: 5px 65px;
    display: flex;
  }

  .logo {
    width: 100%;
  }

  .copyright {
    margin: 5em;
  }
}

/* Tablets em modo retrato (tela vertical) */
@media (max-width: 768px) {
  /* Estilos aqui */
  .flor img {
    visibility: hidden;
  }

  .logoBranca-small {
    display: block;
    width: 150px;
  }

  p {
    margin-bottom: 10px;
  }
}

@media (max-width: 895px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }
  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }
}

/* Tablets em modo paisagem (tela horizontal) */
@media (max-width: 1024px) {
  /* Estilos aqui */
  header {
    display: flex;
    justify-content: space-between;
  }

  #perfil {
    float: left;
    display: none;
  }

  #drop {
    display: block;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }
}

/* Laptops pequenos */
@media (max-width: 1280px) {
  /* Estilos aqui */
  .logoBranca {
    display: none;
  }
}

/* Laptops e desktops */
@media (max-width: 1440px) {
  /* Estilos aqui */
}

@media (min-width: 1920px) {
  .menu {
    width: 45em;
    margin: auto;
    padding: 20px;
    background-color: rgba(234, 236, 240, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .ramcoin {
    position: absolute;
    bottom: 3em;
    left: 42em;
    margin-top: 25px;
  }

  /* Adjustments for text */
  .p-gabinete,
  .p-baias,
  .p-slots,
  .p-organizador,
  .p-painel,
  .p-hdd,
  .p-cpu {
    font-size: 15px;
    width: 50%;
    position: relative;
    top: 1em;
    left: 13em;
  }

  /* Estrutura-specific */
  .titulo-estrutura,
  .titulo-internos,
  .titulo-perifericos,
  .titulo-resfriamento {
    font-size: 16px;
  }
}