@import url(../css/font.css);
@import url(../css/cores.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8ff;
}

/* começo imagem inicial */
.imagem-fundo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35em;
  width: 100%;
  position: relative;
  top: 5em;
}

.imagem-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35em;
  width: 80em;
}

.img-fundo {
  margin-top: 33em;
}

#titulo-inicial {
  font-family: "Blinker-extrabold";
  color: var(--preto);
  font-size: 5em;
  width: 40%;
  line-height: 0.9em;
  text-align: center;
  text-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#texto-inicial {
  font-family: "Poppins-semibold";
  color: var(--preto);
  width: 30%;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#span-preto {
  font-family: "Poppins-bold";
  color: var(--preto);
}

#span-vermelho {
  font-family: "Poppins-bold";
  color: #e6322b;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35em;
  position: relative;
  bottom: 40em;
}

#btn {
  background-color: var(--azul);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* começo lado esquerdo */

.interno-inicial {
  position: relative;
  bottom: 30em;
  right: 22em;
}

.brilho-amarelo {
  position: relative;
  bottom: 35em;
  right: 9.5em;
}

.brilho-verde {
  position: relative;
  bottom: 29em;
  right: 16em;
}

.brilho-azul {
  position: relative;
  bottom: 26em;
  right: 12em;
}

.monitor {
  position: relative;
  bottom: 21em;
  right: 22em;
}

/* final lado esquerdo */

/* começo lado direito */

.brilho-roxo {
  position: relative;
  bottom: 47em;
  left: 10em;
}

.teclado {
  position: relative;
  bottom: 47em;
  left: 22em;
}

.brilho-vermelho {
  position: relative;
  bottom: 40em;
  left: 17em;
}

.brilho-amarelo2 {
  position: relative;
  bottom: 35em;
  left: 9em;
}

.icone-roxo {
  position: relative;
  bottom: 41em;
  left: 25em;
}

/* final lado direito */

.interno-inicial,
.monitor,
.teclado,
.icone-roxo {
  animation-name: float;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes animate-shadow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* final imagem inicial */

/* começo textos */

#titulo1 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  font-size: 1.7em;
  margin: 1em 0 0.5em 8em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin-left: 15em;
  font-size: 0.9em;
  width: 70%;
}

#scrollTarget {
  padding-top: 8em; /* para compensar o menu fixo */
}

@media (max-width: 768px) {
  /* Estilos aqui */
  #titulo1 {
    margin: 0em 0 0.5em 0em;
    text-align: center;
  }
  #texto1 {
    font-family: "Poppins-regular";
    color: var(--preto);
    margin: 0;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
  }
}

.perifericos {
  margin-top: 3em;
}

/* final textos */

/* começo carrossel-materiais  */
.carrossel-container {
  width: 50%;
  margin: 100px auto 100px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: rgba(234, 236, 240, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50em;
  margin: auto;
  justify-content: center;
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-btn {
  font-family: "Poppins-extrabold";
  margin: 0 10px 25px 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 35px;
  background-color: rgba(222, 222, 225, 0.5);
  color: #a9a9a9;
  cursor: pointer;
}

#estrutura.active {
  background-color: #9d4edd;
  color: #fff;
}

#estrutura:hover {
  background-color: #9d4edd;
  color: #fff;
}

#sub-estrutura.active {
  background-color: #c67dff;
  color: #fff;
}

#sub-estrutura:hover {
  background-color: #c67dff;
  color: #fff;
}

#internos.active {
  background-color: #f89701;
  color: #fff;
}

#internos:hover {
  background-color: #f89701;
  color: #fff;
}

#sub-internos.active {
  background-color: #ffdd00;
  color: #fff;
}

#sub-internos:hover {
  background-color: #ffdd00;
  color: #fff;
}

#perifericos.active {
  background-color: #2a55c2;
  color: #fff;
}

#perifericos:hover {
  background-color: #2a55c2;
  color: #fff;
}

#sub-perifericos.active {
  background-color: #46c4ff;
  color: #fff;
}

#sub-perifericos:hover {
  background-color: #46c4ff;
  color: #fff;
}

#resfriamento.active {
  background-color: #408e2b;
  color: #ffffff;
}

#resfriamento:hover {
  background-color: #408e2b;
  color: #ffffff;
}

#sub-resfriamento.active {
  background-color: #61d243;
  color: #ffffff;
}

#sub-resfriamento:hover {
  background-color: #61d243;
  color: #ffffff;
}

.sub-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 60em;
  flex-wrap: wrap;
}

.sub-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.sub-buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sub-btn {
  font-family: "Poppins-bold";
  padding: 10px 20px;
  border: none;
  border-radius: 35px;
  background-color: rgba(230, 230, 230, 0.5);
  color: #a9a9a9;
  cursor: pointer;
}

.content-container {
  margin-top: 20px;
  text-align: center;
}

.content {
  padding: 10px 20px;
  display: none;
  margin: auto;
}

.content.active {
  display: block;
}

.text-block {
  display: none;
  position: absolute;
  top: 100%;
  left: 30%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
  width: 300px;
  z-index: 1;
  text-align: center;
}

.textos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.texto-ramcoin {
  font-family: "Poppins-semibold";
  color: var(--azul);
  font-size: 13px;
  margin-left: 5px;
}

.ramcoin:hover .text-block {
  display: block;
}

.qtd-ramcoin {
  font-family: "Poppins-extrabold";
  color: var(--verde);
  margin-right: 5px;
}

.span-azul {
  font-family: "Poppins-bold";
  color: var(--azul);
}

.circulo-estrutura {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-10%, -15%);
  background: #9d4edd;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  z-index: 1;
}

.circulo-internos {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-10%, -15%);
  background: #f89701;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  z-index: 1;
}

.circulo-perifericos {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-10%, -15%);
  background: #2a55c2;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  z-index: 1;
}

.circulo-resfriamento {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-10%, -15%);
  background: #61d243;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  z-index: 1;
}

.fundo-gabinete,
.fundo-baias,
.fundo-slots,
.fundo-organizador,
.fundo-painel,
.fundo-gpu,
.fundo-placa-mae,
.fundo-memoria-ram,
.fundo-hdd,
.fundo-psu,
.fundo-cpu,
.fundo-monitor,
.fundo-teclado,
.fundo-mouse,
.fundo-alto-falante,
.fundo-ventoinhas,
.fundo-dissipadores,
.fundo-filtro,
.fundo-cooler {
  background-color: var(--branco);
  width: 40em;
  height: 22em;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.titulo-gabinete,
.titulo-baias,
.titulo-slots,
.titulo-organizador,
.titulo-painel {
  font-family: "Poppins-bold";
  color: #9d4edd;
}

.titulo-estrutura {
  font-family: "Blinker-extrabold";
  font-size: 16px;
  color: #9d4edd;
}

.titulo-internos {
  font-family: "Blinker-extrabold";
  font-size: 16px;
  color: #f89701;
}

.titulo-gpu,
.titulo-placa-mae,
.titulo-memoria-ram,
.titulo-hdd,
.titulo-psu,
.titulo-cpu {
  font-family: "Poppins-bold";
  color: #f89701;
}

.titulo-perifericos {
  font-family: "Blinker-extrabold";
  font-size: 16px;
  color: #2a55c2;
}

.titulo-monitor,
.titulo-teclado,
.titulo-mouse,
.titulo-alto-falante {
  font-family: "Poppins-bold";
  color: #2a55c2;
}

.titulo-resfriamento {
  font-family: "Blinker-extrabold";
  font-size: 16px;
  color: #61d243;
}

.titulo-ventoinhas,
.titulo-dissipadores,
.titulo-filtro,
.titulo-cooler {
  font-family: "Poppins-bold";
  color: #61d243;
}

.tipo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20em;
  z-index: 2;
}

/* começo estrutura gabinete */
.fundo-gabinete .tipo {
  margin: 0;
}

.fundo-gabinete .estrutura {
  width: 2em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-gabinete .titulo-estrutura {
  margin-left: 5px;
}

.img-estrutura {
  position: relative;
  bottom: 3em;
  left: 1em;
  width: 15em;
  height: 15em;
}

.titulo-gabinete {
  position: relative;
  bottom: 0.5em;
}

.textos-gabinete {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 4em;
}

.p-gabinete {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 45%;
  position: relative;
  top: 1em;
  left: 12.3em;
  text-align: start;
}

#content1 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}

/* final estrutura gabinete */

/* começo estrutura baias de drive */
.fundo-baias .tipo {
  position: relative;
  left: 2em;
  top: 1em;
}

.fundo-baias .estrutura {
  width: 2em;
  margin: 0;
}

.fundo-baias .titulo-estrutura {
  margin-left: 13px;
}

.img-baias {
  position: relative;
  bottom: 2em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-baias {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-baias {
  position: relative;
  left: 9em;
  top: 0;
}

.p-baias {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 1em;
  left: 12.3em;
  text-align: start;
}

#content2 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 35px;
}

/* final estrutura baias de drive */

/* começo estrutura slots */
.fundo-slots .tipo {
  margin: 0;
  position: relative;
  left: 2em;
  top: 1em;
}

.fundo-slots .estrutura {
  width: 2em;
  margin: 0;
}

.fundo-slots .titulo-estrutura {
  margin-left: 13px;
}

.img-slots {
  position: relative;
  bottom: 2em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-slots {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-slots {
  position: relative;
  left: 9em;
  top: 0;
}

.p-slots {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 1em;
  left: 12.3em;
  text-align: start;
}

#content3 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final estrutura slots */

/* começo estrutura organizador */
.fundo-organizador .tipo {
  margin: 0;
}

.fundo-organizador .estrutura {
  width: 2em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-organizador .titulo-estrutura {
  margin-left: 5px;
}

.img-organizador {
  position: relative;
  bottom: 1em;
  left: 1em;
  width: 15em;
  height: 15em;
}

.textos-organizador {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 4em;
}

.titulo-organizador {
  position: relative;
  left: 9em;
  bottom: 0.5em;
}

.p-organizador {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 1em;
  left: 12.3em;
  text-align: start;
}

#content4 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final estrutura organizador */

/* começo estrutura painel */
.fundo-painel .tipo {
  margin: 0;
}

.fundo-painel .estrutura {
  width: 2em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-painel .titulo-estrutura {
  margin-left: 5px;
}

.img-painel {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-painel {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 4em;
}

.titulo-painel {
  position: relative;
  left: 9em;
  bottom: 1em;
}

.p-painel {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content5 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final estrutura painel */
/* final imagem estrutura */

/* começo imagem internos */
/* começo gpu */
.fundo-gpu .tipo {
  margin: 0;
}

.fundo-gpu .internos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-gpu .titulo-internos {
  margin-left: 5px;
}

.img-gpu {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-gpu {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-gpu {
  position: relative;
  left: 9em;
  bottom: 1.5em;
}

.p-gpu {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 14em;
  text-align: start;
}

#content6 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final gpu */

/* começo placa mae */
.fundo-placa-mae .tipo {
  margin: 0;
}

.fundo-placa-mae .internos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-placa-mae .titulo-internos {
  margin-left: 5px;
}

.img-placa-mae {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-placa-mae {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3.5em;
}

.titulo-placa-mae {
  position: relative;
  left: 9em;
  bottom: 1em;
}

.p-placa-mae {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 53%;
  position: relative;
  top: 0;
  left: 13em;
  text-align: start;
  font-size: 15px;
}

#content7 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final placa mae */

/* começo memória ram */
.fundo-memoria-ram .tipo {
  margin: 0;
}

.fundo-memoria-ram .internos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-memoria-ram .titulo-internos {
  margin-left: 5px;
}

.img-memoria-ram {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-memoria-ram {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 5em;
}

.titulo-memoria-ram {
  position: relative;
  left: 9em;
  bottom: 5px;
}

.p-memoria-ram {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content8 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final memoria ram */

/* começo hdd/sdd */
.fundo-hdd .tipo {
  margin: 0;
}

.fundo-hdd .internos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-hdd .titulo-internos {
  margin-left: 5px;
}

.img-hdd {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-hdd {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-hdd {
  position: relative;
  left: 9em;
  bottom: 1.5em;
}

.p-hdd {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content9 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final hdd/sdd */

/* começo psu */
.fundo-psu .tipo {
  margin: 0;
}

.fundo-psu .internos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-psu .titulo-internos {
  margin-left: 5px;
}

.img-psu {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-psu {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-psu {
  position: relative;
  left: 9em;
  bottom: 1.5em;
}

.p-psu {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content10 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final psu */

/* começo cpu */
.fundo-cpu .tipo {
  margin: 0;
}

.fundo-cpu .internos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-cpu .titulo-internos {
  margin-left: 5px;
}

.img-cpu {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-cpu {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-cpu {
  position: relative;
  left: 9em;
  bottom: 1.5em;
}

.p-cpu {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content11 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final cpu */
/* final imagem internos */

/* começo imagem perifericos */
/* começo monitor */
.fundo-monitor .tipo {
  margin: 0;
}

.fundo-monitor .perifericos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-monitor .titulo-perifericos {
  margin-left: 5px;
}

.img-monitor {
  position: relative;
  bottom: 2em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-monitor {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-monitor {
  position: relative;
  left: 9em;
  bottom: 1em;
}

.p-monitor {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content12 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final monitor */

/* começo teclado */
.fundo-teclado .tipo {
  margin: 0;
}

.fundo-teclado .perifericos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-teclado .titulo-perifericos {
  margin-left: 5px;
}

.img-teclado {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-teclado {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-teclado {
  position: relative;
  left: 9em;
  bottom: 1em;
}

.p-teclado {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content13 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final teclado */

/* começo mouse */
.fundo-mouse .tipo {
  margin: 0;
}

.fundo-mouse .perifericos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-mouse .titulo-perifericos {
  margin-left: 5px;
}

.img-mouse {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-mouse {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-mouse {
  position: relative;
  left: 9em;
  bottom: 1em;
}

.p-mouse {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content14 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final mouse */

/* começo alto falante */
.fundo-alto-falante .tipo {
  margin: 0;
}

.fundo-alto-falante .perifericos {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-alto-falante .titulo-perifericos {
  margin-left: 5px;
}

.img-alto-falante {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 13em;
  height: 13em;
}

.textos-alto-falante {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 1em;
}

.titulo-alto-falante {
  position: relative;
  left: 9em;
  bottom: 2.5em;
}

.p-alto-falante {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content15 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final alto falante */
/* final imagem perifericos */

/* começo imagem resfriamento */
/* começo ventoinhas */
.fundo-ventoinhas .tipo {
  margin: 0;
}

.fundo-ventoinhas .resfriamento {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-ventoinhas .titulo-perifericos {
  margin-left: 5px;
}

.img-ventoinhas {
  position: relative;
  bottom: 3em;
  left: 2em;
  width: 17em;
  height: 17em;
}

.textos-ventoinhas {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3.5em;
}

.titulo-ventoinhas {
  position: relative;
  left: 9em;
  bottom: 1em;
}

.p-ventoinhas {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content16 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final ventoinhas */

/* começo dissipadores */
.fundo-dissipadores .tipo {
  margin: 0;
}

.fundo-dissipadores .resfriamento {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-dissipadores .titulo-perifericos {
  margin-left: 5px;
}

.img-dissipadores {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 15em;
  height: 15em;
}

.textos-dissipadores {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 4em;
}

.titulo-dissipadores {
  position: relative;
  left: 9em;
  bottom: 0.7em;
}

.p-dissipadores {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content17 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final dissipadores */

/* começo filtro de poeira */
.fundo-filtro .tipo {
  margin: 0;
}

.fundo-filtro .resfriamento {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-filtro .titulo-perifericos {
  margin-left: 5px;
}

.img-filtro {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 13em;
  height: 13em;
}

.textos-filtro {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 2em;
}

.titulo-filtro {
  position: relative;
  left: 9em;
  bottom: 2em;
}

.p-filtro {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content18 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final filtro de poeira */

/* começo cooler */
.fundo-cooler .tipo {
  margin: 0;
}

.fundo-cooler .resfriamento {
  width: 2.8em;
  margin: 1em 0.5em 1em 2em;
}

.fundo-cooler .titulo-perifericos {
  margin-left: 5px;
}

.img-cooler {
  position: relative;
  bottom: 1em;
  left: 2em;
  width: 13em;
  height: 13em;
}

.textos-cooler {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 6em;
  bottom: 3em;
}

.titulo-cooler {
  position: relative;
  left: 9em;
  bottom: 1.3em;
}

.p-cooler {
  font-family: "Poppins-regular";
  color: var(--preto);
  width: 50%;
  position: relative;
  top: 0;
  left: 12.3em;
  text-align: start;
}

#content19 .ramcoin {
  position: absolute;
  bottom: 3em;
  left: 37em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
}
/* final cooler */
/* final imagem resfriamento */
/* final carrossel-materiais */

@media (max-width: 421px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Imagem inicial */
  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    margin: 0;
  }

  .img-fundo,
  .botao,
  .brilho-amarelo2 {
    display: none;
  }

  #titulo-inicial {
    font-size: 3em;
    width: 85%;
    margin-bottom: 50px;
    text-align: center;
  }

  #texto-inicial {
    width: 75%;
    text-align: center;
    margin-top: 3em;
  }

  .interno-inicial,
  .monitor,
  .teclado,
  .icone-roxo {
    width: 5%;
    position: relative;
  }

  .interno-inicial {
    bottom: 3em;
    right: 9em;
  }

  .monitor {
    top: 11em;
    right: 9em;
  }

  .teclado {
    bottom: 13em;
    left: 9em;
  }

  .icone-roxo {
    top: 2em;
    left: 9em;
  }

  .brilho-amarelo,
  .brilho-verde,
  .brilho-azul,
  .brilho-roxo,
  .brilho-vermelho {
    width: 1%;
    position: relative;
  }

  .brilho-amarelo {
    bottom: 2em;
    right: 1em;
  }

  .brilho-verde {
    top: 3em;
    right: 11em;
  }

  .brilho-azul,
  .brilho-roxo {
    top: 5em;
    right: 10em;
  }

  .brilho-vermelho {
    bottom: 5em;
    left: 11em;
  }

  #scrollTarget {
    text-align: center;
    margin-top: 5em;
  }

  #texto1 {
    width: 80%;
    margin: 0 3em;
  }

  .carrossel-container {
    width: 45%;
    margin: 50px auto 100px;
  }

  .menu {
    width: 20em;
  }

  .sub-buttons-container {
    width: 30em;
    flex-wrap: wrap;
  }

  .sub-buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

  .text-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
    width: 300px;
    z-index: 1;
    text-align: center;
  }

  .ramcoin:hover .text-block {
    display: block;
  }

  .texto-ramcoin {
    font-size: 13px;
    margin-left: 5px;
  }

  .circulo-estrutura,
  .circulo-internos,
  .circulo-perifericos,
  .circulo-resfriamento {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-10%, -15%);
    border-radius: 50%;
    width: 15em;
    height: 15em;
    z-index: 1;
  }

  .circulo-estrutura {
    background: #9d4edd;
  }
  .circulo-internos {
    background: #f89701;
  }
  .circulo-perifericos {
    background: #2a55c2;
  }
  .circulo-resfriamento {
    background: #61d243;
  }

  /* Footer */
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .geral,
  .redes-sociais,
  .contato {
    margin-left: 55px;
    margin-top: 30px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .email {
    width: 200px;
    margin: 5px 65px;
    display: flex;
  }

  .logo {
    width: 100%;
  }

  .copyright {
    margin: 5em;
  }
}


@media (min-width: 1920px) {
  .menu {
    width: 45em;
    margin: auto;
    padding: 20px;
    background-color: rgba(234, 236, 240, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .ramcoin {
    position: absolute;
    bottom: 3em;
    left: 42em;
    margin-top: 25px;
  }

  /* Adjustments for text */
  .p-gabinete,
  .p-baias,
  .p-slots,
  .p-organizador,
  .p-painel,
  .p-hdd,
  .p-cpu {
    font-size: 15px;
    width: 50%;
    position: relative;
    top: 1em;
    left: 13em;
  }

  /* Estrutura-specific */
  .titulo-estrutura,
  .titulo-internos,
  .titulo-perifericos,
  .titulo-resfriamento {
    font-size: 16px;
  }
}
