:root {
  --branco: #f8f8ff;
  --preto: #121212;
  --azul: #2a55c2;
  --azul-claro: #C8D7FE;
  --verde: #7AD761;
  --verde-escuro: #9CF385;
  --verde-claro: #ECFDF3;
  --amarelo: #FEE333;
  --amarelo-claro: #FFF3A6;
  --roxo: #E2BCFF;
  --vermelho-claro: #FFEEEE;
  --cinza-claro: rgba(217, 217, 217, 0.5);
  --cinza: #cdcdcd;
}
