@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }
}

@media (max-width: 1024px) {
  #drop {
    display: block;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }
}

@media (max-width: 995px) {
  .hideOnMobile {
    display: none;
  }
  nav ul {
    position: static;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .logoBranca {
    display: none;
  }
}

@media (max-width: 695px) {
  .descricao-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    max-width: 100%;
  }

  .footer-container input[type="email"] {
    width: 360px;
  }

  .geral,
  .redes-sociais,
  .contato {
    margin-top: 1em;
    width: 490px;
  }
}

@media (max-width: 530px) {
  .footer-container input[type="email"] {
    width: 300px;
  }

  .geral,
  .redes-sociais,
  .contato {
    width: 420px;
  }
}

@media (max-width: 435px) {
  .lista-termos {
    padding: 0 25px;
  }
  .footer-container input[type="email"] {
    width: 250px;
  }

  .geral,
  .redes-sociais,
  .contato {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .footer-container {
    width: 320px;
    height: auto;
    position: none;
  }

  .flor img {
    visibility: hidden;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin-top: 15px;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }

  .footer-container .logo {
    width: 80px;
  }
}
