@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: fixed;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar {
    height: 65vh;
    right: 0;
    z-index: 100000;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .accessibility-btn {
    display: none;
  }
}

@media (max-width: 795px) {
  .lista-termos {
    width: 90%;
    padding: 0;
  }
}

@media (max-width: 665px) {
  .titulo {
    font-size: 54px;
  }

  .texto-termos {
    width: 95%;
  }
}

@media (max-width: 535px) {
  .titulo {
    font-size: 50px;
  }
}

@media (max-width: 510px) {
  .sidebar {
    height: 70vh;
  }

  .footer-logo {
    margin-bottom: 2em;
  }

  #footer-logo {
    width: 130px;
  }
}

@media (max-width: 495px) {
  .titulo {
    margin: 3em auto 2em auto;
  }
}

@media (max-width: 485px) {
  .titulo {
    font-size: 45px;
  }
}

@media (max-width: 445px) {
  .titulo {
    font-size: 40px;
  }
}

@media (max-width: 405px) {
  .titulo {
    font-size: 35px;
  }
}

@media (max-width: 335px) {
  .titulo {
    font-size: 30px;
    margin: 4em auto 2em auto;
  }
}