@media (max-width: 775px) {
    .container {
        width: 45em;
    }

    .sign-in {
        width: 100%;
    }

    .container input,
    select {
        padding: 8px 10px;
    }

    .email,
    .senha {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-top: 15px;
    }
}

@media (max-width: 725px) {
    .container {
        width: 42em;
    }
}

@media (max-width: 685px) {
    .container {
        width: 40em;
    }
}

@media (max-width: 645px) {
    .container {
        width: 35em;
        height: 45em;
        margin: 15px auto;
    }

    .form-container {
        width: 100%;
        margin: 10px 0;
        transition: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .form-container input,
    .form-container select,
    .form-container button {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 14px;
    }

    .email,
    .senha {
        width: 65%;
    }

    .form-container button {
        width: 50%;
    }

    .btn-animado {
        padding: 10px 30px;
        font-size: 14px;
    }

    .toggle-container {
        display: none;
    }

    .social-icons,
    .social-icons2 {
        margin-top: 15px;
    }

    .social-icons a,
    .social-icons2 a {
        margin: 5px;
    }
}

@media (max-width: 645px) {
    .container {
        height: 35em;
    }
}

@media (max-width: 565px) {
    .container {
        width: 33em;
    }

    #recover-password {
        padding: 0;
    }
}

@media (max-width: 535px) {
    .container {
        width: 30em;
    }

    .genero::after {
        right: 22em;
    }
}

@media (max-width: 485px) {
    .container {
        width: 28em;
    }
}

@media (max-width: 455px) {
    .container {
        width: 25em;
    }

    .email,
    .senha {
        width: 85%;
    }
}

@media (max-width: 405px) {
    .container {
        width: 23em;
    }

    #recover-password {
        width: 60%;
    }
}

@media (max-width: 375px) {
    .container {
        width: 22em;
    }
}

@media (max-width: 365px) {
    .container {
        width: 21em;
    }

    form {
        width: 100%;
    }

    .form-container button {
        width: 70%;
    }

    .email,
    .senha {
        width: 95%;
    }
}

@media (max-width: 345px) {
    .container {
        width: 19em;
    }

    .email,
    .senha {
        width: 105%;
    }

    #recover-password {
        width: 70%;
    }
}