@media (min-width: 1920px) {
  .container {
    width: 55em;
  }

  .link-cadastro {
    display: none;
  }
}

@media (max-width: 1920px) {
  .container {
    width: 50em;
  }

  .link-cadastro {
    display: none;
  }

  .email,
  .cep {
    width: 100%;
  }

  .genero::after {
    top: 23.5em;
    right: 20em;
  }
}

@media (max-width: 825px) {
  .container {
    width: 48em;
  }

  .genero::after {
    right: 19em;
  }
}

@media (max-width: 775px) {
  .container {
    width: 45em;
  }

  .sign-in {
    display: none;
  }

  .sign-up {
    opacity: 1;
    width: 100%;
  }

  .toggle-container {
    display: none;
  }

  .container input,
  select {
    padding: 8px 10px;
  }

  .grupo,
  .grupo2 {
    width: 100%;
  }

  #genero {
    padding: 20px 10px;
  }

  .genero::after {
    top: 23.5em;
    right: 32em;
  }

  .link-cadastro {
    display: flex;
  }

  .link-cadastro a {
    font-size: 16px;
    color: #121212;
    text-decoration: none;
    margin: 15px 0 0 0;
  }
}

@media (max-width: 735px) {
  .container {
    width: 42em;
  }

  .genero::after {
    right: 30em;
  }
}

@media (max-width: 680px) {
  .container {
    width: 40em;
  }

  .genero::after {
    right: 29em;
  }
}

@media (max-width: 645px) {
  .container {
    width: 38em;
    height: 45em;
    margin: 15px auto;
  }

  .genero::after {
    right: 27em;
  }
}

@media (max-width: 630px) {
  .container {
    width: 36em;
  }

  .genero::after {
    right: 26em;
  }
}

@media (max-width: 595px) {
  .container {
    width: 34em;
  }

  .genero::after {
    right: 25em;
  }
}

@media (max-width: 555px) {
  .container {
    width: 32em;
  }

  .genero::after {
    right: 23em;
  }
}

@media (max-width: 525px) {
  .container {
    width: 30em;
  }

  .genero::after {
    right: 22em;
  }
}

@media (max-width: 495px) {
  .container {
    width: 28em;
  }

  .genero::after {
    top: 23.5em;
    right: 20.3em;
  }
}

@media (max-width: 455px) {
  .container {
    width: 26em;
  }

  .genero::after {
    right: 19.3em;
  }
}

@media (max-width: 425px) {
  .container {
    width: 24em;
  }

  .genero::after {
    right: 18.3em;
  }
}

@media (max-width: 405px) {
  body {
    height: auto;
    overflow: scroll;
  }

  .container {
    width: 23em;
  }

  .genero::after {
    top: 27em;
    right: 17em;
  }
}


@media (max-width: 375px) {
  .container {
    width: 22em;
  }

  .genero::after {
    right: 17em;
  }
}

@media (max-width: 365px) {
  .container {
    width: 21em;
    height: 65em;
  }

  form {
    width: 100%;
  }

  .nome,
  .telefone,
  .genero,
  .nascimento,
  .senha {
    width: 100%;
  }

  .grupo {
    flex-direction: column;
    width: 90%;
  }

  .genero::after {
    top: 40em;
    right: 6em;
  }

  .termos {
    width: 85%;
  }

  .form-container button {
    width: 80%;
  }
}

@media (max-width: 345px) {
  .container {
    width: 19em;
  }
}