@import url(../css/font.css);
@import url(../css/cores.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a55c2;
  background: linear-gradient(to right, #ded8d8, #2a55c2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h2 {
  font-family: "Poppins-bold";
}

.titulo {
  font-family: "Poppins-bold";
  color: var(--azul);
  text-transform: uppercase;
}

.cadastro {
  font-family: "Poppins-bold";
  margin: 10px;
}

.login {
  font-family: "Poppins-bold";
  margin-bottom: 30px;
}

label,
input,
a {
  font-family: "Poppins-semibold";
  font-size: 13px;
}

label {
  margin-left: 10px;
}

button,
p {
  font-family: "Poppins-bold";
}

.container {
  background-color: var(--branco);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 775px;
  max-width: 100%;
  min-height: 600px;
}

.container p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container a {
  color: var(--azul);
  text-decoration: none;
  margin: 15px 0 10px;
}

/* botoes */
#login,
#register {
  background-color: transparent;
  color: var(--branco);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid #fff;
  border-radius: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-animado {
  padding: 10px 45px;
  border: 2px solid #2a55c2;
  border-radius: 20px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  z-index: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #2a55c2;
  font-size: 12px;
  background-color: transparent;
  outline: none;
  transition: color 0.5s;
  cursor: pointer;
}

.btn-animado:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.btn-animado:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 20px;
}

svg {
  height: 2em;
}

.btn-animado:hover {
  color: #fff;
  border-radius: 20px;
}

.btn-animado:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: -1px;
  top: 0;
  width: 101%;
  height: 100%;
  border-radius: 20px;
  background: transparent;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #2a55c2;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.btn-animado:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  .btn-animado:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

/* final botoes */

.container form {
  background-color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input,
select {
  background-color: var(--cinza-claro);
  border: none;
  margin: 8px 0;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 20px;
  width: 100%;
  outline: none;
}

#genero {
  font-family: "Poppins-semibold";
  background-color: var(--cinza-claro);
  border: none;
  margin: 8px 0;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
  width: 100%;
  height: 2.5em;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.genero::after {
  content: url(../img/Icon.svg);
  position: absolute;
  top: 23em;
  right: 19em;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6d6d6d;
  font-size: 12px;
  z-index: 1;
}

.flatpickr-calendar {
  font-family: "Poppins-regular";
  font-size: 12px;
}

.flatpickr-day {
  font-weight: 400;
  color: #333;
}

.flatpickr-months {
  font-size: 12px;
}

.flatpickr-weekday {
  font-size: 12px;
  color: #666;
}

.termos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20em;
  margin-top: 1em;
}

.termos input[type="checkbox"] {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 5px;
  height: 20px;
  border: 2px solid #2a55c2;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.termos input[type="checkbox"]:checked::before {
  content: url(../img/Vector.svg);
  color: none;
  font-size: 12px;
  display: block;
  position: absolute;
  top: -1px;
  left: 0.4em;
}

.termos-condicoes a {
  color: #121212;
  text-decoration: underline;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 55%;
  opacity: 0;
  z-index: 1;
  overflow-y: hidden;
}

.container.active .sign-up {
  transform: translateX(80%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 10px auto;
}

.social-icons img {
  width: 30px;
  height: auto;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.social-icons2 {
  margin: 30px auto 0 auto;
}

.social-icons2 img {
  width: 30px;
  height: auto;
}

.social-icons2 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 55%;
  width: 45%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-125%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: var(--azul);
  height: 100%;
  background: var(--azul);
  color: var(--branco);
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  /* transition: all 0.6s ease-in-out; */
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  /* transition: all 0.6s ease-in-out; */
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.vitoria-regia {
  margin-bottom: 50px;
}

.logo {
  width: 130px;
  height: auto;
  margin-top: 50px;
}

/* inputs */
.nome,
.email,
.telefone,
.genero,
.nascimento,
.senha {
  width: 100%;
  gap: 5px;
}

.email,
.senha {
  margin-top: 0.2em;
}

.grupo-telefone {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.genero,
.nascimento {
  width: 57%;
}

.genero option {
  font-family: "Poppins-semibold";
}

.grupo,
.grupo2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 0.5em;
}

#recover-password {
  color: var(--azul);
  text-decoration: none;
  margin: 15px 0 10px;
  background-color: var(--branco);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 20px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

/*
#recover-password:active {
  opacity: 1;
}

#recover-password:disabled {
  opacity: 0.5;
}

 #cadastrar:disabled {
  opacity: 0.5;
}

#cadastrar:active {
  opacity: 1;
}

#entrar:disabled {
  opacity: 0.5;
}
  
#entrar:active {
  opacity: 1;
} */

#erro-login-invalido {
  color: red;
  display: none;
}

#erro-login {
  color: red;
  display: none;
}

#erro-senha {
  color: red;
  display: none;
}

#erro-senha-incorreta {
  color: red;
  display: none;
}

#erro-email-register {
  color: red;
  display: none;
}

#erro-email-obrigatorio {
  color: red;
  display: none;
}

#erro-senha-invalida {
  color: red;
  display: none;
}

#erro-senha-register {
  color: red;
  display: none;
}

#erro-senha-obrigatorio {
  display: none;
  color: red;
}

#erro-nao-corresponde {
  display: none;
  color: red;
  width: 15px;
}

#erro-data {
  display: none;
  color: red;
}

#erro-senha-min {
  display: none;
  color: red;
}

#erro-data-18 {
  color: red;
  display: none;
}