@import url(../css/font.css);
@import url(../css/cores.css);

.campo-titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 110px 50px 40px 50px;
}

.titulo-inicial {
  font-family: "Blinker-semibold";
  color: #2a55c2;
}

/* campo inicial */
.campo-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.fundo-doacoes {
  background-color: #fff;
  width: 100%;
  height: 27em;
  border-radius: 15px;
}

.tabela-doacoes {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0 2em 0;
}

.tabela-doacoes th,
.tabela-doacoes td {
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.tabela-doacoes th {
  font-family: "Poppins-medium";
  font-size: 14px;
  color: #555;
}

.tabela-doacoes td {
  font-family: "Blinker-regular";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.peca {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 2em;
}

.peca img {
  max-width: 4em;
}

.nome-peca {
  font-family: "Blinker-semibold";
  margin: 0 0 1em 0;
}

.tipo-interno,
.tipo-periferico,
.tipo-estrutura {
  width: 6em;
  height: 2em;
  font-family: "Blinker-regular";
  border: none;
  border-radius: 15px;
  text-align: center;
}

.tipo-interno {
  background-color: #fee333;
}

.tipo-periferico {
  background-color: #c8d7fe;
}

.tipo-estrutura {
  background-color: #e1c6f6;
}

.vistoria-realizada,
.vistoria-pendente {
  width: 7em;
  height: 2em;
  font-family: "Blinker-regular";
  border: none;
  border-radius: 15px;
  margin: 0 0 0 2em;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.vistoria-realizada {
  background-color: #ecfdf3;
  color: #508d3f;
}

.vistoria-pendente {
  background-color: #ffeeee;
  color: #d40000;
}

.opcoes {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.opcoes img {
  width: 1em;
  height: 1em;
}

#gabinete {
  width: 2.5em;
}

.btn-vistoria {
  background-color: #2a55c2;
  border: none;
  border-radius: 15px;
  width: 2em;
  height: 2em;
  padding: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#tbody{
  scroll-behavior: auto;
  overflow-y: auto;
}