@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .imagem-fundo {
    width: auto;
  }

  .brilho-verde {
    top: 1em;
  }

  .brilho-azul {
    top: 2em;
  }

  .brilho-amarelo2 {
    bottom: 15em;
  }

  #texto-inicial {
    top: 23.5em;
  }

  .cupons {
    width: auto;
  }

  .modal-content-dourado {
    height: 32em;
  }

  .modal-content-dourado .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 15px;
  }

  .titulo-dourado {
    position: relative;
    top: 1em;
  }

  .texto-dourado {
    position: relative;
    top: 2em;
  }

  .estrela-dourada {
    position: relative;
    right: 9em;
    top: 6em;
  }

  .estrela-dourada2 {
    position: relative;
    left: 9em;
    top: 0;
  }

  .texto-lojas {
    margin: -20px 35px;
  }

  .cupom-dourado {
    margin-left: 15px;
  }

  #estrelas {
    position: relative;
    right: 12em;
    top: 2em;
    margin-bottom: 1em;
  }

  #ram-dourado {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 2em;
    z-index: 2;
  }

  .curiosidade {
    margin-right: 5em;
    position: relative;
    bottom: 2em;
  }

  .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #745f12;
    text-align: right;
    margin-left: 15px;
  }

  .modal-content-vidro {
    height: 32em;
  }

  #ram-vidro {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 4em;
    z-index: 2;
  }

  .modal-content-vidro .texto-lojas {
    bottom: 6em;
  }

  .modal-content-vidro .curiosidade {
    bottom: 4em;
  }

  .modal-content-golias {
    height: 32em;
  }

  .modal-content-golias .texto-lojas {
    bottom: 2em;
  }

  #ram-golias,
  .modal-content-golias .curiosidade {
    bottom: 0;
  }
}

@media (max-width: 1280px) {
  .medalha-amarela {
    bottom: 14em;
    left: 25em;
  }

  .medalha-roxa {
    bottom: 13em;
    left: 20em;
  }
}

@media (max-width: 1266px) {
  .imagem-inicial {
    width: auto;
  }

  #titulo-inicial {
    width: 40%;
  }

  #texto-inicial {
    width: 60%;
  }
}


@media (max-width: 1085px) {
  #titulo1 {
    margin: -0.1em 0 0.5em 6em;
  }

  #texto1 {
    margin-left: 10em;
  }

  #titulo2 {
    margin: 3em 0 15px 4.5em;
  }

  #texto2 {
    width: 65%;
    margin-left: 9.5em;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar li {
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .imagem-fundo {
    height: 25em;
    margin-bottom: 2em;
  }

  .botao {
    width: 0;
    display: none;
  }

  #scrollTarget {
    text-align: center;
  }

  #scrollTarget #titulo1 {
    margin: 0;
    margin-bottom: 25px;
  }

  #scrollTarget #texto1 {
    margin-left: 9em;
  }
}

@media (max-width: 905px) {

  .medalha-vermelha,
  .medalha-verde {
    right: 21em;
  }

  .medalha-amarela {
    left: 22em;
  }
}

@media (max-width: 480px) {}

@media (min-width: 320px) and (max-width: 435px) {}

@media (max-width: 330px) {}