/* Dispositivos móveis pequenos (em pé) */
@media (min-width: 320px) and (max-width: 421px) {
  /* Estilos aqui */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* imagem inicial */

  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 30em;
  }

  #titulo-inicial {
    font-size: 4em;
    width: 30%;
    margin: 0 0 50px 0;
  }

  #texto-inicial {
    width: 30%;
    text-align: center;
    position: relative;
    top: 16em;
  }

  .botao {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-left: 0;
  }

  #scrollTarget {
    padding-top: 9.5em; /* para compensar o menu fixo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* começo lado esquerdo */

  .medalha-vermelha {
    width: 3em;
    position: relative;
    top: -2em;
    right: 10em;
  }

  .medalha-verde {
    width: 3em;
    position: relative;
    top: 9em;
    right: 8em;
  }

  .brilho-amarelo {
    position: relative;
    bottom: 0.5em;
    right: 7em;
    z-index: -1;
  }

  .brilho-verde {
    width: 1em;
    position: relative;
    top: -1em;
    right: 11em;
    z-index: -1;
  }

  .brilho-azul {
    width: 1em;
    position: relative;
    top: 4em;
    right: 11em;
    z-index: -1;
  }
  /* final lado esquerdo */

  /* começo lado direito */

  .brilho-roxo {
    width: 1em;
    position: relative;
    bottom: 10em;
    left: 5em;
    z-index: -1;
  }

  .medalha-azul {
    width: 3em;
    position: relative;
    bottom: 15em;
    left: 0em;
  }

  .medalha-amarela {
    width: 3em;
    position: relative;
    bottom: 14em;
    left: 10em;
  }

  .brilho-vermelho {
    width: 1em;
    position: relative;
    bottom: 15em;
    left: 7em;
    z-index: -1;
  }

  .brilho-amarelo2 {
    position: relative;
    bottom: 10em;
    left: 10em;
    z-index: -1;
  }

  .medalha-roxa {
    width: 3em;
    position: relative;
    bottom: 6em;
    left: 8em;
  }

  /* final lado direito */

  /* imagem inicial */

  #titulo1 {
    font-family: "Blinker-extrabold";
    color: var(--verde);
    font-size: 1.7em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #texto1 {
    font-family: "Poppins-regular";
    color: var(--preto);
    font-size: 1em;
    margin-left: 0;
    text-align: center;
    width: 70%;
  }

  .cupons {
    width: 350px;
    height: 850px;
  }

  #titulo2 {
    margin: 3em 0 0 1em;
  }

  #texto2 {
    margin-left: 3em;
    width: 75%;
  }

  /* começo dos cards dos cupons */

  .card-cupons {
    flex-wrap: wrap;
    padding: 0;
    gap: 1em;
  }

  #titulo-card {
    font-size: 1.3em;
  }

  .item1,
  .item2,
  .item3 {
    padding: 10px;
    width: 10em;
    height: 12em;
  }

  #cupom-dourado {
    width: 10em;
  }

  .btn-cupom {
    margin-left: 8em;
    margin-top: -1em;
  }

  #empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0 3em 0;
    flex-wrap: nowrap;
  }

  .card-empresa {
    margin: 80px 10px 0 10px;
  }

  /* final dos cards dos cupons */

  /* Modal Content */
  /* começo modal dourado */
  .modal-content-dourado {
    width: 20em;
    height: 30em;
  }

  .titulo-dourado {
    top: 1.5em;
  }

  .texto-dourado {
    top: 2.5em;
  }

  .estrela-dourada {
    right: 8em;
  }

  .estrela-dourada2 {
    width: 9%;
    position: relative;
    left: 8em;
    top: 0.5em;
  }

  .texto-lojas {
    font-family: "Poppins-bold";
    color: #f89701;
    margin: -20px 35px;
  }

  .modal-content-dourado .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 15px;
  }

  .modal-content-dourado #loja {
    width: 27%;
  }

  .cupom-dourado {
    width: 45%;
    margin-left: 20px;
  }

  #estrelas {
    position: relative;
    right: 10em;
    top: 2em;
    margin-bottom: 1em;
  }

  #ram-dourado {
    width: 30%;
    position: relative;
    left: 3em;
    bottom: 2em;
    z-index: 2;
  }

  .curiosidade {
    width: 16em;
    height: 8em;
    margin-right: 5em;
    position: relative;
    bottom: 1em;
  }

  .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #745f12;
    text-align: right;
    margin-left: 15px;
  }
  /* final modal dourado */

  /* começo modal vidro */
  .modal-content-vidro {
    background-color: #dffbff;
    margin: 6em auto;
    padding: 20px;
    border-radius: 25px;
    width: 27em;
    max-width: 600px;
    height: 30em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .brilho-vidro {
    width: 5em;
    position: relative;
    right: 11em;
    top: 9em;
  }

  .titulo-vidro {
    font-family: "Blinker-extrabold";
    color: #027a8d;
    font-size: 30px;
    position: relative;
    top: -3em;
  }

  .texto-vidro {
    font-family: "Blinker-bold";
    color: #027a8d;
    font-size: 18px;
    position: relative;
    top: -5em;
  }

  .modal-content-vidro .ramcoin {
    margin: 15px 0;
    position: relative;
    top: -5em;
    left: 1.5em;
  }

  .cupom-vidro {
    width: 50%;
    margin-left: 45px;
  }

  .modal-content-vidro .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 6em;
    left: 1em;
  }

  .modal-content-vidro .texto-lojas {
    font-family: "Poppins-bold";
    color: #027a8d;
    position: relative;
    bottom: 7em;
  }

  .modal-content-vidro .curiosidade {
    height: 8em;
    background-color: #027a8d;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 5em;
    position: relative;
    bottom: 5em;
  }

  .modal-content-vidro .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #dffbff;
    text-align: right;
    margin-left: 10px;
    position: relative;
    bottom: 0.5em;
  }

  #ram-vidro {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 5em;
    z-index: 2;
  }
  /* final modal vidro */

  /* começo modal golias */
  .modal-content-golias {
    background-color: #c7fbb9;
    margin: 6em auto;
    padding: 20px;
    border-radius: 25px;
    width: 27em;
    max-width: 600px;
    height: 30em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titulo-golias {
    font-family: "Blinker-extrabold";
    color: #2b5121;
    font-size: 30px;
    position: relative;
    top: 1.5em;
  }

  .texto-golias {
    font-family: "Blinker-bold";
    color: #2b5121;
    font-size: 18px;
    position: relative;
    top: 0;
  }

  .mancha-verde1 {
    position: relative;
    right: 11em;
    top: 3em;
  }

  .mancha-verde2 {
    position: relative;
    left: 11em;
    bottom: 2em;
  }

  .modal-content-golias .ramcoin {
    margin: 15px 0;
    position: relative;
    top: -1em;
    left: 1.5em;
  }

  .modal-content-golias .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 3em;
    left: 1em;
  }

  .modal-content-golias .texto-lojas {
    font-family: "Poppins-bold";
    color: #2b5121;
    position: relative;
    bottom: 3em;
  }

  .modal-content-golias .curiosidade {
    height: 8em;
    background-color: #579445;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 5em;
    position: relative;
    bottom: 0;
  }

  .modal-content-golias .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #d3ffc8;
    text-align: right;
    margin-left: 10px;
    position: relative;
    bottom: 0.5em;
  }

  #ram-golias {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 0;
    z-index: 2;
  }

  /* final modal golias */

  /* começo botão fechar o modal */
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cinza);
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--cinza);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #555;
    border-color: #555;
    text-decoration: none;
  }
  /* final botão fechar o modal */

  /* começo ramcoin */
  .itens {
    display: flex;
    flex-direction: column;
  }

  .ramcoin {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    position: relative;
    top: 1em;
  }

  .qtd-ramcoin {
    font-family: "Blinker-bold";
    color: #417932;
    margin-left: 5px;
  }

  .text-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
    width: 300px;
    z-index: 1;
  }

  .textos {
    font-family: "Poppins-semibold";
    color: var(--azul);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .ramcoin:hover .text-block {
    display: block;
  }

  /* final ramcoin */

  #loja {
    width: 20%;
  }

  .campo-curiosidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 36em;
    padding: 0 0 20px 15px;
  }

  /* final dos cards dos cupons */

  /* footer */

  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-left: 55px;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 55px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 65px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }
  /* footer */

  .logoBranca-small {
    width: 150px;
  }
}

/* Dispositivos móveis médios (em pé) */
@media (max-width: 375px) {
  /* Estilos aqui */
  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Dispositivos móveis grandes (em pé) */
@media (max-width: 425px) {
  /* Estilos aqui */
  .footer-container .logo {
    margin: 0;
    bottom: 20px;
    flex-direction: column;
  }

  .flor img {
    visibility: hidden;
  }

  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .footer-container .descricao-footer {
    margin-top: 0;
    display: block;
  }

  .descricao-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    max-width: 100%;
  }
  /*   
  .geral, .contato {
    margin: 70px;

  }
 */
  .endereco {
    max-width: 100%;
  }

  .footer-container button {
    margin-right: 10px;
  }

  .logoBranca-small {
    width: 150px;
  }

  h3 {
    margin-top: 15px;
  }
}

@media (max-width: 670px) {
  .flor img {
    visibility: hidden;
  }
}
/* Dispositivos móveis em modo paisagem (tela horizontal) */
@media (max-width: 767px) {
  /* Estilos aqui */
}

/* Tablets em modo retrato (tela vertical) */
@media (max-width: 768px) {
  /* Estilos aqui */
  .flor img {
    visibility: hidden;
  }

  .logoBranca-small {
    display: block;
    width: 150px;
  }

  p {
    margin-bottom: 10px;
  }
}

/* Tablets em modo paisagem (tela horizontal) */
@media (max-width: 1024px) {
  /* Estilos aqui */
  header {
    display: flex;
    justify-content: space-between;
  }

  #perfil {
    float: left;
    display: none;
  }

  #drop {
    display: block;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }
}

/* Laptops pequenos */
@media (max-width: 1280px) {
  /* Estilos aqui */
  .logoBranca {
    display: none;
  }
}

/* Laptops e desktops */
@media (max-width: 1440px) {
  /* Estilos aqui */
}

/* Telas grandes */
@media (max-width: 1920px) {
  /* Estilos aqui */
}

@media (max-width: 895px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }
  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }
}
