/* Dispositivos móveis pequenos (em pé) */
@media (min-width: 320px) and (max-width: 421px) {
  /* Estilos aqui */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* imagem inicial */

  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 35em;
  }

  /* #titulo-inicial {
      font-size: 4em;
      width: 90%;
      margin: 0 0 30px 0;
      text-align: center;
    }
  
    #texto-inicial {
      width: 95%;
      margin: 0;
      text-align: center;
      font-size: 1em;
    } */

  .botao {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
    margin-left: 4em;
  }
  /* imagem inicial */

  .footer-container {
    width: 320px;
    height: auto;
    position: none;
  }

  .flor img {
    visibility: hidden;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin-top: 15px;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }

  .logoBranca-small {
    width: 150px;
  }

  .footer-container .logo {
    width: 80px;
  }
}

/* Dispositivos móveis médios (em pé) */
@media (max-width: 375px) {
  /* Estilos aqui */
  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Dispositivos móveis grandes (em pé) */
@media (max-width: 425px) {
  /* Estilos aqui */
  .footer-container .logo {
    margin: 0;
    bottom: 20px;
    flex-direction: column;
  }

  .flor img {
    visibility: hidden;
  }

  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .footer-container .descricao-footer {
    margin-top: 0;
    display: block;
  }

  .descricao-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    max-width: 100%;
  }
  /*   
  .geral, .contato {
    margin: 70px;

  }
 */
  .endereco {
    max-width: 100%;
  }

  .footer-container button {
    margin-right: 10px;
  }

  .logoBranca-small {
    width: 150px;
  }

  h3 {
    margin-top: 15px;
  }
}

/* quebrando a linha da imagem */

@media (max-width: 670px) {
  .flor img {
    visibility: hidden;
  }
}
/* Dispositivos móveis em modo paisagem (tela horizontal) */
@media (max-width: 767px) {
  /* Estilos aqui */
}

/* Tablets em modo retrato (tela vertical) */
@media (max-width: 768px) {
  /* Estilos aqui */
  .flor img {
    visibility: hidden;
  }

  .logoBranca-small {
    display: block;
    width: 150px;
  }

  p {
    margin-bottom: 10px;
  }
}

/* Tablets em modo paisagem (tela horizontal) */
@media (max-width: 1024px) {
  /* Estilos aqui */
  header {
    display: flex;
    justify-content: space-between;
  }

  #perfil {
    float: left;
    display: none;
  }

  #drop {
    display: block;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }
}

/* Laptops pequenos */
@media (max-width: 1280px) {
  /* Estilos aqui */
  .logoBranca {
    display: none;
  }
}

/* Laptops e desktops */
@media (max-width: 1440px) {
  /* Estilos aqui */
}

/* Telas grandes */
@media (max-width: 1920px) {
  /* Estilos aqui */
}

@media (max-width: 895px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }
  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }
}
