@media (min-width: 1920px) {
  nav ul {
    background-color: var(--branco);
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    margin-left: 15px;
    margin-right: 15px;
    position: fixed;
    height: 4em;
    margin: 0;
    z-index: 1000;
  }

  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .brilho-azul {
    top: 3.5em;
  }

  .brilho-amarelo2 {
    bottom: 13em;
  }

  .cupons {
    width: 1856px;
  }

  .modal-content-dourado {
    height: 32em;
  }

  .modal-content-dourado .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 15px;
  }

  .titulo-dourado {
    position: relative;
    top: 1em;
  }

  .texto-dourado {
    position: relative;
    top: 2em;
  }

  .estrela-dourada {
    position: relative;
    right: 9em;
    top: 6em;
  }

  .estrela-dourada2 {
    position: relative;
    left: 9em;
    top: 0;
  }

  .texto-lojas {
    margin: -20px 35px;
  }

  .cupom-dourado {
    margin-left: 15px;
  }

  #estrelas {
    position: relative;
    right: 12em;
    top: 2em;
    margin-bottom: 1em;
  }

  #ram-dourado {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 2em;
    z-index: 2;
  }

  .curiosidade {
    margin-right: 5em;
    position: relative;
    bottom: 2em;
  }

  .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #745f12;
    text-align: right;
    margin-left: 15px;
  }

  .modal-content-vidro {
    height: 32em;
  }

  #ram-vidro {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 4em;
    z-index: 2;
  }

  .modal-content-vidro .texto-lojas {
    bottom: 6em;
  }

  .modal-content-vidro .curiosidade {
    bottom: 4em;
  }

  .modal-content-golias {
    height: 32em;
  }

  .modal-content-golias .texto-lojas {
    bottom: 2em;
  }

  #ram-golias,
  .modal-content-golias .curiosidade {
    bottom: 0;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .brilho-azul {
    top: 3.5em;
  }

  .brilho-amarelo2 {
    bottom: 13em;
  }

  .cupons {
    width: auto;
  }

  .modal-content-dourado {
    height: 32em;
  }

  .modal-content-dourado .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 15px;
  }

  .titulo-dourado {
    position: relative;
    top: 1em;
  }

  .texto-dourado {
    position: relative;
    top: 2em;
  }

  .estrela-dourada {
    position: relative;
    right: 9em;
    top: 6em;
  }

  .estrela-dourada2 {
    position: relative;
    left: 9em;
    top: 0;
  }

  .texto-lojas {
    margin: -20px 35px;
  }

  .cupom-dourado {
    margin-left: 15px;
  }

  #estrelas {
    position: relative;
    right: 12em;
    top: 2em;
    margin-bottom: 1em;
  }

  #ram-dourado {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 2em;
    z-index: 2;
  }

  .curiosidade {
    margin-right: 5em;
    position: relative;
    bottom: 2em;
  }

  .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #745f12;
    text-align: right;
    margin-left: 15px;
  }

  .modal-content-vidro {
    height: 32em;
  }

  #ram-vidro {
    width: 35%;
    position: relative;
    left: 3em;
    bottom: 4em;
    z-index: 2;
  }

  .modal-content-vidro .texto-lojas {
    bottom: 6em;
  }

  .modal-content-vidro .curiosidade {
    bottom: 4em;
  }

  .modal-content-golias {
    height: 32em;
  }

  .modal-content-golias .texto-lojas {
    bottom: 2em;
  }

  #ram-golias,
  .modal-content-golias .curiosidade {
    bottom: 0;
  }
}

@media (max-width: 1200px) {
  nav ul {
    width: 74em;
  }

  .imagem-inicial {
    width: 72em;
  }
}

@media (max-width: 1145px) {
  nav ul {
    width: 70em;
  }

  nav a {
    padding: 0 8px;
  }

  .content-sem-perfil {
    margin-right: 4em;
  }

  .imagem-inicial {
    width: 68em;
  }

  .medalha-amarela {
    left: 28em;
  }

  .medalha-roxa {
    left: 22em;
  }
}

@media (max-width: 1050px) {
  nav ul {
    width: 65em;
  }

  .imagem-inicial {
    width: 65em;
  }

  #titulo-inicial {
    width: 33%;
  }
}

@media (max-width: 1025px) {
  nav ul {
    width: 64em;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  #drop {
    display: block;
  }

  .imagem-inicial {
    width: 60em;
  }

  #titulo-inicial {
    width: 35%;
  }

  .medalha-amarela {
    left: 26em;
  }

  .medalha-roxa {
    left: 21em;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }

  /* .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  } */
}

@media (max-width: 1005px) {
  nav ul {
    width: 63em;
  }
}

@media (max-width: 980px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    width: 60em;
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar li {
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .imagem-fundo {
    height: 25em;
    margin-bottom: 2em;
  }

  .botao {
    display: none;
  }

  #scrollTarget {
    text-align: center;
  }

  #scrollTarget #titulo1 {
    margin: 0;
  }

  #scrollTarget #texto1 {
    margin-left: 9em;
  }
}

@media (max-width: 945px) {
  nav ul {
    width: 58em;
  }

  .sidebar {
    right: 1em;
  }

  .imagem-fundo {
    height: 25em;
    width: 56em;
    margin-bottom: 1em;
  }

  .medalha-vermelha,
  .medalha-verde {
    right: 20em;
  }

  .brilho-verde {
    right: 14em;
  }

  .medalha-amarela {
    left: 25em;
  }

  #scrollTarget {
    text-align: center;
  }

  #scrollTarget #titulo1 {
    margin: 0;
  }

  #scrollTarget #texto1 {
    text-align: center;
    margin-left: 9em;
  }

  #titulo2 {
    margin: 3em 0 0 4em;
  }

  #texto2 {
    width: 60%;
    margin-left: 8.5em;
  }

  #titulo1 {
    margin: -0.1em 0 0.5em 4em;
  }

  #texto1 {
    margin-left: 7em;
  }

  .logoBranca {
    display: none;
  }
}

@media (max-width: 900px) {
  nav ul {
    width: 56em;
  }

  .imagem-fundo {
    width: auto;
  }
}

@media (max-width: 895px) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    width: 53em;
  }

  .imagem-fundo {
    width: 50em;
  }

  .imagem-inicial {
    width: 56em;
  }

  .medalha-vermelha,
  .medalha-verde,
  .medalha-azul,
  .medalha-amarela,
  .medalha-roxa {
    width: 6em;
  }

  .medalha-amarela {
    left: 24em;
  }
}

@media (max-width: 830px) {
  nav ul {
    width: 50em;
  }

  .imagem-fundo {
    width: 48em;
    align-items: center;
    justify-content: center;
  }

  .imagem-inicial {
    width: 53em;
  }

  #titulo-inicial {
    width: 50%;
    margin-left: 35px;
  }

  #texto-inicial {
    width: 50%;
    font-size: 18px;
    top: 20em;
    left: 1em;
  }

  .medalha-vermelha {
    right: 18em;
  }

  .medalha-verde {
    right: 19em;
  }

  .medalha-azul {
    left: 18em;
  }

  .medalha-amarela {
    left: 22em;
  }

  .medalha-roxa {
    left: 19em;
  }

  #scrollTarget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #scrollTarget #titulo1 {
    margin-bottom: 1em;
  }

  #scrollTarget #texto1 {
    margin: 0;
  }
}

@media (max-width: 800px) {
  nav ul {
    width: 48em;
  }
}

@media (max-width: 720px) {
  nav ul {
    width: 44em;
  }

  .sidebar {
    right: 3em;
  }

  .imagem-fundo {
    width: 44em;
  }

  .imagem-inicial {
    width: 43em;
  }

  #titulo-inicial {
    font-size: 70px;
    width: 45%;
    position: relative;
    top: 4em;
  }

  #texto-inicial {
    width: 60%;
    top: 17em;
  }

  .medalha-vermelha,
  .medalha-verde,
  .medalha-azul,
  .medalha-amarela,
  .medalha-roxa {
    width: 5em;
  }

  .brilho-verde,
  .brilho-azul,
  .brilho-roxo,
  .brilho-vermelho {
    width: 20px;
  }

  .medalha-vermelha {
    right: 16em;
  }

  .medalha-verde {
    top: 9em;
    right: 16em;
  }

  .brilho-verde {
    top: 1em;
    right: 12em;
  }

  .brilho-azul {
    top: 5em;
    right: 11em;
  }

  .medalha-azul {
    left: 16em;
  }

  .medalha-amarela {
    left: 19em;
  }

  .brilho-vermelho {
    left: 13em;
  }

  .brilho-amarelo2 {
    bottom: 8em;
  }

  .medalha-roxa {
    left: 17em;
  }

  #titulo2 {
    margin: 3em 0 0 2em;
  }

  #texto2 {
    width: 80%;
    margin-left: 5em;
  }

  .item1,
  .item2,
  .item3 {
    width: 10em;
    height: 10em;
  }

  .btn-cupom {
    margin-left: 9em;
  }

  #empresas {
    flex-wrap: wrap;
  }
}

@media (max-width: 685px) {
  nav ul {
    width: 41em;
  }

  .sidebar {
    right: 2em;
  }

  .imagem-fundo {
    width: 39em;
  }

  .medalha-vermelha {
    top: 3em;
    right: 15em;
  }

  .medalha-verde {
    top: 9em;
  }

  .medalha-amarela {
    left: 18em;
  }

  .fundo-medalha-salto,
  .fundo-medalha-coracao,
  .fundo-medalha-explosao,
  .fundo-medalha-engrenagem,
  .fundo-medalha-raio {
    width: 37em;
  }
}

@media (max-width: 645px) {
  nav ul {
    width: 39em;
  }

  .medalha-azul {
    left: 15em;
  }

  .brilho-vermelho {
    bottom: 13em;
  }

  .medalha-amarela {
    left: 16em;
  }

  .medalha-roxa {
    bottom: 11em;
    left: 15em;
  }

  .cupons {
    height: 35em;
  }

  .card-cupons {
    flex-wrap: wrap;
  }
}

@media (max-width: 610px) {
  .fundo-medalha-salto,
  .fundo-medalha-coracao,
  .fundo-medalha-explosao,
  .fundo-medalha-engrenagem,
  .fundo-medalha-raio {
    width: 35em;
  }
}

@media (max-width: 595px) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    width: 37em;
  }

  .imagem-fundo {
    width: 36em;
  }

  .medalha-vermelha {
    right: 14em;
  }

  .medalha-verde {
    top: 10em;
    right: 14em;
  }

  .brilho-azul {
    display: none;
  }

  .medalha-amarela {
    left: 15em;
  }

  .medalha-roxa {
    bottom: 9em;
    left: 14em;
  }

  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral,
  .redes-sociais,
  .contato {
    width: 420px;
  }

  .contato {
    margin-top: 15px;
    margin-left: 0;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 470px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 65px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }

  .logoBranca {
    display: none;
  }

  #geral-titulo,
  #redes_sociais-titulo,
  #contato-titulo {
    margin-top: 3em;
  }

  .redes-sociais,
  .geral,
  .contato {
    height: auto;
  }

  .copyright {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  nav ul {
    width: 30em;
  }

  .email {
    width: 390px;
  }

  .cupons {
    height: 55em;
  }

  #titulo1 {
    font-family: "Blinker-extrabold";
    color: var(--verde);
    font-size: 1.7em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #texto1 {
    font-family: "Poppins-regular";
    color: var(--preto);
    font-size: 1em;
    margin-left: 0;
    text-align: center;
    width: 80%;
  }

  .section-empresas,
  .conquistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .conquistas #texto1 {
    width: 70%;
  }

  #titulo2 {
    margin: 1em 0 0 1em;
  }

  #texto2 {
    margin-left: 3em;
    width: 75%;
  }

  /* começo dos cards dos cupons */
  .card-cupons {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    gap: 1em;
  }

  #titulo-card {
    font-size: 1.3em;
  }

  .item1,
  .item2,
  .item3 {
    padding: 10px;
    width: 10em;
    height: 12em;
  }

  #cupom-dourado {
    width: 10em;
  }

  .btn-cupom {
    margin-left: 8em;
    margin-top: -1em;
  }

  #empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0 3em 0;
    flex-wrap: nowrap;
  }

  .card-empresa {
    margin: 80px 10px 0 10px;
  }

  /* final dos cards dos cupons */

  /* Modal Content */
  /* começo modal dourado */
  .modal-content-dourado {
    width: 20em;
    height: 30em;
    overflow: hidden;
  }

  .titulo-dourado {
    top: 1.5em;
  }

  .texto-dourado {
    top: 2.5em;
  }

  .estrela-dourada {
    right: 8em;
  }

  .estrela-dourada2 {
    width: 9%;
    position: relative;
    left: 8em;
    top: 0.5em;
  }

  .texto-lojas {
    font-family: "Poppins-bold";
    color: #f89701;
    margin: -20px 35px;
  }

  .modal-content-dourado .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 6em;
    left: -1em;
  }

  .modal-content-dourado #loja {
    width: 27%;
  }

  .cupom-dourado {
    width: 45%;
    margin-left: 20px;
  }

  #estrelas {
    position: relative;
    right: 10em;
    top: 2em;
    margin-bottom: 1em;
  }

  #ram-dourado {
    width: 20%;
    position: relative;
    left: 3em;
    bottom: 0;
    z-index: 2;
  }

  .modal-content-dourado .curiosidade {
    width: 16.5em;
    height: 8em;
    margin-right: 5em;
    position: relative;
    bottom: 1em;
  }

  .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #745f12;
    text-align: right;
    margin-left: 15px;
  }
  /* final modal dourado */

  /* começo modal vidro */
  .modal-content-vidro {
    width: 20em;
    height: 30em;
    overflow: hidden;
  }

  .brilho-vidro {
    width: 5em;
    position: relative;
    right: 8em;
    top: 6em;
  }

  .titulo-vidro {
    font-size: 30px;
    position: relative;
    top: -4em;
  }

  .texto-vidro {
    font-size: 18px;
    position: relative;
    top: -7em;
  }

  .modal-content-vidro .ramcoin {
    margin: 15px 0;
    position: relative;
    top: -8em;
    left: 1.5em;
  }

  .cupom-vidro {
    width: 50%;
    margin-left: 0;
  }

  .modal-content-vidro .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 8em;
    left: 1em;
  }

  .modal-content-vidro .texto-lojas {
    position: relative;
    bottom: 8em;
  }

  .modal-content-vidro .curiosidade {
    width: 15em;
    height: 8em;
    margin-right: 5em;
    position: relative;
    bottom: 5em;
  }

  .modal-content-vidro .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #dffbff;
    text-align: right;
    margin-left: 10px;
    position: relative;
    bottom: 0.5em;
  }

  #ram-vidro {
    width: 23%;
    position: relative;
    left: 2.5em;
    bottom: 5em;
    z-index: 2;
  }
  /* final modal vidro */

  /* começo modal golias */
  .modal-content-golias {
    width: 20em;
    height: 30em;
    overflow: hidden;
  }

  .titulo-golias {
    font-size: 30px;
    position: relative;
    top: 1em;
  }

  .texto-golias {
    font-size: 18px;
    position: relative;
    top: -1em;
  }

  .mancha-verde1 {
    position: relative;
    right: 9.5em;
    top: 2em;
  }

  .mancha-verde2 {
    position: relative;
    left: 9.5em;
    bottom: 3em;
  }

  .modal-content-golias .ramcoin {
    margin: 15px 0;
    position: relative;
    top: -3em;
    left: 1.5em;
  }

  .modal-content-golias .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 4em;
    left: 1em;
  }

  .modal-content-golias .texto-lojas {
    position: relative;
    bottom: 3em;
  }

  .modal-content-golias .curiosidade {
    width: 15em;
    height: 8em;
    margin-right: 5em;
    position: relative;
    bottom: 0;
  }

  .modal-content-golias .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #d3ffc8;
    text-align: right;
    margin-left: 10px;
    position: relative;
    bottom: 0.5em;
  }

  #ram-golias {
    width: 27%;
    position: relative;
    left: 3.5em;
    bottom: 0;
    z-index: 2;
  }

  /* final modal golias */

  /* começo botão fechar o modal */
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cinza);
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--cinza);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #555;
    border-color: #555;
    text-decoration: none;
  }
  /* final botão fechar o modal */

  /* começo ramcoin */
  .itens {
    display: flex;
    flex-direction: column;
  }

  .ramcoin {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    position: relative;
    top: 1em;
  }

  .qtd-ramcoin {
    font-family: "Blinker-bold";
    color: #417932;
    margin-left: 5px;
  }

  .text-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
    width: 300px;
    z-index: 1;
  }

  .textos {
    font-family: "Poppins-semibold";
    color: var(--azul);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .ramcoin:hover .text-block {
    display: block;
  }

  /* final ramcoin */

  #loja {
    width: 20%;
  }

  .campo-curiosidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 36em;
    padding: 0 0 20px 15px;
  }

  /* final dos cards dos cupons */

  /* começo salto tecnologico */
  .fundo-medalha-salto {
    width: 22em;
    height: 18em;
    margin-top: 3em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-salto {
    width: 6.5em;
    position: relative;
    bottom: 2em;
    left: 1em;
  }

  .img-vitoria-regia {
    display: none;
  }

  .column-textos {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-top: 1em;
  }

  .titulo-salto {
    position: relative;
    bottom: 5em;
    left: 3.5em;
  }

  .fundo-medalha-salto .objetivo {
    position: relative;
    bottom: 5em;
    left: 1em;
  }

  .fundo-medalha-salto .texto {
    width: 100%;
    position: relative;
    bottom: 4em;
    right: 1em;
  }

  /* final salto tecnologico */

  /* começo coração generoso */
  .fundo-medalha-coracao {
    background-color: #ffb5c3;
    width: 22em;
    height: 16em;
    margin-top: 5em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-coracao {
    width: 8em;
    position: relative;
    bottom: 13em;
    left: 13em;
  }

  .fundo-medalha-coracao .titulo-coracao {
    position: relative;
    top: 0.2em;
    right: 1em;
  }

  .fundo-medalha-coracao .objetivo {
    position: relative;
    top: 2em;
    right: 1em;
  }

  .fundo-medalha-coracao .texto {
    position: relative;
    top: 3em;
    right: 1.5em;
  }
  /* final coração generoso */

  /* começo explosão eletronica */
  .fundo-medalha-explosao {
    width: 22em;
    height: 18em;
    margin-top: 4em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-explosao {
    width: 8em;
    position: relative;
    bottom: 2.5em;
    left: -0.5em;
  }

  .fundo-medalha-explosao .titulo-explosao {
    position: relative;
    bottom: 7em;
    left: 5em;
  }

  .fundo-medalha-explosao .objetivo {
    position: relative;
    bottom: 6em;
    left: 3em;
  }

  .fundo-medalha-explosao .column-textos {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1em;
  }

  .fundo-medalha-explosao .texto {
    position: relative;
    bottom: 5em;
    left: 2em;
    width: 85%;
  }
  /* final explosão eletronica */

  /* começo engrenagem solidaria */
  .fundo-medalha-engrenagem {
    width: 22em;
    height: 16em;
    margin-top: 4em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-engrenagem {
    width: 8em;
    position: relative;
    bottom: 15em;
    left: 14em;
  }

  .fundo-medalha-engrenagem .titulo-engrenagem {
    position: relative;
    right: 1em;
  }

  .fundo-medalha-engrenagem .objetivo {
    position: relative;
    top: 2em;
    right: 0;
    left: 0.5em;
  }

  .fundo-medalha-engrenagem .texto {
    position: relative;
    top: 3em;
    right: 1.5em;
  }
  /* final engrenagem solidaria */

  /* começo raio esperança */
  .fundo-medalha-raio {
    width: 22em;
    height: 18em;
    margin-top: 4em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-raio {
    width: 6.5em;
    position: relative;
    bottom: 2em;
    left: 1em;
  }

  .brilho-esperanca {
    width: 4em;
    position: relative;
    top: -2em;
    right: 0;
    left: 0;
  }

  .img-raio2 {
    display: none;
  }

  .fundo-medalha-raio .column-textos {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1em;
  }

  .titulo-raio {
    position: relative;
    bottom: 7em;
    left: 6em;
  }

  .fundo-medalha-raio .objetivo {
    position: relative;
    bottom: 8em;
    left: 8em;
  }

  .fundo-medalha-raio .texto {
    position: relative;
    bottom: 6em;
    left: 2em;
    width: 88%;
  }
  /* final raio esperança */

  /* footer */
  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral,
  .redes-sociais {
    width: 270px;
  }

  .contato {
    margin-top: 15px;
    margin-left: 0;
    width: 270px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 65px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }
  /* footer */
  .logoBranca {
    display: none;
  }

  #geral-titulo,
  #redes_sociais-titulo,
  #contato-titulo {
    margin-top: 3em;
  }

  .copyright {
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 435px) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    width: 25em;
  }

  .sidebar {
    height: 46em;
  }

  .menus {
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* imagem inicial */
  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 15em;
  }

  #titulo-inicial {
    font-size: 4em;
    width: 45%;
    margin: 0 0 50px 0;
  }

  #texto-inicial {
    width: 50%;
    text-align: center;
    position: relative;
    top: 13em;
    left: 0;
  }

  .botao {
    opacity: 0;
    display: none;
  }

  /* começo lado esquerdo */
  .medalha-vermelha {
    width: 3em;
    top: -2em;
    right: 10em;
  }

  .medalha-verde {
    width: 3em;
    top: 9em;
    right: 8em;
  }

  .brilho-amarelo {
    bottom: 3em;
    right: 7em;
  }

  .brilho-verde {
    width: 1em;
    top: -1em;
    right: 10em;
  }

  .brilho-azul {
    display: none;
  }
  /* final lado esquerdo */

  /* começo lado direito */
  .brilho-roxo {
    width: 1em;
    bottom: 11.5em;
    left: 5em;
  }

  .medalha-azul {
    width: 3em;
    bottom: 16em;
    left: 0em;
  }

  .medalha-amarela {
    width: 3em;
    bottom: 15.5em;
    left: 10em;
  }

  .brilho-vermelho {
    width: 1em;
    bottom: 15.5em;
    left: 7.5em;
    z-index: -1;
  }

  .brilho-amarelo2 {
    bottom: 11em;
    left: 10em;
    z-index: -1;
  }

  .medalha-roxa {
    width: 3em;
    bottom: 5em;
    left: 8em;
  }
  /* final lado direito */

  #scrollTarget {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cupons {
    height: 55em;
  }

  #titulo1 {
    font-family: "Blinker-extrabold";
    color: var(--verde);
    font-size: 1.7em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #texto1 {
    font-family: "Poppins-regular";
    color: var(--preto);
    font-size: 1em;
    margin-left: 0;
    text-align: center;
    width: 80%;
  }

  .section-empresas,
  .conquistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .conquistas #texto1 {
    width: 70%;
  }

  #titulo2 {
    margin: 1em 0 0 1em;
  }

  #texto2 {
    margin-left: 3em;
    width: 75%;
  }

  /* começo dos cards dos cupons */
  .card-cupons {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    gap: 1em;
  }

  #titulo-card {
    font-size: 1.3em;
  }

  .item1,
  .item2,
  .item3 {
    padding: 10px;
    width: 10em;
    height: 12em;
  }

  #cupom-dourado {
    width: 10em;
  }

  .btn-cupom {
    margin-left: 8em;
    margin-top: -1em;
  }

  #empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0 3em 0;
    flex-wrap: nowrap;
  }

  .card-empresa {
    margin: 80px 10px 0 10px;
  }

  /* final dos cards dos cupons */

  /* Modal Content */
  /* começo modal dourado */
  .modal-content-dourado {
    width: 20em;
    height: 30em;
    overflow: hidden;
  }

  .titulo-dourado {
    top: 1.5em;
  }

  .texto-dourado {
    top: 2.5em;
  }

  .estrela-dourada {
    right: 8em;
  }

  .estrela-dourada2 {
    width: 9%;
    position: relative;
    left: 8em;
    top: 0.5em;
  }

  .texto-lojas {
    font-family: "Poppins-bold";
    color: #f89701;
    margin: -20px 35px;
  }

  .modal-content-dourado .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 6em;
    left: -1em;
  }

  .modal-content-dourado #loja {
    width: 27%;
  }

  .cupom-dourado {
    width: 45%;
    margin-left: 20px;
  }

  #estrelas {
    position: relative;
    right: 10em;
    top: 2em;
    margin-bottom: 1em;
  }

  #ram-dourado {
    width: 20%;
    position: relative;
    left: 3em;
    bottom: 0;
    z-index: 2;
  }

  .modal-content-dourado .curiosidade {
    width: 16.5em;
    height: 8em;
    margin-right: 5em;
    position: relative;
    bottom: 1em;
  }

  .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #745f12;
    text-align: right;
    margin-left: 15px;
  }
  /* final modal dourado */

  /* começo modal vidro */
  .modal-content-vidro {
    width: 20em;
    height: 30em;
    overflow: hidden;
  }

  .brilho-vidro {
    width: 5em;
    position: relative;
    right: 8em;
    top: 6em;
  }

  .titulo-vidro {
    font-size: 30px;
    position: relative;
    top: -4em;
  }

  .texto-vidro {
    font-size: 18px;
    position: relative;
    top: -7em;
  }

  .modal-content-vidro .ramcoin {
    margin: 15px 0;
    position: relative;
    top: -8em;
    left: 1.5em;
  }

  .cupom-vidro {
    width: 50%;
    margin-left: 0;
  }

  .modal-content-vidro .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 8em;
    left: 1em;
  }

  .modal-content-vidro .texto-lojas {
    position: relative;
    bottom: 8em;
  }

  .modal-content-vidro .curiosidade {
    width: 15em;
    height: 8em;
    margin-right: 5em;
    position: relative;
    bottom: 5em;
  }

  .modal-content-vidro .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #dffbff;
    text-align: right;
    margin-left: 10px;
    position: relative;
    bottom: 0.5em;
  }

  #ram-vidro {
    width: 23%;
    position: relative;
    left: 2.5em;
    bottom: 5em;
    z-index: 2;
  }
  /* final modal vidro */

  /* começo modal golias */
  .modal-content-golias {
    width: 20em;
    height: 30em;
    overflow: hidden;
  }

  .titulo-golias {
    font-size: 30px;
    position: relative;
    top: 1em;
  }

  .texto-golias {
    font-size: 18px;
    position: relative;
    top: -1em;
  }

  .mancha-verde1 {
    position: relative;
    right: 9.5em;
    top: 2em;
  }

  .mancha-verde2 {
    position: relative;
    left: 9.5em;
    bottom: 3em;
  }

  .modal-content-golias .ramcoin {
    margin: 15px 0;
    position: relative;
    top: -3em;
    left: 1.5em;
  }

  .modal-content-golias .lojas {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    bottom: 4em;
    left: 1em;
  }

  .modal-content-golias .texto-lojas {
    position: relative;
    bottom: 3em;
  }

  .modal-content-golias .curiosidade {
    width: 15em;
    height: 8em;
    margin-right: 5em;
    position: relative;
    bottom: 0;
  }

  .modal-content-golias .texto-curiosidade {
    font-family: "Poppins-bold";
    color: #d3ffc8;
    text-align: right;
    margin-left: 10px;
    position: relative;
    bottom: 0.5em;
  }

  #ram-golias {
    width: 27%;
    position: relative;
    left: 3.5em;
    bottom: 0;
    z-index: 2;
  }

  /* final modal golias */

  /* começo botão fechar o modal */
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cinza);
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--cinza);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #555;
    border-color: #555;
    text-decoration: none;
  }
  /* final botão fechar o modal */

  /* começo ramcoin */
  .itens {
    display: flex;
    flex-direction: column;
  }

  .ramcoin {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    position: relative;
    top: 1em;
  }

  .qtd-ramcoin {
    font-family: "Blinker-bold";
    color: #417932;
    margin-left: 5px;
  }

  .text-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
    width: 300px;
    z-index: 1;
  }

  .textos {
    font-family: "Poppins-semibold";
    color: var(--azul);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .ramcoin:hover .text-block {
    display: block;
  }

  /* final ramcoin */

  #loja {
    width: 20%;
  }

  .campo-curiosidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 36em;
    padding: 0 0 20px 15px;
  }

  /* final dos cards dos cupons */

  /* começo salto tecnologico */
  .fundo-medalha-salto {
    width: 22em;
    height: 18em;
    margin-top: 3em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-salto {
    width: 6.5em;
    position: relative;
    bottom: 2em;
    left: 1em;
  }

  .img-vitoria-regia {
    display: none;
  }

  .column-textos {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-top: 1em;
  }

  .titulo-salto {
    position: relative;
    bottom: 5em;
    left: 3.5em;
  }

  .fundo-medalha-salto .objetivo {
    position: relative;
    bottom: 5em;
    left: 1em;
  }

  .fundo-medalha-salto .texto {
    width: 100%;
    position: relative;
    bottom: 4em;
    right: 1em;
  }

  /* final salto tecnologico */

  /* começo coração generoso */
  .fundo-medalha-coracao {
    background-color: #ffb5c3;
    width: 22em;
    height: 16em;
    margin-top: 5em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-coracao {
    width: 8em;
    position: relative;
    bottom: 13em;
    left: 13em;
  }

  .fundo-medalha-coracao .titulo-coracao {
    position: relative;
    top: 0.2em;
    right: 1em;
  }

  .fundo-medalha-coracao .objetivo {
    position: relative;
    top: 2em;
    right: 1em;
  }

  .fundo-medalha-coracao .texto {
    position: relative;
    top: 3em;
    right: 1.5em;
  }
  /* final coração generoso */

  /* começo explosão eletronica */
  .fundo-medalha-explosao {
    width: 22em;
    height: 18em;
    margin-top: 4em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-explosao {
    width: 8em;
    position: relative;
    bottom: 2.5em;
    left: -0.5em;
  }

  .fundo-medalha-explosao .titulo-explosao {
    position: relative;
    bottom: 7em;
    left: 5em;
  }

  .fundo-medalha-explosao .objetivo {
    position: relative;
    bottom: 6em;
    left: 3em;
  }

  .fundo-medalha-explosao .column-textos {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1em;
  }

  .fundo-medalha-explosao .texto {
    position: relative;
    bottom: 5em;
    left: 2em;
    width: 85%;
  }
  /* final explosão eletronica */

  /* começo engrenagem solidaria */
  .fundo-medalha-engrenagem {
    width: 22em;
    height: 16em;
    margin-top: 4em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-engrenagem {
    width: 8em;
    position: relative;
    bottom: 15em;
    left: 14em;
  }

  .fundo-medalha-engrenagem .titulo-engrenagem {
    position: relative;
    right: 1em;
  }

  .fundo-medalha-engrenagem .objetivo {
    position: relative;
    top: 2em;
    right: 0;
    left: 0.5em;
  }

  .fundo-medalha-engrenagem .texto {
    position: relative;
    top: 3em;
    right: 1.5em;
  }
  /* final engrenagem solidaria */

  /* começo raio esperança */
  .fundo-medalha-raio {
    width: 22em;
    height: 18em;
    margin-top: 4em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .img-raio {
    width: 6.5em;
    position: relative;
    bottom: 2em;
    left: 1em;
  }

  .brilho-esperanca {
    width: 4em;
    position: relative;
    top: -2em;
    right: 0;
    left: 0;
  }

  .img-raio2 {
    display: none;
  }

  .fundo-medalha-raio .column-textos {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1em;
  }

  .titulo-raio {
    position: relative;
    bottom: 7em;
    left: 6em;
  }

  .fundo-medalha-raio .objetivo {
    position: relative;
    bottom: 8em;
    left: 8em;
  }

  .fundo-medalha-raio .texto {
    position: relative;
    bottom: 6em;
    left: 2em;
    width: 88%;
  }
  /* final raio esperança */

  /* footer */
  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral,
  .redes-sociais {
    width: 270px;
  }

  .contato {
    margin-top: 15px;
    margin-left: 0;
    width: 270px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 65px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }
  /* footer */
  .logoBranca {
    display: none;
  }

  #geral-titulo,
  #redes_sociais-titulo,
  #contato-titulo {
    margin-top: 3em;
  }

  .copyright {
    margin-left: 0;
  }
}

/* @media (max-width: 375px) {
  .email {
    display: flex;
    flex-wrap: wrap;
  }
} */
