@import url(../css/font.css);

@import url(../css/cores.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8ff;
}

/* começo imagem inicial */

.imagem-fundo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35em;
  width: 100%;
  position: relative;
  top: 5em;
}

.imagem-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35em;
  width: 80em;
}

#titulo-inicial {
  font-family: "Blinker-extrabold";
  color: var(--preto);
  font-size: 5em;
  width: 30%;
  line-height: 0.8em;
  text-align: center;
  text-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 4em;
  z-index: -1;
}

#texto-inicial {
  font-family: "Poppins-semibold";
  color: var(--preto);
  width: 40%;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 0px 8px 7px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 25em;
  z-index: -1;
}

#span-preto {
  font-family: "Poppins-bold";
  color: var(--preto);
}

#span-azul {
  font-family: "Poppins-bold";
  color: var(--azul);
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35em;
  position: relative;
  bottom: 15em;
}

#btn {
  background-color: var(--azul);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* começo lado esquerdo */

.medalha-vermelha {
  position: relative;
  top: 5em;
  right: 25em;
}

.medalha-verde {
  position: relative;
  top: 10em;
  right: 25em;
}

.brilho-amarelo {
  position: relative;
  bottom: 1em;
  right: 10em;
  z-index: -1;
}

.brilho-verde {
  position: relative;
  top: 3em;
  right: 16em;
  z-index: -1;
}

.brilho-azul {
  position: relative;
  top: 6em;
  right: 13em;
  z-index: -1;
}

/* final lado esquerdo */

/* começo lado direito */

.brilho-roxo {
  position: relative;
  bottom: 12em;
  left: 10em;
  z-index: -1;
}

.medalha-azul {
  position: relative;
  bottom: 17em;
  left: 20em;
}

.medalha-amarela {
  position: relative;
  bottom: 15em;
  left: 30em;
}

.brilho-vermelho {
  position: relative;
  bottom: 15em;
  left: 15em;
  z-index: -1;
}

.brilho-amarelo2 {
  position: relative;
  bottom: 11em;
  left: 10em;
  z-index: -1;
}

.medalha-roxa {
  position: relative;
  bottom: 15em;
  left: 25em;
}

/* final lado direito */

.medalha-vermelha,
.medalha-verde,
.medalha-azul,
.medalha-amarela,
.medalha-roxa {
  animation-name: float;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: -1;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes animate-shadow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* final imagem inicial */

/* começo dos textos */

#titulo1 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  font-size: 1.7em;
  margin: -0.1em 0 0.5em 8em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  font-size: 1em;
  margin-left: 13.5em;
  width: 70%;
}

#scrollTarget {
  padding-top: 9.5em; /* para compensar o menu fixo */
}

.cupons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5em;
  background-color: #c0d2ff;
  width: 1415px;
  height: 25em;
  padding: 2em;
}

.campo-texto {
  margin: -6em 0 2em 0;
}

#titulo2 {
  font-family: "Blinker-extrabold";
  color: var(--azul);
  font-size: 1.7em;
  margin: 3em 0 0 7em;
  list-style: url(../img/Vector2.svg);
}

#texto2 {
  font-family: "Poppins-regular";
  color: var(--preto);
  font-size: 1em;
  margin-left: 12em;
  width: 50%;
}

/* final dos textos */

/* começo dos cards dos cupons */

.card-cupons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  gap: 2em;
}

#titulo-card {
  color: var(--branco);
  font-family: "Blinker-extrabold";
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 0.5em;
}

.item1,
.item2,
.item3 {
  background-color: var(--azul);
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 35px;
  padding: 10px;
  width: 13em;
  height: 13em;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.13) inset;
}

.btn-cupom {
  background-color: var(--branco);
  border: none;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10em;
  margin-top: -1.5em;
}

/* Modal Container */
/* Adiciona essa classe para desabilitar o scroll */
.no-scroll {
  overflow: hidden;
}

.modal-container {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
}

/* Modal Content */
.modal-content-dourado {
  background-color: #fffdce;
  margin: 10% auto;
  padding: 20px;
  border-radius: 25px;
  width: 27em;
  max-width: 600px;
  height: 30em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.modal-content-vidro {
  background-color: #dffbff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 25em;
  max-width: 600px;
  height: 30em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content-golias {
  background-color: #c7fbb9;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 80%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Fechar botão */
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cinza);
  font-size: 20px;
  position: absolute;
  top: 25px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--cinza);
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #555;
  border-color: #555;
  text-decoration: none;
}

#brilho-modal {
  height: 1em;
}

.titulo-dourado {
  font-family: "Blinker-extrabold";
  color: #f89701;
  font-size: 30px;
  position: relative;
  top: 2em;
}

.texto-dourado {
  font-family: "Blinker-bold";
  color: #f89701;
  font-size: 18px;
  position: relative;
  top: 3em;
}

.estrela-dourada {
  width: 8%;
  position: relative;
  right: 9em;
  top: 5em;
}

.estrela-dourada2 {
  width: 10%;
  position: relative;
  left: 9em;
  top: 1em;
}

.itens {
  display: flex;
  flex-direction: column;
}

.ramcoin {
  width: 250px;
  display: flex;
  flex-direction: row;
  margin: 15pX 0;
  position: relative;
  top: 1em;
}

.qtd-ramcoin {
  font-family: "Blinker-bold";
  color: #417932;
  margin-left: 5px;
}

.lojas {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 10px 5px;
}

#loja {
  width: 20%;
}

.texto-lojas {
  font-family: "Poppins-bold";
  color: #f89701;
  margin: -20px 35px;
}

.cupom-dourado {
  width: 50%;
  margin-left: 45px;
}

#estrelas {
  position: relative;
  right: 12em;
  top: 2em;
  margin-bottom: 1em;
}

.campo-curiosidade {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 36em;
  padding: 0 0 20px 15px;
}

#ram-dourado {
  width: 35%;
  position: relative;
  left: 3em;
  bottom: 2em;
  z-index: 2;
}

.curiosidade {
  height: 8em;
  background-color: #ffce1e;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-right: 5em;
  position: relative;
  bottom: 2em;
}

.texto-curiosidade {
  font-family: "Poppins-bold";
  color: #745f12;
  text-align: right;
  margin-left: 15px;
}

/* final dos cards dos cupons */

/* começo dos cards das empresas */

.section-empresas {
  margin-top: 5em;
}

#empresas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 3em 0;
  flex-wrap: nowrap;
}

.card-empresa {
  background-color: #c0d2ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13em;
  height: 15em;
  border-radius: 30px;
  padding: 10px;
  margin: 50px 10px 0 10px;
}

.img-empresas {
  position: relative;
  bottom: 3em;
}

#titulo-empresas {
  font-family: "Poppins-bold";
  color: #112e78;
  font-size: 1em;
  margin: 10px 0;
  position: relative;
  bottom: 2.5em;
}

#endereco-empresas {
  font-family: "Poppins-medium";
  color: #112e78;
  width: 14em;
  text-align: center;
  font-size: 0.9em;
  margin: 0;
  position: relative;
  bottom: 2em;
}

/* final dos cards das empresas */

/* começo das medalhas */

.conquistas {
  margin-top: 1em;
}

.medalhas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0 5em 0;
}

/* final das medalhas */

/* o layout nao quer */
@media (min-width: 320px) and (max-width: 421px) {
  /* Estilos aqui */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* imagem inicial */

  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 30em;
  }

  #titulo-inicial {
    font-size: 4em;
    width: 30%;
    margin: 0 0 50px 0;
  }

  #texto-inicial {
    width: 30%;
    text-align: center;
    position: relative;
    top: 16em;
  }

  .botao {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-left: 0;
  }

  #scrollTarget {
    padding-top: 9.5em; /* para compensar o menu fixo */
  }

  /* começo lado esquerdo */

  .medalha-vermelha {
    width: 3em;
    position: relative;
    top: -2em;
    right: 10em;
  }

  .medalha-verde {
    width: 3em;
    position: relative;
    top: 9em;
    right: 8em;
  }

  .brilho-amarelo {
    position: relative;
    bottom: 0.5em;
    right: 7em;
    z-index: -1;
  }

  .brilho-verde {
    width: 1em;
    position: relative;
    top: -1em;
    right: 11em;
    z-index: -1;
  }

  .brilho-azul {
    width: 1em;
    position: relative;
    top: 4em;
    right: 11em;
    z-index: -1;
  }
  /* final lado esquerdo */

  /* começo lado direito */

  .brilho-roxo {
    width: 1em;
    position: relative;
    bottom: 10em;
    left: 5em;
    z-index: -1;
  }

  .medalha-azul {
    width: 3em;
    position: relative;
    bottom: 15em;
    left: 0em;
  }

  .medalha-amarela {
    width: 3em;
    position: relative;
    bottom: 14em;
    left: 10em;
  }

  .brilho-vermelho {
    width: 1em;
    position: relative;
    bottom: 15em;
    left: 7em;
    z-index: -1;
  }

  .brilho-amarelo2 {
    position: relative;
    bottom: 10em;
    left: 10em;
    z-index: -1;
  }

  .medalha-roxa {
    width: 3em;
    position: relative;
    bottom: 6em;
    left: 8em;
  }

  /* final lado direito */

  /* imagem inicial */

  #titulo1 {
    font-family: "Blinker-extrabold";
    color: var(--verde);
    font-size: 1.7em;
    margin: -0.1em 0 0.5em 3em;
  }

  #texto1 {
    font-family: "Poppins-regular";
    color: var(--preto);
    font-size: 1em;
    margin-left: 5em;
    width: 70%;
  }

  .cupons {
    width: 350px;
    height: 850px;
  }

  #titulo2 {
    margin: 3em 0 0 1em;
  }

  #texto2 {
    margin-left: 3em;
    width: 75%;
  }

  /* começo dos cards dos cupons */

  .card-cupons {
    flex-wrap: wrap;
    padding: 0;
    gap: 1em;
  }

  #titulo-card {
    font-size: 1.3em;
  }

  .item1,
  .item2,
  .item3 {
    padding: 10px;
    width: 10em;
    height: 12em;
  }

  #cupom-dourado {
    width: 10em;
  }

  .btn-cupom {
    margin-left: 8em;
    margin-top: -1em;
  }

  #empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0 3em 0;
    flex-wrap: nowrap;
  }

  .card-empresa {
    margin: 80px 10px 0 10px;
  }

  /* final dos cards dos cupons */
  /* footer */

  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-left: 55px;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 55px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 65px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }
  /* footer */

  .logoBranca-small {
    width: 150px;
  }
}
