@media (min-width: 1920px) {
  .fundo-titulo {
    width: 100vw;
  }

  .sidebar ul li {
    height: 90px;
  }

  .mensagens {
    height: 850px;
  }
}

@media (max-width: 1920px) {
  .fundo-titulo {
    width: 100vw;
  }

  .sidebar ul li {
    height: 90px;
  }

  .mensagens {
    height: 850px;
  }
}

/* 
@media (min-width: 1600px) {
  .fundo-titulo {
    width: 100vw;
  }
}

@media (min-width: 1700px) {
  .fundo-titulo {
    width: 100vw;
  }
}

@media (min-width: 1800px) {
  .fundo-titulo {
    width: 100vw;
  }
}

@media (min-width: 1900px) {
  .fundo-titulo {
    width: 100vw;
  }
} */
