@import url(../css/font.css);
@import url(../css/cores.css);

.campo-titulo {
  margin: 100px 50px 25px 35px;
}

.titulo-inicial {
  font-family: "Blinker-semibold";
  color: #2a55c2;
}

/* conteudo da pagina */
.campo-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em 50px 0 35px;
}

.subtitulo {
  font-family: "Blinker-semibold";
  color: #121212;
}

.grupos {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.grafico-coluna {
  background-color: #fff;
  width: 550px;
  height: 500px;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 2em;
  padding: 45px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.sidebar.active~.main-content .grafico-coluna {
  margin-left: 0;
}

#container {
  width: 450px;
  height: 450px;
  background-color: transparent;
}

/* notificacoes */
.notificacoes {
  display: flex;
  flex-direction: column;
  margin-left: 11em;
}

.sidebar.active~.main-content .notificacoes {
  margin-left: 3em;
}

.titulo-notificacoes {
  font-family: "Blinker-semibold";
  color: #121212;
  position: relative;
  bottom: 1em;
}

.fundo-notificacoes {
  background-color: #fff;
  width: 33em;
  height: 16em;
  border-radius: 15px;
  margin-top: 0;
  scroll-behavior: auto;
  overflow-y: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.grupo-mensagem {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}

.linha {
  background: rgba(128, 128, 128, 0.25);
  width: 30em;
  height: 1px;
  margin: 0 auto;
}

.coluna-mensagem {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
}

.titulo-mensagem,
.mensagem,
.horario {
  font-family: "Blinker-regular";
  color: #121212;
}

.mensagem {
  color: #000;
  margin-top: 5px;
}

.span-mensagem {
  color: rgba(0, 0, 0, 0.67);
}

.horario {
  position: relative;
  top: 1.5em;
  left: 4em;
}

/* doacoes */
.doacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabela-doadores {
  background-color: #fff;
  width: 33em;
  height: 5em;
  border-radius: 15px;
  margin: 14px 0 20px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.titulo-doadores {
  font-family: "Blinker-semibold";
  color: #121212;
  position: relative;
  top: 1.5em;
  right: 10.2em;
}

.link-doacoes {
  font-family: "Poppins-regular";
  color: #2a55c2;
  font-size: 14px;
  position: relative;
  top: 0.5em;
  left: 18em;
  content: '';
}

.link-doacoes:hover {
  cursor: pointer;
}

.titulo-tabela {
  font-family: "Poppins-regular";
  color: #111;
  font-size: 15px;
  margin: 15px;
}

th,
td {
  padding: 10px 15px;
  text-align: left;
}

th {
  font-family: "Poppins-regular";
  font-weight: 100;
  color: #121212;
  position: relative;
}

td {
  font-family: "Poppins-regular";
  font-weight: 100;
  font-size: 0.9em;
  color: #808080;
  position: relative;
}

#coluna-data {
  cursor: pointer;
}

tbody tr:hover {
  cursor: pointer;
}

/* tema claro-escuro */
.theme-toggle {
  position: fixed;
  top: 30px;
  right: 35px;
  cursor: pointer;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.light-theme {
  color: #121212;
}

.dark-theme {
  color: #fff;
}

body.dark-theme {
  background-color: #121212;
}

.main-content.dark-theme {
  background-color: #121212;
}

.sidebar.dark-theme {
  background-color: #121212;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
}

.span-logo.dark-theme {
  color: #f8f8f8;
}

.nome-usuario.dark-theme {
  color: #f8f8f8;
}

i.dark-theme {
  color: #f8f8f8;
}

.nav-item.dark-theme {
  color: #f8f8f8;
}

.titulo-pagina.light-theme {
  color: #121212;
}

.titulo-pagina.dark-theme {
  color: #DADADC;
}

.fundo-titulo.dark-theme {
  background-color: #121212;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
}

.titulo-inicial.light-theme {
  background-color: transparent;
  color: #2a55c2;
}

.titulo-inicial.dark-theme {
  background-color: transparent;
  color: #8EAEFF;
}

h3.dark-theme {
  background-color: transparent;
  color: #DADADC;
}

.titulo-notificacoes.dark-theme {
  background-color: transparent;
  color: #DADADC;
}

.titulo-doadores.light-theme {
  background-color: transparent;
  color: #121212;
}

.titulo-doadores.dark-theme {
  background-color: transparent;
  color: #DADADC;
}

.grafico-coluna.dark-theme {
  background-color: #282828;
}

.fundo-notificacoes.dark-theme {
  background-color: #282828;
}

.titulo-mensagem.dark-theme {
  color: #DADADC;
}

.mensagem.dark-theme {
  color: #DADADC;
}

.span-mensagem.dark-theme {
  color: rgba(218, 218, 220, 0.67);
}

.link-doacoes.light-theme {
  color: #2a55c2;
}

.link-doacoes.dark-theme {
  color: #8EAEFF;
}

.tabela-doadores.dark-theme {
  background-color: #282828;
}

th.dark-theme {
  color: #DADADC;
}

tr.dark-theme {
  color: #DADADC;
}

td.dark-theme {
  color: #DADADC;
}