@media (min-width: 1920px) {
  .fundo-titulo {
    width: 100vw;
  }

  .campo-inicial {
    margin: 0.5em 50px 0 85px;
  }

  .campo-titulo {
    margin: 120px 50px 25px 55px;
  }

  .subtitulo {
    margin-top: 0;
  }

  .grupos {
    margin-top: 1em;
  }

  .grafico-coluna {
    background-color: #fff;
    width: 690px;
    height: 680px;
    border-radius: 15px;
    margin-top: 15px;
    padding: 30px 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }

  #container {
    width: 650px;
    height: 620px;
  }

  .notificacoes {
    margin-left: 15em;
  }

  .sidebar.active~.main-content .notificacoes {
    margin-left: 10em;
  }

  .fundo-notificacoes {
    width: 35em;
    height: 17em;
    margin-top: 0;
    scroll-behavior: auto;
    overflow-y: auto;
  }

  .doacoes {
    margin-top: 3em;
  }

  .tabela-doadores {
    width: 35em;
    height: 17em;
    margin-top: 2em;
  }
}

@media (max-width: 1855px) {
  .sidebar.active~.main-content .notificacoes {
    margin-left: 11em;
  }

  .fundo-notificacoes {
    margin-top: 0;
  }
}

@media (max-width: 1785px) {
  .sidebar.active~.main-content .notificacoes {
    margin-left: 7em;
  }
}

@media (max-width: 1730px) {
  .sidebar.active~.main-content .notificacoes {
    margin-left: 5em;
  }
}

@media (max-width: 1700px) {
  .campo-titulo {
    margin: 100px 50px 25px 45px;
  }

  .campo-inicial {
    margin: 0.5em 50px 0 55px;
  }

  .notificacoes {
    margin-left: 10em;
  }
}

/* @media (max-width: 1235px) {
  .sidebar.active ~ .main-content .titulo-doadores {
    right: 289px;
  }

  .titulo-doadores {
    right: 356px;
  }
} */