@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  #texto-inicial {
    bottom: 21em;
    right: 19.5em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  #texto-inicial {
    bottom: 21em;
    right: 19.5em;
  }

  .mensagem-foto {
    font-size: 12px;
    width: 55em;
    margin-bottom: 1em;
  }
}

@media (max-width: 1435px) {

  #titulo-inicial {
    right: 282px;
  }

  #texto-inicial {
    right: 17em;
  }
}

@media (max-width: 1420px) {
  .img-equipe {
    width: auto;
  }
}

@media (max-width: 1350px) {
  #linha2 {
    width: 65em;
  }
}

@media (max-width: 1335px) {
  .campo-equipe {
    margin: 2em 0 5em 0;
  }
}

@media (max-width: 1265px) {
  .imagem-inicial {
    width: auto;
  }

  #titulo-inicial {
    width: 100%;
    right: 232px;
  }

  #texto-inicial {
    width: 70%;
    right: 215px;
  }
}

@media (max-width: 1225px) {
  #titulo-inicial {
    right: 185px;
  }

  #texto-inicial {
    right: 175px;
  }

  #titulo1 {
    margin: 1em 0 0.7em 7em;
  }

  #texto1 {
    margin-left: 12em;
  }

  #linha2 {
    width: 60em;
  }

  .titulo-integrantes {
    margin: 3em 0 1em 14em;
  }

  .lista-integrantes {
    margin: 0.5em 0 0 14em;
  }
}

@media (max-width: 1155px) {
  #titulo-inicial {
    right: 205px;
  }

  #texto-inicial {
    right: 195px;
  }

  #titulo1 {
    margin: 1em 0 0.7em 6em;
  }

  #texto1 {
    margin-left: 10.5em;
  }

  .titulo-integrantes {
    margin: 3em 0 1em 12.5em;
  }

  .lista-integrantes {
    margin: 0.5em 0 0 12.5em;
  }
}

@media (max-width: 1095px) {
  #titulo-inicial {
    font-size: 75px;
    bottom: 315px;
  }

  #texto-inicial {
    right: 175px;
    bottom: 18em;
  }

  .img-fundo {
    width: 350px;
  }

  .escudo {
    bottom: 34em;
    left: 26em;
  }

  .lampada {
    bottom: 28em;
    left: 26em;
  }
}

@media (max-width: 1055px) {
  #linha2 {
    width: 50em;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: fixed;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar {
    height: 65vh;
    right: 0;
    z-index: 100000;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .accessibility-btn {
    display: none;
  }
}

@media (max-width: 965px) {
  .img-fundo {
    left: 14em;
  }

  #titulo-inicial {
    font-size: 70px;
    right: 210px;
  }

  #titulo1 {
    margin: 1em 0 0.7em 4em;
  }

  #texto1 {
    width: 75%;
    margin-left: 7em;
  }

  .escudo {
    width: 70px;
    left: 22em;
    bottom: 34em;
  }

  .alvo {
    width: 70px;
    left: 3em;
  }

  .lampada {
    width: 60px;
    bottom: 27em;
    left: 22em;
  }

  .titulo-integrantes {
    margin: 3em 0 1em 9em;
  }

  .lista-integrantes {
    margin: 0.5em 0 0 8em;
  }
}

@media (max-width: 915px) {
  .imagem-equipe {
    display: none;
  }

  .imagem-equipe2 {
    display: flex;
  }

  .img-equipe {
    margin-top: -15px;
  }
}

@media (max-width: 875px) {
  #linha2 {
    width: 45em;
  }
}

@media (max-width: 835px) {
  #titulo-inicial {
    font-size: 60px;
    right: 180px;
  }

  #texto-inicial {
    right: 125px;
  }

  .img-fundo {
    width: 320px;
    left: 13em;
  }

  .escudo {
    left: 21em;
    bottom: 31em;
  }

  .alvo {
    bottom: 27em;
  }

  .lampada {
    bottom: 25em;
    left: 21em;
  }

  .imagem-equipe {
    width: 680px;
  }

  .campo-moods {
    gap: 25px;
  }
}

@media (max-width: 815px) {
  .imagem-equipe2 {
    display: none;
  }

  .imagem-equipe3 {
    display: flex;
  }

  .mensagem-foto {
    width: 45em;
  }

  .campo-moods {
    gap: 15px;
  }

  .campo-moods img {
    width: 90px;
  }

  #ram-entediado {
    width: 80px;
  }

  .fundo-ram-furioso,
  .fundo-ram-apaixonado,
  .fundo-ram-triste,
  .fundo-ram-entediado,
  .fundo-ram-emocionado {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 785px) {
  #titulo-inicial {
    right: 200px;
    bottom: 285px;
  }

  #texto-inicial {
    right: 140px;
    bottom: 16em;
  }

  .img-fundo {
    width: 300px;
    left: 11em;
  }

  .escudo {
    width: 60px;
    left: 19em;
    bottom: 29em;
  }

  .alvo {
    width: 60px;
  }

  .lampada {
    width: 50px;
    bottom: 23em;
    left: 19em;
  }

  #titulo1 {
    margin: 1em 0 0.7em 2em;
  }

  #texto1 {
    width: 85%;
    margin-left: 3.5em;
  }

  .titulo-integrantes {
    margin: 0em 0 1em 6em;
  }

  .lista-integrantes {
    margin: 0.5em 0 0 6em;
  }

  #ram-entediado {
    width: 70px;
  }

  #linha2 {
    width: 40em;
  }
}

@media (max-width: 725px) {
  #titulo-inicial {
    font-size: 55px;
  }

  #texto-inicial {
    right: 130px;
  }
}

@media (max-width: 695px) {
  .img-fundo {
    width: 350px;
    left: 0;
    bottom: 8em;
  }

  .escudo {
    left: 8em;
    bottom: 35em;
  }

  .alvo {
    left: -10em;
    bottom: 30em;
  }

  .lampada {
    bottom: 27em;
    left: 8em;
  }

  #titulo-inicial {
    right: 0;
    bottom: 75px;
  }

  #texto-inicial {
    text-align: center;
    right: 0;
    bottom: 3em;
  }

  .campo-empresa {
    text-align: center;
    margin: 10em 0 5em 0;
  }

  #titulo1 {
    margin: 1em 0 0.7em 0em;
  }

  #texto1 {
    margin-left: 2.5em;
  }

  .campo-equipe #titulo1,
  .campo-equipe #texto1 {
    text-align: center;
    margin: 15px auto;
  }

  .campo-empresa #titulo1,
  .campo-empresa #texto1 {
    text-align: center;
    margin: 15px auto;
  }

  .img-equipe {
    margin-top: -55px;
    margin-bottom: -125px;
  }

  #linha2 {
    width: 36em;
  }

  #alvo {
    width: 70px;
  }

  #lampada {
    width: 50px;
  }

  #escudo {
    width: 60px;
  }
}

@media (max-width: 655px) {
  .imagem-equipe3 {
    display: none;
  }

  .imagem-equipe4 {
    display: flex;
  }

  .mensagem-foto {
    width: 38em;
  }

  .fundo-ram-furioso,
  .fundo-ram-apaixonado,
  .fundo-ram-triste,
  .fundo-ram-entediado,
  .fundo-ram-emocionado {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 635px) {
  #linha2 {
    width: 33em;
  }
}

@media (max-width: 585px) {
  #linha2 {
    width: 30em;
  }

  .campo-moods {
    bottom: 4em;
  }

  .imagem-equipe4 {
    display: none;
  }

  .imagem-equipe5 {
    display: flex;
  }

  .mensagem-foto {
    width: 32em;
  }

  .fundo-ram-furioso,
  .fundo-ram-apaixonado,
  .fundo-ram-triste,
  .fundo-ram-entediado,
  .fundo-ram-emocionado {
    width: 70px;
    height: 70px;
  }

  .campo-moods img {
    width: 80px;
  }

  .titulo-integrantes {
    margin: 0em 0 1em 5em;
  }

  .lista-integrantes {
    margin: 0.5em 0 0 5em;
  }

  .img-equipe {
    margin-top: -95px;
    margin-bottom: -175px;
  }
}

@media (max-width: 535px) {
  #linha2 {
    width: 27em;
  }

  .imagem-equipe5 {
    display: none;
  }

  .imagem-equipe6 {
    display: flex;
  }

  .mensagem-foto {
    width: 28em;
  }

  .lista-integrantes {
    margin: 0.5em 0 0 6em;
    font-size: 14px;
  }

  .fundo-ram-furioso,
  .fundo-ram-apaixonado,
  .fundo-ram-triste,
  .fundo-ram-entediado,
  .fundo-ram-emocionado {
    width: 60px;
    height: 60px;
  }

  .campo-moods img {
    width: 70px;
  }

  #ram-entediado {
    width: 60px;
  }

  .campo-moods {
    gap: 10px;
    bottom: 3em;
  }

  #alvo {
    width: 60px;
  }

  #lampada {
    width: 45px;
  }

  #escudo {
    width: 50px;
  }
}

@media (max-width: 510px) {
  .sidebar {
    height: 70vh;
  }

  .footer-logo {
    margin-bottom: 2em;
  }

  #footer-logo {
    width: 130px;
  }
}

@media (max-width: 505px) {
  .lista-integrantes {
    margin: 0.5em 0 0 4em;
  }
}

@media (max-width: 485px) {
  #linha2 {
    width: 24em;
  }
}

@media (max-width: 455px) {
  .img-fundo {
    width: 300px;
  }

  .escudo {
    bottom: 32em;
  }

  .alvo {
    left: -9em;
    bottom: 29em;
  }

  .lampada {
    bottom: 26em;
    left: 7em;
  }
}

@media (max-width: 445px) {
  .imagem-equipe6 {
    display: none;
  }

  .imagem-equipe7 {
    display: flex;
  }

  .mensagem-foto {
    width: 24em;
  }

  .fundo-ram-furioso,
  .fundo-ram-apaixonado,
  .fundo-ram-triste,
  .fundo-ram-entediado,
  .fundo-ram-emocionado {
    width: 50px;
    height: 50px;
  }

  .campo-moods img {
    width: 60px;
  }

  #ram-entediado {
    width: 50px;
  }

  .img-equipe {
    margin-top: -135px;
    margin-bottom: -195px;
  }
}

@media (max-width: 425px) {
  #linha2 {
    width: 21em;
  }
}

@media (max-width: 405px) {
  .imagem-inicial {
    margin-top: 19em;
  }

  .img-fundo {
    width: 270px;
  }

  .escudo {
    width: 50px;
    left: 7em;
    bottom: 31em;
  }

  .alvo {
    width: 50px;
    left: -8em;
  }

  .lampada {
    width: 40px;
    bottom: 27em;
    left: 6em;
  }

  .campo-empresa {
    margin: 6em 0 5em 0;
  }

  .titulo-integrantes {
    margin: 0em 0 1em 4em;
  }

  .lista-integrantes {
    margin: 0.5em 0 0 2.5em;
  }
}

@media (max-width: 385px) {
  #linha2 {
    width: 19em;
  }

  .imagem-equipe7 {
    display: none;
  }

  .imagem-equipe8 {
    display: flex;
  }

  .mensagem-foto {
    width: 22em;
  }

  .fundo-ram-furioso,
  .fundo-ram-apaixonado,
  .fundo-ram-triste,
  .fundo-ram-entediado,
  .fundo-ram-emocionado {
    width: 40px;
    height: 40px;
  }

  .campo-moods img {
    width: 50px;
  }

  #ram-entediado {
    width: 40px;
  }
}

@media (max-width: 345px) {
  #linha2 {
    width: 16em;
  }
}

@media (max-width: 335px) {
  #texto-inicial {
    width: 80%;
  }

  .fundo-valores {
    width: 55%;
  }

  .titulo-integrantes {
    margin: 0em 0 1em 3em;
  }

  .lista-integrantes {
    width: 290px;
    margin: 0.5em 0 0 1.5em;
  }
}