@import url(../css/font.css);
@import url(../css/cores.css);

* {
  margin: 0;
}

body {
  background-color: var(--branco);
}

.link-home {
  margin-left: -25px;
}

.link-home:hover {
  text-decoration: none;
  cursor: pointer;
}

.termos {
  display: flex;
  flex-direction: column;
  height: auto
}

.titulo {
  font-family: "Blinker-extrabold";
  font-size: 4em;
  margin: 2em 0 2em 0;
  text-align: center;
}

.lista-termos {
  width: 95%;
  margin: auto;
}

.titulo-termos {
  font-family: "Poppins-semibold";
  color: var(--preto);
  list-style: none;
  font-size: 1em;
}

.texto-termos {
  font-family: "Poppins-regular";
  color: var(--preto);
  list-style: none;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.data {
  font-family: "Poppins-regular";
  color: var(--preto);
  list-style: none;
  font-size: 0.9em;
  margin: 3em 0 2em 0;
}

#span-preto {
  font-family: "Poppins-semibold";
  color: var(--preto);
}