.accessibility-btn {
    position: fixed;
    top: 10em;
    right: 0;
    background-color: #2A55C2;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 70px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    flex-direction: column;
    z-index: 1000;
}

.accessibility-btn:hover:not(.menu-open) {
    height: 250px;
    border-bottom-left-radius: 15px;
}

.text {
    font-family: "Poppins-bold";
    display: none;
    writing-mode: vertical-rl;
    color: white;
    font-size: 1rem;
    z-index: 1;
    margin-bottom: 5px;
}

.accessibility-btn:hover:not(.menu-open) .text {
    display: inline;
}

.accessibility-menu {
    width: 305px;
    display: none;
    position: fixed;
    top: 13.5em;
    right: 0;
    background-color: #f8f8ff;
    border-radius: 10px;
    padding: 10px;
    z-index: 1001;
    max-height: 60vh;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-overflow-scrolling: touch;
}

.title-accessibility-menu {
    font-family: "Poppins-bold";
    color: #2A55C2;
    margin: 5px 25px;
}

.row-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group-btn {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 125px;
    margin: 20px 0 15px 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.group-btn img {
    width: 25px;
    margin: 15px;
}

.title-group {
    font-family: "Poppins-bold";
    font-size: 14px;
    color: #121212;
    margin-left: 15px;
}

.accessibility-menu.active {
    display: block;
}

.accessibility-btn.menu-open {
    height: 60px;
    width: 70px;
    background-color: #f8f8ff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accessibility-btn.menu-open .icon img {
    content: url('./img/icon-close.svg');
    width: 1em;
}

.accessibility-btn.menu-open .text {
    display: none;
}

.clear-accessibility {
    display: flex;
    justify-content: center;
}

.btn-clear {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #f8f8ff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    font-family: "Poppins-bold";
    font-size: 12px;
    gap: 5px;
    margin: 10px 0 10px 15px;
    cursor: pointer;
}

/* leitor */
#leitor-status,
#leitor-text {
    font-family: "Poppins-regular";
}

/* modo de leitura */
body {
    background-color: #ffffff;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.modo-escuro {
    background-color: #121212;
    color: #f8f8f8;
}

nav ul {
    transition: background-color 0.3s ease;
}

body.modo-escuro nav ul {
    background-color: #121212;
}

body.modo-escuro span {
    color: #f8f8ff;
}

nav a {
    text-decoration: none;
    transition: color 0.3s ease;
}

body.modo-escuro nav a {
    color: #DADADC;
}

body.modo-escuro .sidebar {
    background-color: #19316F;
}

body .fundo {
    background-color: #f8f8ff;
}

body.modo-escuro .fundo {
    background-color: #282828;
}

.linha {
    background-color: rgba(0, 0, 0, 0.35);
}

body.modo-escuro .linha {
    background-color: rgba(255, 255, 255, 0.35);
}

.cadastro {
    color: #000;
}

body.modo-escuro .cadastro {
    color: #DADADC;
}

.login {
    color: #D40000;
}

body.modo-escuro .login {
    color: #FF4141;
}

/* botao acessibilidade */
.icon {
    width: 30px;
    text-align: center;
    z-index: 1;
    margin: 10px 3px 8px 3px;
}

body.modo-escuro .accessibility-menu.active,
body.modo-escuro .accessibility-btn.menu-open {
    background-color: #121212;
}

body.modo-escuro .title-accessibility-menu {
    color: #C0D2FF;
}

body.modo-escuro .group-btn,
body.modo-escuro .btn-clear {
    background-color: #282828;
}

body.modo-escuro .title-group,
body.modo-escuro .btn-clear {
    color: #DADADC;
}

.icon-x {
    color: #C0D2FF;
}

body.modo-escuro .accessibility-menu.active::-webkit-scrollbar {
    width: 12px;
}

body.modo-escuro .accessibility-menu.active::-webkit-scrollbar-track {
    background-color: #282828;
}

body.modo-escuro .accessibility-menu.active::-webkit-scrollbar-thumb {
    background-color: #121212;
    border-radius: 20px;
    border: 3px solid #282828;
}

/* botao acessibilidade */

.icon-sidebar path {
    fill: #000;
}

body.modo-escuro .icon-sidebar path {
    fill: #DADADC;
}

body.modo-escuro #titulo-inicial,
body.modo-escuro #texto-inicial,
body.modo-escuro .nome-usuario,
body.modo-escuro .modalBtn-perfil,
body.modo-escuro .titulo-editar,
body.modo-escuro .campo-form label,
body.modo-escuro .titulo-mood,
body.modo-escuro .texto-mood,
body.modo-escuro .titulo-content,
body.modo-escuro #exclusaoModel h1,
body.modo-escuro .coluna-texto h2 {
    color: #DADADC;
}

body.modo-escuro .email-usuario {
    color: #A6A6A6;
}

body.modo-escuro .text-block {
    background-color: #282828;
    box-shadow: 0px 5px 8px rgba(20, 34, 69, 0.5);
}

body.modo-escuro .texto-ramcoin {
    color: rgba(137, 170, 255, 0.85);
}

body.modo-escuro .shadow,
body.modo-escuro .shadow-moeda-pequena,
body.modo-escuro .shadow-moeda-amarela,
body.modo-escuro .shadow-moeda-verde,
body.modo-escuro .shadow-moeda-azul,
body.modo-escuro .container-perfil,
body.modo-escuro .info-perfil,
body.modo-escuro .container-conquistas,
body.modo-escuro #exclusaoModel,
body.modo-escuro .modal-content {
    background-color: #282828;
}

body.modo-escuro .content-perfil,
body.modo-escuro .content-mood {
    background-color: #121212;
}

body.modo-escuro #nome-mudar,
body.modo-escuro #email-mudar,
body.modo-escuro #senha-mudar,
body.modo-escuro #telefone-mudar,
body.modo-escuro #genero-mudar,
body.modo-escuro #nascimento {
    background-color: rgba(188, 207, 255, 0.1);
    color: #DADADC;
}

body.modo-escuro #genero-mudar option {
    background-color: #282828;
    color: #DADADC;
}

body.modo-escuro .excluir-conta,
body.modo-escuro .btn-excluir {
    color: #FF4141;
}

body.modo-escuro .btn-salvar {
    background-color: #63AD4F;
}

body.modo-escuro .footer-container {
    background-color: #19316F;
}

body.modo-escuro .titulo-ram-vidro,
body.modo-escuro .porcentagem-ram-vidro {
    color: #0076AC;
}

body.modo-escuro .titulo-ram-golias,
body.modo-escuro .porcentagem-ram-golias {
    color: #499036;
}

body.modo-escuro .bx-down-arrow-circle:before {
    color: #FFFFFF;
}

body.modo-escuro .mensagem-cupom {
    color: #E4E4E4;
}

body.modo-escuro #nao_button {
    color: #fff;
    background-color: transparent;
}

body.modo-escuro footer h2,
body.modo-escuro footer p,
body.modo-escuro footer span,
body.modo-escuro footer li,
body.modo-escuro .descricao-footer a,
body.modo-escuro .btn-enviar,
body.modo-escuro #geral-titulo,
body.modo-escuro #redes_sociais-titulo,
body.modo-escuro #contato-titulo {
    color: #DADADC;
}

body.modo-escuro #email {
    color: #282828;
}

body.modo-escuro .footer-container input[type="email"] {
    background-color: #DADADC;
}

body.modo-escuro .footer-container button {
    background-color: #359CCC;
    color: #DADADC;
}

body.modo-escuro .fundo-popUp,
body.modo-escuro .fundo-popUpAzul {
    background-color: #282828;
}

body.modo-escuro .bx-check-circle {
    color: #ABF47D;
}

body.modo-escuro .span-notfAzul {
    color: #46C4FF;
}