@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .bloco-ramcoin {
    margin-left: 16em;
  }

  .modalBtn-perfil {
    position: relative;
    right: -2em;
  }

  .content-perfil {
    margin-top: 12em;
  }

  .info-perfil {
    gap: 125px;
  }

  #foto_mudar {
    position: relative;
    left: 3em;
    width: 125px;
    height: 125px;
  }

  #lapis {
    width: 1.5em;
    right: -1.5em;
  }

  .select-icon {
    right: 14em;
  }

  .excluir-conta {
    right: 22em;
  }

  .btn-salvar {
    left: 20em;
  }

  .content-mood {
    margin-bottom: 13em;
  }

  .content-mood .icon-x {
    top: 14em;
    right: 33em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .bloco-ramcoin {
    margin-left: 16em;
  }

  .select-icon {
    right: 10em;
  }
}

@media (max-width: 1024px) {
  #drop {
    display: block;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: fixed;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar {
    height: 65vh;
    right: 0;
    z-index: 100000;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .footer-logo {
    margin-top: 40%;
  }
}

@media (max-width: 768px) {}

@media (max-width: 510px) {
  .sidebar {
    height: 70vh;
  }

  .footer-logo {
    margin-bottom: 2em;
  }
}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}