@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .bloco-ramcoin {
    margin-left: 16em;
  }

  .modalBtn-perfil {
    position: relative;
    right: -2em;
  }

  .content-perfil {
    margin-top: 12em;
  }

  .info-perfil {
    gap: 125px;
  }

  #foto_mudar {
    position: relative;
    left: 3em;
    width: 125px;
    height: 125px;
  }

  #lapis {
    width: 1.5em;
    right: -1.5em;
  }

  .select-icon {
    right: 14em;
  }

  .excluir-conta {
    right: 22em;
  }

  .btn-salvar {
    left: 20em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .bloco-ramcoin {
    margin-left: 16em;
  }

  .select-icon {
    right: 10em;
  }
}

@media (max-width: 1445px) {
  #lapis {
    right: -60px;
    bottom: 20px;
  }

  .modalBtn-perfil {
    position: relative;
    right: -2em;
  }
}

@media (max-width: 1365px) {
  .moedas-esquerda {
    right: 50px;
  }

  .moedas-direita {
    left: 50px;
  }
}

@media (max-width: 1350px) {
  .content-perfil {
    width: 70%;
  }

  #lapis {
    right: 30px;
    bottom: 0;
  }
}

@media (max-width: 1235px) {
  #lapis {
    right: -60px;
    bottom: 20px;
  }
}

@media (max-width: 1225px) {
  .moedas-esquerda {
    right: 20px;
  }

  .moedas-direita {
    left: 10px;
  }

  .excluir-conta {
    right: 16em;
  }
}

@media (max-width: 1175px) {
  .moedas-esquerda {
    right: 0;
  }

  .moedas-direita {
    left: 0;
  }

  .content-perfil {
    width: 80%;
  }

  #lapis {
    right: 30px;
    bottom: 0;
  }
}

@media (max-width: 1145px) {
  .moedas-direita {
    left: -20px;
  }

  .text-block {
    top: 110%;
    left: 30%;
    width: 220px;
  }
}

@media (max-width: 1125px) {
  #moeda-verde {
    width: 100px;
  }

  .shadow {
    width: 90px;
    margin-left: 5px;
  }
}

@media (max-width: 1115px) {
  .moedas-direita {
    left: -10px;
  }
}

@media (max-width: 1090px) {
  .moedas-esquerda {
    right: -20px;
  }

  .moedas-direita {
    left: -30px;
  }
}

@media (max-width: 1085px) {
  #texto-inicial {
    width: 65%;
  }

  .container-texto {
    right: 30px;
  }

  .moeda-amarela {
    position: relative;
    right: 15px;
  }

  .briho-amarelo {
    position: relative;
    right: 25px;
  }

  #lapis {
    right: -60px;
    bottom: 20px;
  }
}

@media (max-width: 1045px) {
  #texto-inicial {
    width: 68%;
  }

  #moeda-azul {
    width: 95px;
  }

  .shadow-moeda-azul {
    width: 80px;
  }

  .text-block {
    left: 10%;
    width: 200px;
  }

}

@media (max-width: 1024px) {
  #drop {
    display: block;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: fixed;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar {
    height: 65vh;
    right: 0;
    z-index: 100000;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .content-perfil {
    width: 85%;
  }

  .content-mood {
    margin-bottom: 23em;
  }
}

@media (max-width: 1005px) {
  #lapis {
    right: 30px;
    bottom: 0;
  }

  #nome-mudar,
  #email-mudar {
    width: 210px;
  }

  #genero-mudar {
    width: 155px;
  }

  #nascimento {
    width: 10em;
  }

  #texto-inicial {
    width: 73%;
  }

  .container-texto {
    right: 40px;
  }
}

@media (max-width: 985px) {
  #moeda-verde {
    width: 80px;
  }

  .shadow {
    width: 70px;
  }

  #moeda-amarela {
    width: 60px;
  }

  .shadow-moeda-amarela {
    width: 50px;
    margin-left: 5px;
  }

  #moeda-azul {
    width: 85px;
  }

  .shadow-moeda-azul {
    width: 70px;
  }

  #moeda-verde2 {
    width: 75px;
  }

  .shadow-moeda-verde {
    width: 65px;
  }
}

@media (max-width: 965px) {
  .content-mood {
    width: 50em;
  }

  .content-mood .icon-x {
    left: 380px;
  }
}

@media (max-width: 955px) {
  #lapis {
    right: -60px;
    bottom: 20px;
  }

  .excluir-conta {
    right: 15em;
  }

  .container-perfil {
    width: 45em;
  }

  .bloco-ramcoin {
    margin-left: 11em;
  }

  .container-conquistas {
    width: 45em;
  }

  #linha {
    width: 40em;
  }

  .area-excluir {
    margin: 1em 1em 0em 9em;
  }
}

@media (max-width: 925px) {
  .moedas-direita {
    left: -10px;
  }

  .container-texto {
    right: 20px;
  }
}

@media (max-width: 915px) {
  .text-block {
    top: 120%;
    left: -30%;
    width: 260px;
  }
}

@media (max-width: 905px) {
  .info-perfil {
    width: 95%;
  }

  .btn-salvar {
    left: 14em;
  }
}

@media (max-width: 875px) {
  #texto-inicial {
    width: 82%;
  }

  .moedas-direita {
    left: 10px;
  }

  #brilho-amarelo3 {
    margin-left: 0;
  }

  .content-mood {
    width: 46em;
  }

  .content-mood .icon-x {
    left: 350px;
  }
}

@media (max-width: 855px) {
  .moedas-esquerda {
    right: 0;
  }

  #titulo-inicial {
    font-size: 55px;
  }

  #texto-inicial {
    width: 87%;
  }

  .moeda-azul {
    position: relative;
    right: 25px;
  }

  .info-perfil {
    width: 90%;
    height: 24em;
    flex-direction: column;
  }

  .usuario {
    margin: 10px auto;
    top: 0;
  }

  #lapis {
    right: 30px;
    bottom: 0;
  }

  .grupo1,
  .grupo2 {
    justify-content: center;
    align-items: center;
  }

  .botoes {
    bottom: 90px;
  }

  .excluir-conta {
    right: 160px;
  }

  .btn-salvar {
    left: 12em;
  }

  .content-mood {
    margin-bottom: 18em;
  }
}

@media (max-width: 825px) {
  .moeda-pequena {
    position: relative;
    bottom: 15px;
  }

  .moeda-amarela {
    right: 25px;
  }

  .briho-amarelo {
    right: 40px;
  }

  #brilho-amarelo3 {
    position: relative;
    right: 15px;
  }

  .container-texto {
    right: 35px;
  }

  #texto-inicial {
    width: 92%;
  }

  .content-mood {
    width: 43em;
  }

  .content-mood .icon-x {
    left: 330px;
  }

  .container-perfil {
    width: 40em;
  }

  #foto-usuario {
    width: 120px;
  }

  .bloco-ramcoin {
    margin-left: 6em;
  }

  .container-conquistas {
    width: 40em;
  }

  #linha {
    width: 35em;
  }

  #conquistasButton,
  #cuponsButton {
    width: 12em;
  }

  .area-excluir {
    margin: 1em 1em 0em 4em;
  }

  .conjunto-medalhas img {
    width: 85px;
  }

  .conjunto-cupons img {
    width: 55px;
  }
}

@media (max-width: 785px) {

  #nome-mudar,
  #email-mudar {
    width: 150px;
  }

  .excluir-conta {
    right: 130px;
  }

  .btn-salvar {
    left: 9em;
  }
}

@media (max-width: 765px) {
  #moeda-verde {
    width: 70px;
  }

  .shadow {
    width: 60px;
  }

  #moeda-verde2 {
    width: 65px;
  }

  .shadow-moeda-verde {
    width: 55px;
  }

  #moeda-azul {
    width: 75px;
  }

  .shadow-moeda-azul {
    width: 60px;
  }

  .content-mood {
    width: 40em;
  }

  .content-mood .icon-x {
    left: 305px;
  }
}

@media (max-width: 735px) {
  .bloco-ramcoin {
    margin-left: 2em;
  }

  .container-perfil {
    width: 35em;
  }

  .container-conquistas {
    width: 35em;
  }

  #conquistasButton,
  #cuponsButton {
    width: 10em;
  }

  #linha {
    width: 30em;
  }

  .area-excluir {
    margin: 1em 1em 0em 0em;
  }

  .mensagem-cupom {
    font-size: 12px;
  }
}

@media (max-width: 725px) {
  #titulo-inicial {
    font-size: 45px;
  }

  #senha-mudar,
  #telefone-mudar {
    width: 9em;
  }

  .modalBtn-perfil {
    top: 15px;
  }
}

@media (max-width: 710px) {
  .content-mood {
    width: 37em;
  }

  .content-mood .icon-x {
    left: 285px;
  }

  .btn-mood {
    width: 7em;
    height: 7em;
  }

  .btn-mood img {
    width: 7em;
  }

  #ram-feliz img {
    width: 6em;
  }

  #ram-sem-mood img {
    width: 6em;
  }

  .excluir-conta {
    right: 110px;
  }

  .btn-salvar {
    left: 8em;
  }
}

@media (max-width: 685px) {
  #moeda-azul {
    width: 65px;
  }

  .shadow-moeda-azul {
    width: 50px;
  }

  .modal-content {
    width: 450px;
  }
}

@media (max-width: 675px) {
  #moeda-verde {
    width: 60px;
  }

  .shadow {
    width: 50px;
  }

  #moeda-azul {
    width: 55px;
  }

  .shadow-moeda-azul {
    width: 45px;
  }

  .moeda-pequena {
    bottom: 75px;
  }

  .brilho-verde {
    position: relative;
    bottom: 55px;
  }

  .moeda-verde {
    position: relative;
    left: 15px;
    bottom: 25px;
  }

  .moeda-amarela {
    right: 35px;
    bottom: 25px;
  }

  .briho-amarelo {
    right: 50px;
    bottom: 25px;
  }

  .moeda-azul {
    right: 45px;
    bottom: 25px;
  }

  #brilho-amarelo2 {
    position: relative;
    right: 15px;
    bottom: 55px;
  }

  #brilho-verde2 {
    position: relative;
    bottom: 25px;
  }

  #brilho-amarelo3 {
    right: 45px;
  }

  .content-mood {
    width: 36em;
  }

  .content-mood .icon-x {
    left: 270px;
  }

  #foto-usuario {
    width: 110px;
  }
}

@media (max-width: 655px) {
  .moedas-esquerda {
    right: 20px;
  }

  .moedas-direita {
    left: 10px;
  }

  .moeda-pequena {
    left: 20px;
  }

  .brilho-verde {
    left: 15px;
  }

  .moeda-verde {
    left: 25px;
    bottom: 45px;
  }

  .moeda-amarela {
    right: 35px;
    bottom: 45px;
  }

  #brilho-amarelo2 {
    right: 35px;
  }

  #moeda-azul {
    width: 45px;
  }

  .shadow-moeda-azul {
    width: 40px;
  }

  #moeda-amarela {
    width: 50px;
  }

  .shadow-moeda-amarela {
    width: 40px;
  }

  #moeda-verde {
    width: 50px;
  }

  .shadow {
    width: 40px;
  }

  #moeda-verde2 {
    width: 55px;
  }

  .shadow-moeda-verde {
    width: 50px;
  }

  .moeda-verde2 {
    position: relative;
    bottom: 20px;
  }

  .container-texto {
    right: 45px;
  }

  #texto-inicial {
    width: 100%;
  }

  .container-perfil {
    width: 30em;
  }

  .bloco-ramcoin {
    margin-left: -2em;
  }

  .container-conquistas {
    width: 30em;
  }

  .content-perfil {
    width: 80%;
  }

  #senha-mudar,
  #telefone-mudar {
    width: 8em;
  }

  .excluir-conta {
    right: 70px;
  }

  .btn-salvar {
    left: 5em;
  }

  .info-perfil {
    height: 28em;
  }

  .grupo1,
  .grupo2 {
    flex-direction: column;
  }

  .grupo1 {
    position: relative;
    right: 125px;
    gap: 15px;
  }

  .grupo2 {
    position: relative;
    left: 110px;
    bottom: 235px;
    gap: 15px;
  }

  #telefone-mudar,
  #senha-mudar {
    width: 150px;
  }

  #genero-mudar {
    width: 170px;
    margin-right: 15px;
  }

  #nascimento {
    width: 11em;
  }

  #linha {
    width: 25em;
  }

  .conjunto-cupons {
    margin: 0.9em 1em 0.5em 0em;
  }

  .content-mood {
    width: 33em;
  }

  .content-mood .icon-x {
    left: 245px;
  }

  .grupo-moods {
    width: 32em;
    margin-top: 25px;
  }

  #conquistasButton,
  #cuponsButton {
    width: 9em;
  }
}

@media (max-width: 635px) {
  #exclusaoModel {
    width: 560px;
  }
}

@media (max-width: 615px) {
  .moedas-esquerda {
    right: -20px;
    bottom: -25px;
  }

  .imagem-fundo {
    width: 90%;
  }

  .moedas-direita {
    left: 40px;
  }

  .container-texto {
    right: 5px;
  }
}

@media (max-width: 600px) {
  .imagem-fundo {
    width: 70%;
  }

  .moedas-esquerda {
    right: -70px;
  }

  .moedas-direita {
    left: 90px;
  }

  .container-texto {
    right: -40px;
  }

  #brilho-amarelo2 {
    right: 85px;
  }

  .moeda-azul {
    right: 95px;
    bottom: 45px;
  }

  .moeda-verde2 {
    left: 55px;
  }

  #brilho-verde2 {
    right: 70px;
    bottom: 35px;
  }

  #brilho-amarelo3 {
    right: 85px;
    bottom: -55px;
  }

  .moeda-pequena {
    left: 80px;
    bottom: 100px;
  }

  .brilho-verde {
    left: 45px;
    bottom: 75px;
  }

  .moeda-verde {
    left: 55px;
    bottom: 65px;
  }

  #foto-usuario {
    width: 100px;
  }

  .conjunto-medalhas img {
    width: 75px;
  }
}

@media (max-width: 585px) {}

@media (max-width: 510px) {
  .sidebar {
    height: 70vh;
  }

  .footer-logo {
    margin-bottom: 2em;
  }
}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}