@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .brilho-verde {
    bottom: 8em;
    left: 0;
    right: 5em;
  }

  .moeda-verde {
    right: 10em;
    bottom: 7em;
  }

  #brilho-amarelo {
    top: 5em;
    right: 17em;
  }

  .moeda-amarela {
    position: relative;
    right: 9em;
  }

  #estrela {
    top: 4em;
    right: 11em;
  }

  #brilho-roxo {
    left: 3em;
  }

  .moeda-verde2 {
    position: relative;
    left: 3em;
    bottom: 0;
  }

  .moeda-roxa {
    position: relative;
    left: 3em;
  }

  .info-box {
    margin-top: 90px;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .brilho-verde {
    bottom: 8em;
    left: 0;
    right: 5em;
  }

  .moeda-verde {
    right: 10em;
    bottom: 7em;
  }

  #brilho-amarelo {
    top: 5em;
    right: 17em;
  }

  .moeda-amarela {
    position: relative;
    right: 9em;
  }

  #estrela {
    top: 4em;
    right: 11em;
  }

  #brilho-roxo {
    left: 3em;
  }

  .moeda-verde2 {
    position: relative;
    left: 3em;
    bottom: 0;
  }

  .moeda-roxa {
    position: relative;
    left: 3em;
  }
  
  .info-box {
    margin-top: 90px;
  }
}

@media (max-width: 1580px) {
  .content-sem-perfil {
    margin-right: 4em;
  }

  .brilho-verde {
    left: 6em;
    right: 0;
  }

  .moeda-verde {
    right: 4em;
  }

  .moeda-amarela {
    right: 6em;
  }

  #estrela {
    right: 7em;
  }

  .moeda-verde2,
  #brilho-roxo {
    left: 0;
  }

  .moeda-roxa {
    left: 1em;
  }
}

@media (max-width: 1280px) {
  .brilho-verde {
    left: 9em;
  }

  .moeda-verde {
    bottom: 6em;
    left: 2em;
    right: 0;
  }

  .moeda-amarela {
    top: 1em;
    left: 3em;
    right: 0em;
  }

  #brilho-amarelo {
    top: 4em;
    right: 7em;
  }

  #estrela {
    right: 0;
    left: 2em;
    top: 5.5em;
  }

  #brilho-roxo {
    left: -2em;
    bottom: 6em;
  }

  .moeda-verde2 {
    left: -4em;
  }

  .moeda-roxa {
    left: -2em;
  }

  .qrcode-box input {
    width: 11em;
  }

  .codigo-l2 select {
    margin-left: 0px;
  }
}

@media (max-width: 1024px) {
  .nav ul {
    width: 45em;
  }

  #drop {
    display: block;
  }

  .qrcode-box input {
    width: 9em;
  }

  .codigo-l2 select {
    margin-left: -39px;
    width: 13em;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }
}

@media (max-width: 985px) {
  body {
    overflow-x: hidden;
  }

  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }

  nav ul {
    width: 57em;
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .sidebar {
    height: 75vh;
    right: 4em;
  }

  .codigo-l2 select {
    margin-left: 15px;
    width: 13em;
  }

  .moeda-roxa {
    left: -5em;
  }

  #brilho-roxo {
    left: -7em;
  }

  .footer-logo {
    margin-top: 40%;
  }
}

@media (min-width: 320px) and (max-width: 421px) {
  /* footer */
  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-top: 35px;
    margin-left: 55px;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 55px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 5px 65px;
  }

  .footer-container .logo {
    width: 100%;
  }

  .copyright {
    margin: 5em 5em 0 5em;
  }
  /* footer */
}

/* Dispositivos móveis médios (em pé) */
@media (max-width: 375px) {
  /* Estilos aqui */
  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Dispositivos móveis grandes (em pé) */
@media (max-width: 425px) {
  /* Estilos aqui */
  .footer-container .logo {
    margin: 0;
    bottom: 20px;
    flex-direction: column;
  }

  .flor img {
    visibility: hidden;
  }

  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .footer-container .descricao-footer {
    margin-top: 0;
    display: block;
  }

  .descricao-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    max-width: 100%;
  }
  /*   
  .geral, .contato {
    margin: 70px;

  }
 */
  .endereco {
    max-width: 100%;
  }

  .footer-container button {
    margin-right: 10px;
  }

  .logoBranca-small {
    width: 150px;
  }

  h3 {
    margin-top: 15px;
  }
}

/* quebrando a linha da imagem */

@media (max-width: 670px) {
  .flor img {
    visibility: hidden;
  }

  .codigo-l1 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .codigo-l2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .moedas-esquerda {
    display: none;
  }

  .moedas-direita {
    display: none;
  }

  .codigo-l2 form {
    display: block;
    margin-right: 1em;
  }

  .qrcode-salvar {
    flex-direction: column;
  }
}

/* header layout */
@media (max-width: 895px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }
}
