@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .brilho-verde {
    bottom: 8em;
    left: 0;
    right: 5em;
  }

  .moeda-verde {
    right: 10em;
    bottom: 7em;
  }

  #brilho-amarelo {
    top: 5em;
    right: 17em;
  }

  .moeda-amarela {
    position: relative;
    right: 9em;
  }

  #estrela {
    top: 4em;
    right: 11em;
  }

  #brilho-roxo {
    left: 3em;
  }

  .moeda-verde2 {
    position: relative;
    left: 3em;
    bottom: 0;
  }

  .moeda-roxa {
    position: relative;
    left: 3em;
  }

  .info-box {
    margin-top: 100px;
  }

  .codigo-l1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 80%;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 4em;
  }

  .brilho-verde {
    bottom: 8em;
    left: 0;
    right: 5em;
  }

  .moeda-verde {
    right: 10em;
    bottom: 7em;
  }

  #brilho-amarelo {
    top: 5em;
    right: 17em;
  }

  .moeda-amarela {
    position: relative;
    right: 9em;
  }

  #estrela {
    top: 4em;
    right: 11em;
  }

  #brilho-roxo {
    left: 3em;
  }

  .moeda-verde2 {
    position: relative;
    left: 3em;
    bottom: 0;
  }

  .moeda-roxa {
    position: relative;
    left: 3em;
  }

  .info-box {
    margin-top: 100px;
  }
}

@media (max-width: 1600px) {
  .brilho-verde {
    left: 6em;
    right: 0;
  }

  .moeda-verde {
    right: 4em;
  }

  .moeda-amarela {
    right: 6em;
  }

  #estrela {
    right: 7em;
  }

  .moeda-verde2,
  #brilho-roxo {
    left: 0;
  }

  .moeda-roxa {
    left: 1em;
  }
}

@media (max-width: 1350px) {
  .qrcode-box {
    width: 45%;
  }
}

@media (max-width: 1280px) {
  .moedas-esquerda {
    right: 18em;
  }

  .grupo-cupons {
    gap: 0px;
  }
}

@media (max-width: 1215px) {
  .qrcode-box {
    width: 50%;
  }

  .moedas-esquerda {
    right: 22em;
  }
}

@media (max-width: 1160px) {
  .qrcode-box {
    width: 50%;
  }

  .moedas-esquerda {
    right: 20em;
  }

  .moedas-direita {
    left: 21em;
  }
}

@media (max-width: 1075px) {
  .qrcode-box {
    width: 55%;
  }

  .moedas-direita {
    bottom: 14em;
  }
}

@media (max-width: 1035px) {
  .moedas-esquerda {
    right: 19em;
  }

  .moedas-direita {
    left: 18em;
  }

  #brilho-roxo {
    left: 15px;
  }
}

@media (max-width: 1015px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: fixed;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  .sidebar {
    height: 65vh;
    right: 0;
    z-index: 100000;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  #moeda-verde {
    width: 110px;
  }

  .shadow {
    width: 90px;
  }

  #brilho-amarelo {
    right: 16em;
  }

  #moeda-roxa {
    width: 110px;
  }

  .shadow-moeda-roxa {
    margin-left: 7px;
  }
}

@media (max-width: 985px) {
  .qrcode-box {
    width: 60%;
  }

  #brilho-amarelo {
    right: 235px;
  }
}

@media (max-width: 955px) {
  .moeda-verde {
    right: 3em;
  }

  .moeda-roxa {
    left: 0;
  }

  .moeda-verde2 {
    left: -20px;
  }

  #brilho-roxo {
    left: -5px;
  }
}

@media (max-width: 925px) {
  #brilho-amarelo {
    right: 215px;
  }
}

@media (max-width: 910px) {
  .moedas-esquerda {
    right: 17em;
  }

  .moedas-direita {
    left: 16em;
  }

  .brilho-verde {
    left: 5em;
  }

  #estrela {
    top: 5em;
  }

  #brilho-roxo {
    left: 25px;
    bottom: 8em;
  }

  .moeda-roxa {
    left: -20px;
  }

  .campo-inicial {
    width: 720px;
  }

  #nome-add,
  #email-add,
  .select-telefone input,
  .select-peca,
  #qtd_peca {
    width: 14em;
  }

  #codigo {
    width: 12em;
  }

  #descricao-peca {
    max-width: 25em;
    min-width: 25em;
  }

  .botoes {
    left: 430px;
  }
}

@media (max-width: 875px) {
  .qrcode-box {
    width: 65%;
  }

  .moeda-verde {
    right: 2em;
  }

  .brilho-verde {
    bottom: 11em;
  }

  #brilho-amarelo {
    top: 3em;
  }
}

@media (max-width: 845px) {
  .moeda-verde2 {
    top: 10px;
    left: -70px;
  }
}

@media (max-width: 455px) {
  .footer-container input[type="email"] {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .footer-container input[type="email"] {
    width: 210px;
  }

  .redes-sociais,
  .geral,
  .contato {
    width: 330px;
  }
}

@media (max-width: 360px) {
  .footer-container input[type="email"] {
    width: 190px;
  }

  .redes-sociais,
  .geral,
  .contato {
    width: 300px;
  }
}

@media (max-width: 340px) {
  .footer-container input[type="email"] {
    width: 160px;
  }

  .redes-sociais,
  .geral,
  .contato {
    width: 270px;
  }
}

@media (max-width: 330px) {

  #cep,
  #rua,
  #bairro {
    padding-right: 15px;
  }

  .cep-form,
  .rua-form,
  .bairro-form {
    margin-left: 10px;
  }

  .footer-container input[type="email"] {
    width: 140px;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .sidebar {
    height: 45em;
  }

}