/* Dispositivos móveis pequenos (em pé) */
@media (min-width: 320px) and (max-width: 421px) {

   /* footer */
   .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-top: 35px;
    margin-left: 55px;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 55px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 5px 65px;
  }

  .footer-container .logo {
    width: 100%;
  }

  .copyright {
    margin: 5em 5em 0 5em;
  }
  /* footer */
}

/* Dispositivos móveis médios (em pé) */
@media (max-width: 375px) {

  /* Estilos aqui */
  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Dispositivos móveis grandes (em pé) */
@media (max-width: 425px) {
  /* Estilos aqui */
  .footer-container .logo {
    margin: 0;
    bottom: 20px;
    flex-direction: column;
  }

  .flor img {
    visibility: hidden;
  }

  .flor img {
    visibility: hidden;
  }

  .email {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .footer-container .descricao-footer {
    margin-top: 0;
    display: block;
  }

  .descricao-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    max-width: 100%;
  }
  /*   
  .geral, .contato {
    margin: 70px;

  }
 */
  .endereco {
    max-width: 100%;
  }

  .footer-container button {
    margin-right: 10px;
  }

  .logoBranca-small {
    width: 150px;
  }

  h3 {
    margin-top: 15px;
  }
}

/* quebrando a linha da imagem */

@media (max-width: 670px) {
  .flor img {
    visibility: hidden;
  }

  .codigo-l1 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .codigo-l2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .moedas-esquerda {
    display: none;
  }

  .moedas-direita {
    display: none;
  }

  .codigo-l2 form {
    display: block;
    margin-right: 1em;
  }

  .qrcode-salvar {
    flex-direction: column;
  }
}

/* Tablets em modo paisagem (tela horizontal) */
@media (max-width: 1024px) {
  /* Estilos aqui */

  #perfil {
    float: left;
    display: none;
  }

  #drop {
    display: block;
  }

  .info-box {
    width: auto;
    text-align: center;
    width: 50%;
  }

  .descricao-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }

  .copyright {
    margin-left: 80px;
  }

  .container-grid {
    display: flex;
    flex-direction: column;
  }

  .texto {
    display: flex;
    flex-direction: column;
  }

  .texto-ram {
    display: flex;
    flex-direction: column;
  }
}

/* Laptops pequenos */
@media (max-width: 1280px) {

  /* Estilos aqui */
  .logoBranca {
    display: none;
  }

  .codigo-l2 select {
    margin-left: 0px;
  }
}

/* Telas grandes */
@media (max-width: 1920px) {
  /* Estilos aqui */
}

/* header layout */
@media (max-width: 895px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav ul {
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }
}