@import url(../css/font.css);

@import url(../css/cores.css);

body {
  background-color: var(--branco);
}

.link-home {
  margin-left: -25px;
}

.link-home:hover {
  text-decoration: none;
  cursor: pointer;
}

.qrcode {
  width: 90em;
  height: 60em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* começo textos */

#titulo1 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  font-size: 1.7em;
  margin: 1em 0 0.2em 8em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin: 0.5em 0 1.2em 15em;
  font-size: 0.9em;
  width: 70%;
}

#titulo2 {
  font-family: "Poppins-semibold";
  color: var(--preto);
  font-size: 0.9em;
  margin: 2em 0 0.2em 2em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin: 0.5em 0 1.2em 15em;
  font-size: 0.9em;
  width: 70%;
}

/* final textos */

.conteiner {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
}

#imagem-apresentação {
  width: 90%;
  margin-left: 15%;
  margin-right: 15%;
}

.info-box {
  font-family: "Poppins-medium", sans-serif;
  margin: auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.h1-info {
  font-family: "Blinker-extrabold", sans-serif;
  color: var(--verde);
  margin-bottom: 20px;
}

.p-info {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin-bottom: 20px;
}

/* qr code começo  */
.qrcode-box {
  display: flex;
  background-color: #f8f8ff;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-bottom: 0;
  flex-direction: column;
  padding-top: 20px;
  width: 42%;
  max-width: 800px;
  min-width: 400px;
  height: 430px;
  align-items: center;
}

.qrcode-box p {
  color: var(--preto);
  font-family: "Poppins-semibold";

  outline: none;
}

.codigo-l1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 90%;
}

.colocar,
.inserir {
  display: flex;
  flex-direction: column;
  align-items: start;
  white-space: nowrap;
  width: 100%;
}

.titulo-form {
  font-size: 0.9em;
}

.codigo-l1 p {
  margin-bottom: 10px;
}

.codigo-aqui button {
  margin-left: 60px;
}

.qrcode-salvar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.qrcode-box div {
  margin: 10px 10px 10px 10px;
}

.qrcode-box button {
  border-radius: 30px;
  font-size: medium;
  padding: 5px 20px 5px 20px;
  color: var(--branco);
  border: none;
  background-color: var(--azul);
  cursor: pointer;
}

.qrcode-salvar button {
  font-family: "Poppins-semibold";
}

.qrcode-box input {
  background-color: rgba(42, 85, 194, 0.07);
  border-radius: 30px;
  border: none;
  padding: 8px 45px 8px 19px;
  outline: none;
}

#inserir-total::-webkit-input-placeholder {
  color: var(--azul);
  font-family: "Poppins-bold";
}

.codigo-l2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.codigo-l2 p {
  margin-bottom: 5px;
  margin-left: 5px;
}

#gerar-button {
  background-color: var(--verde);
  border: none;
  font-family: "Poppins-semibold";
  margin-top: 20px;
  padding: 5px 30px 5px 30px;
}

.botaoC {
  width: 50%;
  position: relative;
  bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.codigo-l2 select {
  background-color: rgba(42, 85, 194, 0.07);
  border-radius: 30px;
  border: none;
  padding: 0.6em;
  width: 226px;
  -webkit-appearance: none;
  font-family: "Poppins-bold";
  outline: none;
  cursor: pointer;
  margin-left: 30px;
}

.codigo-l2 form {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#seta-form {
  position: relative;
  left: -28px;
  pointer-events: none;
}

.select {
  white-space: nowrap;
}

.down-salvar {
  position: relative;
  right: 2em;
}

#download {
  padding: 3px 25px 3px 25px;
}

#salvar {
  padding: 3px 40px 3px 40px;
}

#qrcode__img {
  width: 85%;
}

/* qr code final */

/* animaçao */

.moedas-esquerda {
  display: flex;
  flex-direction: row;
  margin: 0 5em;
  position: relative;
  bottom: 5em;
  right: 23em;
  height: 10em;
}

.moedas-direita {
  display: flex;
  flex-direction: row;
  margin: 0 5em 0 10em;
  position: relative;
  bottom: 15em;
  left: 23em;
  height: 1em;
}

@media (max-width: 670px) {
  .moedas-direita {
    display: none;
  }
}

.brilho-verde {
  position: relative;
  bottom: 8em;
  left: 5em;
}

.moeda-verde {
  position: relative;
  bottom: 5em;
}

#brilho-amarelo {
  position: relative;
  top: 4em;
  right: 10em;
}

#estrela {
  position: relative;
  top: 5em;
}

.moeda-verde2 {
  position: relative;
  bottom: 1em;
}

#brilho-roxo {
  position: relative;
  bottom: 5em;
}

#moeda-roxa {
  position: relative;
  bottom: 3em;
}

#moeda-verde,
#moeda-amarela,
#moeda-verde2,
#moeda-roxa {
  animation-name: float;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: -1;
}

.shadow {
  width: 100px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 1em;
  margin-left: 15px;
}

.shadow-moeda2 {
  width: 90px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 2em;
  margin-left: 0.5em;
}

.shadow-moeda-amarela {
  width: 65px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 2em;
  margin-left: 0.5em;
}

.shadow-moeda-roxa {
  width: 90px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: -2em;
  margin-left: 15px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes animate-shadow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 320px) and (max-width: 421px) {

  /* footer */
  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-top: 35px;
    margin-left: 55px;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 55px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 5px 65px;
  }

  .footer-container .logo {
    width: 100%;
  }

  .copyright {
    margin: 5em 5em 0 5em;
  }

  /* footer */
}

.campo-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 10px 50px 0;
  background-color: white;
  border-radius: 35px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.titulo-inicial {
  font-family: "Blinker-semibold";
  color: #2a55c2;
}

.form-doacoes {
  height: 30em;
  display: flex;
  flex-direction: column;
}

.grupo1 {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-left: 100px;
  margin-top: 30px;
}

.grupo2 {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  margin-left: 100px;
  gap: 1em;
}

.campo-form {
  display: flex;
  flex-direction: column;
}

.titulo-form {
  font-family: "Poppins-regular";
  font-size: 0.9em;
  color: var(--preto);
}

.telefone {
  display: flex;
  flex-direction: row;
}

#ddd-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--branco);
  font-family: "Poppins-regular";
  width: 4em;
  height: 2em;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PHBhdGggZD0iTTEzIDE2bDcgNiA3LTYgMSAxLTggOC04LTh6Ii8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

#ddd-select::-ms-expand {
  display: none;
}

#select-peca {
  background-color: var(--branco);
  font-family: "Poppins-regular";
  width: 15em;
  height: 2em;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.select-peca {
  display: flex;
  flex-direction: row;
}

#search {
  font-family: "Poppins-regular";
  padding: 5px;
}

.icon-add {
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#tipo-componente {
  background-color: var(--branco);
  font-family: "Poppins-regular";
  width: 15em;
  height: 2em;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.data {
  width: 11em;
}

.hora {
  width: 6em;
}

.campo-descricao {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-left: 100px;
}

#descricao-peca {
  background-color: var(--branco);
  font-family: "Poppins-regular";
  border: none;
  outline: none;
  border-radius: 15px;
  max-width: 30em;
  min-width: 30em;
  max-height: 5em;
  min-height: 5em;
  padding: 10px;
  margin-top: 1em;
  resize: none;
}

.botoes {
  width: 15em;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10em;
  left: 50em;
  gap: 15px;
}

.btn-salvar {
  font-family: "Poppins-semibold";
  background-color: var(--azul);
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 15em;
  height: 3em;
  cursor: pointer;
}

.btn-cancelar {
  font-family: "Poppins-semibold";
  background-color: transparent;
  color: #000;
  border: 1px solid var(--azul);
  border-radius: 15px;
  width: 15em;
  height: 3em;
  cursor: pointer;
}

.custom-select {
  position: relative;
  width: 250px;
}

input,
.selected-option {
  background-color: var(--branco);
  font-family: "Poppins-regular";
  width: 16em;
  height: 2.2em;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  gap: 5px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selected-option {
  height: 1.9em;
  padding-left: 10px;
}

.options {
  font-family: "Poppins-regular";
  display: none;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.option {
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.option:hover {
  background-color: #f0f0f0;
}

