@import url(../css/font.css);
@import url(../css/cores.css);

body {
  background-color: var(--branco);
}

.link-home {
  margin-left: -25px;
}

.link-home:hover {
  text-decoration: none;
  cursor: pointer;
}

.qrcode {
  width: 90em;
  height: 60em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* começo textos */

#titulo1 {
  font-family: "Blinker-extrabold";
  color: var(--verde);
  font-size: 1.7em;
  margin: 1em 0 0.2em 8em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin: 0.5em 0 1.2em 15em;
  font-size: 0.9em;
  width: 70%;
}

#titulo2 {
  font-family: "Poppins-semibold";
  color: var(--preto);
  font-size: 0.9em;
  margin: 2em 0 0.2em 2em;
}

#texto1 {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin: 0.5em 0 1.2em 15em;
  font-size: 0.9em;
  width: 70%;
}

/* final textos */

.conteiner {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
}

#imagem-apresentação {
  width: 90%;
  margin-left: 15%;
  margin-right: 15%;
}

.info-box {
  font-family: "Poppins-medium", sans-serif;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.h1-info {
  font-family: "Blinker-extrabold", sans-serif;
  color: var(--verde);
  margin-bottom: 20px;
}

.p-info {
  font-family: "Poppins-regular";
  color: var(--preto);
  margin-bottom: 20px;
}

/* qr code começo  */
.qrcode-box {
  display: flex;
  background-color: #f8f8ff;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-bottom: 0;
  flex-direction: column;
  padding-top: 20px;
  width: 42%;
  height: 600px;
  align-items: center;
}

.qrcode-box p {
  outline: none;
}

.codigo-l1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 90%;
}

.colocar,
.inserir {
  display: flex;
  flex-direction: column;
  align-items: start;
  white-space: nowrap;
  width: 100%;
}

.titulo-form {
  font-family: "Poppins-regular";
  font-size: 0.9em;
  color: var(--preto);
}

.codigo-l1 p {
  margin-bottom: 10px;
}

.codigo-aqui button {
  margin-left: 60px;
}

.qrcode-salvar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.qrcode-box div {
  margin: 10px 10px 10px 10px;
}

.qrcode-box button {
  border-radius: 30px;
  font-size: medium;
  padding: 5px 20px 5px 20px;
  color: var(--branco);
  border: none;
  background-color: var(--azul);
  cursor: pointer;
}

.qrcode-salvar button {
  font-family: "Poppins-semibold";
}

.qrcode-box input {
  background-color: rgba(42, 85, 194, 0.07);
  border-radius: 30px;
  border: none;
  padding: 8px 45px 8px 19px;
  outline: none;
}

#inserir-total::-webkit-input-placeholder {
  color: var(--azul);
  font-family: "Poppins-bold";
}

.codigo-l2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.codigo-l2 p {
  margin-bottom: 5px;
  margin-left: 5px;
}

.codigo-l2 select {
  background-color: rgba(42, 85, 194, 0.07);
  border-radius: 30px;
  border: none;
  padding: 0.6em;
  width: 226px;
  -webkit-appearance: none;
  font-family: "Poppins-bold";
  outline: none;
  cursor: pointer;
  margin-left: 30px;
}

.codigo-l2 form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p-info-l2 {
  font-family: "Poppins-semibold";
  color: var(--azul);
  font-size: 14px;
  margin-top: 15px;
}

.qrcode-box div .ramcoin {
  margin-right: 45px;
}

.ramcoin {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.text-block {
  display: none;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 8px 8px rgba(42, 85, 194, 0.15);
  width: 300px;
  z-index: 1;
  text-align: center;
}

.textos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.texto-ramcoin {
  font-family: "Poppins-semibold";
  color: var(--azul);
  font-size: 13px;
  margin-left: 5px;
}

.ramcoin:hover .text-block {
  display: block;
}

.qtd-ramcoin {
  font-family: "Poppins-extrabold";
  color: var(--verde);
  margin-right: 5px;
}

.grupo-cupons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px 15px;
  gap: 10px;
}

.select-cupom {
  background-color: var(--azul);
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 35px;
  width: 150px;
  height: 140px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.13) inset;
}

.titulo-cupom {
  color: var(--branco);
  font-family: "Blinker-extrabold";
  font-size: 17px;
  text-align: center;
  margin: 0.5em 0;
}

.select-cupom img {
  width: 100px;
}

#seta-form {
  position: relative;
  left: -28px;
  pointer-events: none;
}

.select {
  white-space: nowrap;
}

.down-salvar {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  left: 60px;
  gap: 15px;
}

#gerar-button {
  font-family: "Blinker-extrabold";
  font-size: 18px;
  background-color: var(--verde);
  color: var(--branco);
  height: 40px;
  padding: 3px 25px 3px 25px;
  border: none;
  border-bottom: 5px solid #499136;
  border-radius: 30px;
  cursor: pointer;
}

#gerar-button:hover {
  border-bottom: none;
}

#download {
  font-family: "Blinker-extrabold";
  font-size: 18px;
  background-color: #46C4FF;
  color: var(--branco);
  height: 40px;
  padding: 3px 25px 3px 25px;
  border: none;
  border-bottom: 5px solid #0076AC;
  border-radius: 30px;
  cursor: pointer;
}

#download:hover {
  border-bottom: none;
}

#salvar {
  font-family: "Blinker-extrabold";
  font-size: 18px;
  background-color: #46C4FF;
  color: var(--branco);
  height: 40px;
  padding: 3px 25px 3px 25px;
  border: none;
  border-bottom: 5px solid #0076AC;
  border-radius: 30px;
  cursor: pointer;
}

#salvar:hover {
  border-bottom: none;
}

#qrcode__img {
  width: 85%;
}

/* qr code final */

/* animaçao */
.moedas-esquerda {
  display: flex;
  flex-direction: row;
  margin: 0 5em;
  position: relative;
  bottom: 5em;
  right: 23em;
  height: 10em;
}

.moedas-direita {
  display: flex;
  flex-direction: row;
  margin: 0 5em 0 10em;
  position: relative;
  bottom: 15em;
  left: 23em;
  height: 1em;
}

@media (max-width: 670px) {
  .moedas-direita {
    display: none;
  }
}

.brilho-verde {
  position: relative;
  bottom: 8em;
  left: 5em;
}

.moeda-verde {
  position: relative;
  bottom: 5em;
}

#brilho-amarelo {
  position: relative;
  top: 4em;
  right: 10em;
}

#estrela {
  position: relative;
  top: 5em;
}

.moeda-verde2 {
  position: relative;
  bottom: 1em;
}

#brilho-roxo {
  position: relative;
  bottom: 5em;
}

#moeda-roxa {
  position: relative;
  bottom: 3em;
}

#moeda-verde,
#moeda-amarela,
#moeda-verde2,
#moeda-roxa {
  animation-name: float;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: -1;
}

.shadow {
  width: 100px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 1em;
  margin-left: 15px;
}

.shadow-moeda2 {
  width: 90px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 2em;
  margin-left: 0.5em;
}

.shadow-moeda-amarela {
  width: 65px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 2em;
  margin-left: 0.5em;
}

.shadow-moeda-roxa {
  width: 90px;
  height: 10px;
  background: #e8e8e8;
  border-radius: 70%;
  opacity: 1;
  filter: blur(0.5px);
  animation-name: animate-shadow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: -2em;
  margin-left: 15px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes animate-shadow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* area de add doacao */
.info-box-doacoes {
  font-family: "Poppins-medium", sans-serif;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.campo-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px 50px 0;
  background-color: #F8F8FF;
  border-radius: 35px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 800px;
  height: 500px;
}

.form-doacoes {
  width: auto;
  display: flex;
  flex-direction: column;
}

.grupo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 80px;
}

.grupo2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  gap: 10px;
}

.campo-form {
  display: flex;
  flex-direction: column;
}

#nome-add,
#email-add,
.select-telefone input,
.select-peca,
#qtd_peca,
#codigo {
  background-color: rgba(42, 85, 194, 0.07);
  font-family: "Poppins-regular";
  width: 16em;
  height: 20px;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  gap: 5px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-peca input {
  background-color: transparent;
  font-family: "Poppins-regular";
  width: 325px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.telefone {
  display: flex;
  flex-direction: row;
}

/* #select-peca {
  font-family: "Poppins-regular";
  width: 15em;
  height: 2em;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
} */

.select-peca {
  display: flex;
  flex-direction: row;
}

#search {
  font-family: "Poppins-regular";
  padding: 5px;
}

.icon-add {
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#tipo-componente {
  background-color: rgba(42, 85, 194, 0.07);
  font-family: "Poppins-regular";
  width: 15em;
  height: 2em;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.data {
  background-color: rgba(42, 85, 194, 0.07);
  font-family: "Poppins-regular";
  width: 10em;
  height: 20px;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  gap: 5px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hora {
  background-color: rgba(42, 85, 194, 0.07);
  font-family: "Poppins-regular";
  width: 6em;
  height: 20px;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  gap: 5px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.campo-descricao {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 50px;
}

#descricao-peca {
  background-color: rgba(42, 85, 194, 0.07);
  font-family: "Poppins-regular";
  border: none;
  outline: none;
  border-radius: 15px;
  max-width: 30em;
  min-width: 30em;
  max-height: 5em;
  min-height: 5em;
  padding: 10px;
  margin-top: 1em;
  resize: none;
}

.botoes {
  width: 15em;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 480px;
  bottom: 105px;
  gap: 15px;
}

.btn-salvar {
  font-family: "Poppins-semibold";
  background-color: #46C4FF;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 150px;
  height: 3em;
  cursor: pointer;
  border-bottom: 5px solid #0076AC;
  cursor: pointer;
}

.btn-salvar:hover {
  border-bottom: none;
}

/* .btn-cancelar {
  font-family: "Poppins-semibold";
  background-color: transparent;
  color: #000;
  border: 1px solid var(--azul);
  border-radius: 15px;
  width: 15em;
  height: 3em;
  cursor: pointer;
} */

.custom-select {
  position: relative;
  width: 250px;
}

.selected-option{
  background-color: rgba(42, 85, 194, 0.07);
  font-family: "Poppins-regular";
  width: 16em;
  height: 25px;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  gap: 5px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selected-option {
  height: 1.9em;
  padding-left: 10px;
}

.options {
  font-family: "Poppins-regular";
  display: none;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.option {
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.option:hover {
  background-color: #f0f0f0;
}