@media (min-width: 1920px) {
  .fundo-titulo {
    width: 100vw;
  }

  .grupo {
    margin-left: 6em;
  }

  .campo-titulo {
    margin: 100px 50px 25px 65px;
  }

  .grupos {
    justify-content: center;
    gap: 10em;
    margin: auto;
  }

  .titulo-doacoes {
    margin: 3em 1.5em 0 5.5em;
  }

  .grafico-coluna,
  .grafico-pizza {
    height: 400px;
  }

  #container,
  #container2 {
    height: 340px;
  }
}

@media (max-width: 1450px) {
  .titulo-doacoes {
    margin: 3em 1.5em 0 3.5em;
  }

  .sidebar.active~.main-content .titulo-doacoes {
    margin: 3em 1.5em 0 3em;
  }

  .grupos {
    gap: 5em;
  }

  .sidebar.active~.main-content .grupos {
    gap: 0;
  }

  .sidebar.active~.main-content .grafico-coluna {
    margin-left: 3em;
  }

  .sidebar.active~.main-content .grafico-pizza {
    margin-left: 3em;
  }
}

@media (max-width: 1025px) {
  .grupos {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0;
  }

  .grafico-coluna,
  .grafico-pizza {
    width: 550px;
    margin: 2em auto;
  }

  .grafico-pizza {
    margin-bottom: 1em;
  }

  .sidebar.active~.main-content .fundo-perfil {
    width: 40em;
  }

  .sidebar.active~.main-content .modalBtn-perfil {
    margin-left: 15em;
  }

  .sidebar.active~.main-content .campo-titulo {
    margin: 100px 50px 25px 48px;
  }

  .sidebar.active~.main-content .titulo-doacoes {
    margin: 3em 1.5em 0 2em;
  }

  .sidebar.active~.main-content .grafico-coluna {
    margin: 2em 5em;
  }

  .sidebar.active~.main-content .grafico-pizza {
    margin: 2em 5em;
  }
}