@media (min-width: 1600px) {
  .fundo-titulo {
    width: 100vw;
  }

  .titulo-inicial {
    margin-left: 2em;
  }

  .titulo-doacoes {
    margin: 3em 1.5em 0 4em;
  }

  .grupos {
    margin: auto;
    gap: 5em;
    width: 76em;
  }

  .grupo {
    margin-left: 4em;
  }
}

@media (min-width: 1700px) {
  .fundo-titulo {
    width: 100vw;
  }

  .titulo-inicial {
    margin-left: 3em;
  }

  .titulo-doacoes {
    margin: 3em 1.5em 0 5em;
  }

  .grupos {
    margin: auto;
    gap: 5em;
    width: 76em;
  }

  .grupo {
    margin-left: 5em;
  }
}

@media (min-width: 1800px) {
  .fundo-titulo {
    width: 100vw;
  }

  .titulo-inicial {
    margin-left: 5em;
  }

  .titulo-doacoes {
    margin: 3em 1.5em 0 6.5em;
  }

  .grupos {
    margin: auto;
    gap: 5em;
    width: 76em;
  }

  .grupo {
    margin-left: 7em;
  }
}

@media (min-width: 1900px) {
  .fundo-titulo {
    width: 100vw;
  }

  .titulo-inicial {
    margin-left: 5em;
  }

  .titulo-doacoes {
    margin: 3em 1.5em 0 6.5em;
  }

  .grupos {
    margin: auto;
    gap: 5em;
    width: 76em;
  }

  .grupo {
    margin-left: 7em;
  }
}
