@import url(../css/font.css);
@import url(../css/cores.css);

nav {
  background-color: var(--branco);
  margin-bottom: 0px;
}

nav ul {
  background-color: var(--branco);
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
  margin-left: 15px;
  margin-right: 15px;
  position: fixed;
  height: 4em;
  margin: 0;
  z-index: 1000;
}

#logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Batangas";
  font-size: large;
}

nav li {
  height: 50px;
  font-size: 100%;
}

.sidebar nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: var(--branco);
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

nav a:visited {
  text-decoration: none;
  transition: color 1.5s ease-out 1ms;
}

nav a:hover {
  color: var(--azul);
  text-decoration-line: underline;
}

#perfil-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#perfil-sidebar {
  display: flex;
  align-items: center;
  margin-left: 160px;
  margin-top: 50px;
}

#fechar {
  margin-left: 172px;
  margin-top: 35px;
}


#menuMobile {
  font-family: "Poppins-semibold";
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  /* height: 65vh; */
  height: 100%;
  width: 250px;
  background-color: var(--azul);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* border-radius: 20px; */
  /* margin: 10px 10px 10px 10px; */
  font-family: "Batangas";
}

.sidebar li {
  width: 100%;
  margin-top: 0px;
}

.sidebar a {
  width: 100%;
  color: var(--branco);
}

.menu-button {
  display: none;
}

.hideOnMobile {
  font-family: "Blinker-semibold";
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin-top: 6em;
}

@media (max-width: 670px) {
  .footer-logo {
    margin-top: 5em;
  }
}

@media (max-width: 767px) {
  .footer-logo {
    margin-top: 6em;
  }
}

#footer-logo {
  margin: 0;
  width: 150px;
}

.menus {
  margin-top: 60px;
}

#footer-logo {
  padding: 0;
  margin-left: 20px;
}

#footer-logo:last-child {
  padding: 0;
}

/* modal sem perfil */

.modalBtn {
  border: none;
  cursor: pointer;
  background-color: unset;
}

.modal-sem-perfil {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: -300px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.content-sem-perfil {
  background-color: var(--verde);
  margin-top: 5em;
  margin-left: 70em;
  padding: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 15em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 0.5) inset; */
}

.grupo {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  /* justify-content: center;
  align-items: center; */
}

.perfil,
.texto-perfil {
  font-family: "Poppins-medium";
}

.texto-perfil {
  padding: 0;
}

.cadastro,
.login {
  font-family: "Poppins-medium";
  padding: 0;
}

.cadastro {
  color: var(--preto);
  text-decoration: none;
}

.cadastro:hover {
  color: var(--preto);
  text-decoration: none;
  cursor: pointer;
}

.login {
  color: var(--azul);
  text-decoration: none;
}

.login:hover {
  text-decoration: none;
  cursor: pointer;
}

.perfil {
  color: var(--branco);
  padding: 0;
  margin: 10px 0 20px 0;
}

.texto-perfil {
  color: #676767;
}

.linha {
  width: 12em;
  margin: 10px 1px;
}

#foto-perfil {
  position: relative;
  width: 90px;
  margin-bottom: 1em;
}

/* modal sem perfil */

.modalBtn {
  border: none;
  cursor: pointer;
  background-color: unset;
}

.modal-sem-perfil {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: -300px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.content-sem-perfil {
  margin-top: 4em;
  margin-left: 73em;
  padding: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 15em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#perfil {
  width: 45px;
}

.fundo {
  background-color: var(--branco);
  width: 15em;
  height: 14em;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;

}

/* .fundo {
  background-color: var(--branco);
  width: 15em;
  height: 20em;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
} */

.perfil,
.texto-perfil {
  font-family: "Poppins-bold";
  font-size: 0.9em;
  color: var(--branco);
}

.texto-perfil {
  margin: 0;
  margin-right: 5px;
}

.cadastro,
.login {
  font-family: "Poppins-medium";
  font-size: 0.9em;
}

.cadastro {
  color: var(--preto);
  text-decoration: none;
}

.cadastro span:hover {
  color: var(--preto);
  text-decoration: underline;
  cursor: pointer;
}

.login {
  color: var(--azul);
  text-decoration: none;
}

.login:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.perfil {
  color: var(--branco);
  padding: 0;
  margin: 15px 0 20px 0;
}

.texto-perfil {
  color: #676767;
}

#foto-perfil {
  position: relative;
}