@media (min-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 5em;
  }

  #medalhas {
    width: 500px;
    margin-left: 10em;
  }
}

@media (max-width: 1920px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 5em;
  }

  #medalhas {
    width: 500px;
    margin-left: 10em;
  }
}

@media (max-width: 1355px) {
  .inicio {
    margin-left: 7em;
  }
}

@media (max-width: 1255px) {
  .content-sem-perfil {
    margin-left: auto;
    margin-right: 5em;
  }

  .inicio {
    margin-left: 8em;
  }

  /* #titulo1 {
    margin: 200px 0 15px 100px;
  } */

  #medalhas {
    margin-left: 12em;
  }

  /* .logoBranca {
    display: none;
  } */
}

@media (max-width: 1210px) {
  .imagem-inicial {
    margin-left: 25em;
  }

  .texto {
    margin-left: 0;
  }

  #medalhas {
    margin-left: 10em;
  }

  .footer-container {
    width: 75em;
  }
}

@media (max-width: 1180px) {
  .content-sem-perfil {
    margin-left: 55em;
  }

  .imagem-inicial {
    margin-left: 25em;
  }
}

@media (max-width: 1135px) {
  .content-sem-perfil {
    margin-left: 53em;
  }
}

@media (max-width: 1100px) {
  .content-sem-perfil {
    margin-left: 52em;
  }

  .imagem-inicial {
    margin-left: 20em;
  }
}

@media (max-width: 1080px) {
  .content-sem-perfil {
    margin-left: 50em;
  }
}

@media (max-width: 1055px) {
  .content-sem-perfil {
    margin-left: 49em;
  }
}

@media (max-width: 1040px) {
  .content-sem-perfil {
    margin-left: 48em;
  }
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* começo da imagem inicial */
  .inicio {
    margin-left: 10em;
  }

  .imagem-inicial {
    margin-left: 10em;
  }

  .botao,
  #texto-inicial {
    margin-left: 13em;
  }

  #titulo-inicial {
    margin-left: 2.8em;
  }

  #titulo1 {
    margin: 80px 0 35px 100px;
  }

  #texto1 {
    margin-left: 100px;
  }

  #titulo2 {
    margin: 80px 0 35px 100px;
  }

  #texto2 {
    margin-left: 100px;
  }

  .texto {
    margin: 0;
  }

  #medalhas {
    width: 380px;
    margin-left: 0px;
  }

  .imagem-medalha {
    grid-area: imagem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  #drop {
    display: block;
  }

  .bairro-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1000px) {
  nav ul {
    width: 61.5em;
    padding: 5px;
  }

  .content-sem-perfil {
    margin-left: 45em;
  }

  .imagem-inicial {
    margin-left: 15em;
  }

  #titulo1,
  #texto1 {
    margin-left: 80px;
  }

  .imagem-ram {
    margin-left: 40px;
  }

  #titulo2,
  #texto2 {
    margin-left: 80px;
  }

  #h1-info,
  #p-info {
    margin-left: 45px;
  }

  .form-conteiner {
    width: 85%;
    margin: 15px auto;
  }

  #rua {
    padding-right: 150px;
  }

  #bairro {
    padding-right: 350px;
  }

  .geral,
  .redes-sociais {
    margin-right: 3em;
  }

  .contato {
    margin-right: 5em;
  }

  .logoBranca {
    display: none;
  }
}

@media (max-width: 985px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  nav ul {
    width: 57em;
    justify-content: space-between;
    position: static;
    padding-left: 0;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }

  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .sidebar {
    right: 1em;
  }

  .imagem-fundo {
    margin-top: 2em;
  }

  .imagem-inicial {
    width: 35%;
    margin-left: 15em;
  }

  #medalhas {
    width: 400px;
    margin-left: 0;
  }

  .imagem-ram {
    margin-left: 65px;
  }

  .ramEmpe {
    width: 23em;
    height: 23em;
  }
}

/* header layout */
@media (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }

  nav ul {
    width: 55em;
  }

  nav a {
    padding-right: 30px;
  }

  #logo {
    margin-left: 20px;
  }

  #logo-nav {
    margin-left: 20px;
  }
  #perfil {
    display: none;
  }

  nav a:visited {
    text-decoration: none;
    transition: color 1.5s ease-out 1ms;
  }

  nav a:hover {
    color: var(--branco);
    text-decoration-line: underline;
  }

  .imagem-inicial {
    margin-left: 13em;
  }

  .form-conteiner {
    width: 85%;
    margin: 0 2em;
  }
}

@media (max-width: 876px) {
  nav ul {
    width: 53em;
  }

  .imagem-fundo,
  .container-grid,
  .info-box {
    margin: 5em 2em;
  }

  .imagem-inicial {
    margin-left: 10em;
  }

  #medalhas {
    margin-left: 26px;
  }

  #h1-info,
  #p-info {
    margin-left: 105px;
  }

  .form-conteiner {
    width: 75%;
    margin: 0 auto;
  }

  #rua {
    padding-right: 70px;
  }

  #bairro {
    padding-right: 300px;
  }

  .footer-container {
    width: 70em;
  }

  .geral,
  .redes-sociais {
    margin-right: 0;
  }
}

@media (max-width: 820px) {
  nav ul {
    width: 50em;
  }
}

@media (max-width: 775px) {
  nav ul {
    width: 48em;
  }

  .imagem-fundo,
  .container-grid,
  .info-box {
    margin: 5em 0;
  }

  .imagem-inicial {
    margin-left: 7em;
  }

  #texto-inicial {
    width: 65%;
  }

  .internos-inicial {
    right: 22em;
  }

  .monitor-inicial {
    right: 28em;
  }

  .brilho-inicial2 {
    right: 16em;
    top: 6em;
  }

  .card {
    width: 700px;
  }

  #titulo-descarte {
    margin-right: 28em;
  }
}

@media (max-width: 725px) {
  nav ul {
    width: 43em;
  }

  .sidebar {
    right: 0.5em;
  }

  .imagem-inicial {
    width: 25em;
    margin-left: 6em;
  }

  .roxo-inicial {
    right: 16em;
    bottom: 9em;
  }

  .brilho-inicial {
    right: 28em;
  }

  .brilho-inicial2 {
    right: 17em;
  }

  #titulo-inicial {
    font-size: 4em;
    margin-left: 3em;
  }

  #texto-inicial,
  .botao {
    margin-left: 12em;
  }

  #medalhas {
    width: 350px;
    margin-left: 0;
  }

  .imagem-ram {
    margin-left: 0;
  }

  .ramEmpe {
    margin-top: 5em;
  }

  #titulo1,
  #texto1,
  #titulo2,
  #texto2 {
    margin-left: 60px;
  }

  #h1-info,
  #p-info {
    margin-left: 115px;
  }

  #p-info {
    width: 65%;
  }

  .form-conteiner {
    width: 65%;
    margin: 0 auto;
  }

  #cep {
    padding-right: 40px;
  }

  .rua-form {
    margin-left: 30px;
  }

  #bairro {
    padding-right: 250px;
  }

  #ecopontos {
    padding: 20px 0;
  }

  .card {
    width: 600px;
  }

  #titulo-descarte {
    margin-right: 23em;
  }

  .geral {
    margin-left: 2em;
  }

  .endereco {
    width: 15em;
  }
}

@media (max-width: 710px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 30em;
    margin-bottom: 13em;
  }

  .imagem-inicial {
    width: 30em;
    margin: 1em auto;
  }

  .internos-inicial {
    top: 6em;
    right: 10em;
    bottom: 0;
  }

  .brilho-inicial {
    top: 18em;
    right: 11em;
    bottom: 0;
  }

  .monitor-inicial {
    right: 10em;
    top: 35em;
  }

  .roxo-inicial {
    top: 15em;
    right: 0;
    bottom: 0;
    left: 10em;
  }

  .brilho-inicial2 {
    top: 37em;
    right: 0;
    left: 10em;
  }

  .teclado-inicial {
    top: 43em;
    right: 0;
    left: 10em;
  }

  .inicio {
    margin: 0;
    text-align: center;
  }

  #titulo-inicial {
    font-size: 74px;
    width: 100%;
    line-height: 0.8em;
    margin: 15px;
  }

  #texto-inicial {
    width: 75%;
    margin: 25px 105px;
    font-size: 20px;
  }

  .botao {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
    margin: auto 16em;
  }

  #h1-info,
  #p-info {
    margin-left: 155px;
  }

  .geral {
    margin-left: 8em;
  }

  .contato {
    margin-right: 8em;
  }
}

@media (max-width: 655px) {
  nav ul {
    width: 40em;
  }

  .sidebar {
    right: 2em;
  }

  .imagem-fundo {
    margin-bottom: 6em;
  }

  .container-grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #titulo1 {
    text-align: center;
    font-size: 1.9em;
    margin: 280px 0 10px 0px;
  }

  #texto1 {
    margin: 0;
    text-align: center;
  }

  .texto-ram {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #titulo2 {
    text-align: center;
    font-size: 1.9em;
    margin: 0;
  }

  #texto2 {
    margin: 10px 105px;
    text-align: center;
  }

  .imagem-medalha {
    width: 100%;
    height: 50%;
  }

  #medalhas {
    width: 400px;
    margin-left: 60px;
  }

  .imagem-ram {
    margin-left: 6em;
  }

  .ramEmpe {
    width: 30em;
    height: 25em;
  }

  .contato {
    margin-right: 8.5em;
  }
}

@media (max-width: 585px) {
  nav ul {
    width: 35em;
  }

  .sidebar {
    right: 1em;
  }

  #texto-inicial {
    width: 65%;
    margin: 25px 135px;
  }

  .imagem-ram {
    margin-left: 3.5em;
  }

  #ecopontos {
    width: 48em;
  }

  #h1-info,
  #p-info {
    margin-left: 135px;
  }

  #cep,
  #rua {
    padding-right: 15px;
  }

  #bairro {
    padding-right: 175px;
  }

  .card {
    width: 540px;
  }

  .imagem-ecoponto {
    width: 280px;
  }

  #titulo-descarte {
    margin-right: 20em;
  }

  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-left: 0;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .redes-sociais,
  .geral,
  .contato {
    width: 430px;
    height: auto;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .footer-container .logo {
    width: 100%;
  }
}

@media (max-width: 530px) {
  nav ul {
    width: 32em;
  }

  .imagem-fundo {
    margin: 1em 5em 6em 6em;
  }

  .imagem-ram {
    margin: 0 4.5em;
  }

  .ramEmpe {
    width: 25em;
    height: 25em;
  }

  #h1-info,
  #p-info {
    margin-left: 155px;
  }

  #p-info {
    width: 60%;
  }

  .form-conteiner {
    width: 57%;
  }

  .cep-rua,
  .bairro-form {
    margin-left: 0;
  }

  .rua-form {
    margin-left: -10px;
  }

  #cep {
    padding-right: 0;
  }

  #bairro {
    padding-right: 95px;
  }

  .card {
    width: 500px;
  }

  .imagem-ecoponto {
    width: 250px;
  }

  #titulo-descarte {
    margin-right: 17em;
  }

  .footer-container input[type="email"] {
    width: 300px;
  }
}

@media (max-width: 490px) {
  nav ul {
    width: 30em;
  }

  .imagem-inicial {
    width: 25em;
  }

  .internos-inicial {
    right: 8em;
    top: 5em;
  }

  .brilho-inicial {
    right: 9em;
    top: 15em;
  }

  .monitor-inicial {
    right: 9em;
    top: 30em;
  }

  .roxo-inicial {
    left: 8em;
    top: 15em;
  }

  .brilho-inicial2 {
    left: 8em;
    top: 34em;
  }

  .teclado-inicial {
    left: 8em;
    top: 40em;
  }

  #h1-info,
  #p-info {
    margin-left: 175px;
  }

  .form-conteiner {
    width: 53%;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .card-content {
    margin-left: 2em;
    margin-bottom: 1em;
  }

  #titulo-descarte {
    margin-top: 1em;
    margin-right: 13em;
  }
}

@media (min-width: 320px) and (max-width: 435px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  nav ul {
    width: 25em;
  }

  .sidebar {
    right: 1em;
    height: 45em;
  }

  .imagem-fundo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 35em;
    margin-top: 1em;
  }

  .internos-inicial {
    position: relative;
    right: 8em;
    top: 5em;
  }

  .brilho-inicial {
    position: relative;
    right: 8em;
    top: 15em;
    z-index: -1;
  }

  .monitor-inicial {
    position: relative;
    right: 8em;
    top: 25em;
  }

  .roxo-inicial {
    position: relative;
    left: 8em;
    top: 15em;
  }

  .brilho-inicial2 {
    position: relative;
    left: 8em;
    top: 29em;
    z-index: -1;
  }

  .teclado-inicial {
    position: relative;
    left: 8em;
    top: 35em;
  }

  .imagem-inicial {
    width: 350px;
    margin: 0 0 12em 0;
    z-index: -1;
  }

  .inicio {
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 10em;
  }

  #titulo-inicial {
    font-size: 4em;
    width: 90%;
    margin: 0 0 15px 0;
    text-align: center;
  }

  #texto-inicial {
    width: 75%;
    margin: 0;
    text-align: center;
    font-size: 1em;
  }

  .botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 15px;
    margin-left: 16em;
  }

  .container-grid {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
  }

  #texto1 {
    margin: 20px 70px -40px 70px;
    text-align: center;
  }

  #texto2 {
    margin: 20px 70px;
    text-align: center;
  }

  #titulo1 {
    text-align: center;
    font-size: 1.7em;
    margin: 280px 0 10px 0px;
  }

  #titulo2 {
    text-align: center;
    font-size: 1.5em;
    margin: 0px 0 0 0px;
  }

  .imagem-medalha {
    width: 100%;
    height: 50%;
  }

  #medalhas {
    width: 350px;
    margin-left: 60px;
  }

  .imagem-ram {
    margin-left: 65px;
  }

  .ramEmpe {
    width: 20em;
    margin: 0;
  }

  .texto-ram {
    position: relative;
    bottom: 5em;
  }

  #ecopontos {
    max-width: 80%;
    height: 25em;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  #h1-info {
    text-align: center;
    width: 15em;
  }

  #p-info {
    text-align: center;
    width: 15em;
    margin-bottom: 30px;
  }

  #h1-info,
  #p-info {
    margin-left: 0;
  }

  .form-conteiner {
    padding: 10px;
    flex-direction: row;
    width: 300px;
  }

  input {
    width: 200px;
    height: 35px;
    max-width: 100%;
    margin-right: 0px;
  }

  .cep-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    max-width: 100%;
  }

  .cep-rua {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .rua-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 0 20px;
  }

  #cep,
  #rua,
  #bairro {
    padding-right: 65px;
  }

  .bairro-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .btn-lupa {
    margin: 30px 0 0 50px;
  }

  #titulo-descarte {
    width: 100%;
    margin: 0;
    margin-left: 105px;
  }

  .card {
    max-width: 750px;
    width: 100%;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-content p {
    margin-left: 50px;
    max-width: 80%;
    margin-top: 15px;
  }

  #info-ecoponto,
  #nome-ecoponto {
    margin-left: 50px;
  }

  .imagem-ecoponto {
    margin: 15px 0;
  }

  .footer-container {
    width: 100%;
    height: auto;
    position: none;
    display: flex;
    flex-direction: column;
  }

  .geral {
    margin-left: 0;
  }

  .redes-sociais,
  .contato {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .redes-sociais,
  .geral {
    width: 270px;
  }

  .contato {
    width: 277px;
  }

  .footer-container .descricao-footer ul {
    list-style-type: none;
    padding: 0px 5px;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .email {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 55px;
  }

  #email {
    height: 20px;
  }

  .footer-container .logo {
    width: 100%;
  }
}
